/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@use '../../global.scss';

.app-badges {
  max-width: 310px !important;
  text-align: center !important;
}

.app-badge {
  padding: global.$s-10 global.$s-0 global.$s-5 !important;

  img {
    height: 44px !important;
    margin: 0 auto !important;
  }
}

.text-footer-appBadges {
  @extend .text-footer;
}
