@import '../../../../fxa-content-server/app/styles/variables';

.new-user-email-form {
    .input-row--checkbox {
        margin: 24px 0 5px;

        label input[type="checkbox"] {
            margin-right: 6px;
            margin-left: 8px;
        }
    }
}
