@import '../../../../fxa-content-server/app/styles/variables';

.new-user-email-form {
    position: relative;

    .sign-in-copy {
        color: $grey-50;
        font-weight: 400;
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 20px;

        a {
            color: $grey-50;
            text-decoration: underline;
        }
    }

    .label-text {
        font-weight: 600;
        font-size: 15px;
        color: $grey-50;
    }

    .input-row--checkbox {
        margin: 24px 0 5px;

        label input[type="checkbox"] {
            margin-right: 6px;
            margin-left: 8px;
        }
    }
}

.assurance-copy {
    display: flex;
    justify-content: center;
    align-items: center;
}
