@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../../../../../libs/shared/styles/src/lib/index.css';

body {
  @apply grid min-h-[100vh] tablet:justify-center text-base font-body bg-grey-10 text-grey-900;
}

.row-divider-grey-200 {
  @apply border-b border-grey-200;
}

/* Container classes */
.main-content {
  @apply mt-16 mx-7 min-h-[calc(100vh_-_4rem)];
  @apply tablet:grid tablet:grid-cols-[minmax(min-content,500px)_minmax(20rem,1fr)] tablet:grid-rows-[min-content] tablet:gap-x-8 tablet:mt-20 tablet:mb-auto;
  @apply desktop:grid-cols-[600px_1fr];
}

.payment-panel {
  @apply mb-6 tablet:mt-6 tablet:min-w-[18rem] tablet:max-w-xs tablet:col-start-2 tablet:col-end-auto tablet:row-start-1 tablet:row-end-3;
}

.page-title-container {
  @apply bg-white shadow-sm shadow-grey-300 text-center mt-0 mb-auto pt-5 px-4 pb-px tablet:mx-0;
}

.payment-error ~ .payment-panel,
.payment-confirmation ~ .payment-panel {
  @apply mt-6;
}

.payment-error ~ .payment-panel .component-card {
  @apply rounded-t-lg;
}
