/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.info {
  @apply flex gap-2 items-center mb-5 p-3 rounded bg-grey-50 dark:bg-grey-700 text-black dark:text-grey-100;
}

.info-text {
  @apply grow ltr:pl-5 rtl:pr-5 text-xs font-bold;

  /* REACT NOTE: probably don't need this nesting, add class in JSX instead */
  a {
    @apply underline;
  }
}

.success {
  @apply text-xs text-grey-900 dark:text-grey-900 bg-green-500 font-bold p-3 my-3 hidden rounded;

  /* REACT NOTE: probably don't need this nesting, add class in JSX instead */
  a {
    @apply underline;
  }
}

.error {
  @apply text-xs bg-red-700 font-bold p-3 my-3 hidden rounded text-white;

  /* REACT NOTE: probably don't need this nesting, add class in JSX instead */
  a {
    @apply underline;
  }
}

.dismiss {
  @apply bg-contain h-3 w-3;
}

.dismiss-container {
  @apply flex gap-2 items-center;
}
