version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 6
    labels:
      - "maintenance"
      - "dependencies"
    reviewers:
      - "@mozilla/fxa-devs"
    ignore:
      - dependency-name: "@types/*"
      - dependency-name: "web-push"
      - dependency-name: "jest-watch-typeahead"
