.circleci
.vscode
.git
.DS_Store
**/coverage
**/docs
!packages/fxa-auth-server/docs/swagger
!packages/fxa-customs-server/docs/swagger
**/node_modules
#**/test
**/tests
**/.nyc_output
**/fxa-content-server-l10n
packages/*/build
packages/fxa-auth-server/.mail_output
packages/fxa-dev-launcher
packages/fxa-content-server/dist

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
