.circleci
.vscode
.git
**/coverage
**/docs
**/node_modules
#**/test
**/tests
**/.nyc_output
**/fxa-content-server-l10n
packages/*/build
packages/*/static/bower_components
packages/fxa-auth-server/.mail_output
!packages/fxa-auth-server/docs/pushpayloads.schema.json
packages/fxa-amplitude-send
packages/fxa-circleci
packages/fxa-dev-launcher
packages/fxa-email-event-proxy
packages/fxa-email-service
packages/fxa-content-server/dist
packages/fxa-geodb/db
