# Repo root
/loop-server
/syncserver
/selenium-*
/servers_android.json
/pm2
/dump.rdb

# Secrets
.env
.keys
public-key.json
secret-key.json
secret*
*.gpg
secrets.json

# Build and temp files
**/build
**/dist
**/temp
**/version.json
**/storybook-static
*.sass-cache
*.map
.es5
.es5cache
/artifacts
/packages/test.list
.last-audit
.eslintcache
storybooks-publish

# Dependencies
**/node_modules
**/browser_modules
**/bower_components

# Logging
*.log*
**/logs

# Testing
coverage.html
**/coverage
**/.nyc_output

# System files
*~
\#*\#
.\#*
.DS_Store
Thumbs.db

## Package-specific ##

# circleci
.circleci/local.yml

# browserid-verifier
packages/browserid-verifier/loadtest/venv
packages/browserid-verifier/loadtest/*.pyc

# fxa-amplitude-send
packages/fxa-amplitude-send/data.stage
packages/fxa-amplitude-send/lambda.zip
packages/fxa-amplitude-send/*.parquet

# fxa-auth-db-mysql
packages/fxa-auth-db-mysql/config/dev.js
packages/fxa-auth-db-mysql/sandbox
packages/fxa-auth-db-mysql/*.swp

# fxa-auth-server
packages/fxa-auth-server/fxa-auth-db-mysql
packages/fxa-auth-server/sandbox
packages/fxa-auth-server/config/key.json
packages/fxa-auth-server/config/oldKey.json
packages/fxa-auth-server/config/vapid-keys.json
packages/fxa-auth-server/*.swp
packages/fxa-auth-server/test/load/bin
packages/fxa-auth-server/test/load/lib*
packages/fxa-auth-server/test/load/include
packages/fxa-auth-server/test/scripts/bulk-mailer/nodemailer-mocks/test_output
packages/fxa-auth-server/*.pyc
packages/fxa-auth-server/server.pot
packages/fxa-auth-server/.mail_output
packages/fxa-auth-server/fxa-content-server-l10n

# fxa-content-server
packages/fxa-content-server/pids
packages/fxa-content-server/results
packages/fxa-content-server/lib-cov
packages/fxa-content-server/app/styles/*.css
packages/fxa-content-server/app/scripts/processed
packages/fxa-content-server/server/config/local.json
packages/fxa-content-server/app/i18n
packages/fxa-content-server/fxa-content-server-l10n/
packages/fxa-content-server/locale/*/*/*.po
packages/fxa-content-server/rerun.txt
packages/fxa-content-server/.tmp
packages/fxa-content-server/.tscompiled

# fxa-customs-server
packages/fxa-customs-server/test/mocks/temp.netset

# fxa-email-event-proxy
packages/fxa-email-event-proxy/*.zip

# fxa-email-service
packages/fxa-email-service/**/*.rs.bk
packages/fxa-email-service/config/local.*
packages/fxa-email-service/fxa-auth-db-mysql
packages/fxa-email-service/target

# fxa-geodb
packages/fxa-geodb/db

# fxa-js-client
packages/fxa-js-client/components
packages/fxa-js-client/docs
packages/fxa-js-client/fxa-auth-server

# fxa-profile-server
packages/fxa-profile-server/var
packages/fxa-profile-server/BUCKET_NAME
