CIRRUS_REMOTE_SETTING_URL=https://firefox.settings.services.mozilla.com/v1/buckets/main/collections/nimbus-web-experiments/records
CIRRUS_REMOTE_SETTING_REFRESH_RATE_IN_SECONDS=10
CIRRUS_APP_ID=test_app_id
CIRRUS_APP_NAME=test_app_name
CIRRUS_CHANNEL=release
CIRRUS_FML_PATH=/cirrus/feature_manifest/sample.yml
# CIRRUS_SENTRY_DSN=dsn_url
CIRRUS_INSTANCE_NAME=cirrus_pod_app_v1
CIRRUS_ENV_NAME=test_app_stage
CIRRUS_GLEAN_MAX_EVENTS_BUFFER=10
