@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.payment-processing {
  background: $color-white;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  color: rgba(12, 12, 13, 0.8);
  min-height: 100%;
  padding: 20px 16px 0;
  width: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #loading-spinner {
    margin: 140px auto 100px;
    position: relative;
  }

  p {
    margin: 0;
    color: $grey-40;
  }

  @include min-width('tablet') {
    border-top: 0;
  }

  @include min-width('desktop') {
    padding-top: 12px;
  }

  @include min-width('desktop') {
    min-width: 60%;
    padding: 20px 48px 0;
  }
}
