@import '../../styles/mixins';
@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.subscription-title + .payment-processing {
  @include checkout-title();
}

.payment-processing {
  @include checkout-view();
  display: flex;
  flex-direction: column;

  .footer {
    margin-top: auto;
  }

  #loading-spinner {
    margin: 60px auto;
    position: relative;
  }
}
