@import '../../styles/mixins';
@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.subscription-title + .payment-confirmation {
  @include checkout-title();
}

.payment-confirmation {
  @include checkout-view();

  .circled-check {
    max-height: 48px;
  }

  p {
    margin: unset;
  }

  > img {
    margin: 12px;
  }

  > p {
    margin: 12px 0;
  }

  > div {
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 24px;
  }

  h2 {
    font-size: 22px;
    font-weight: normal;
    margin: 24px 0 12px;
  }

  h3 {
    font-size: 15px;
    font-weight: 600;
  }

  header {
    border-bottom: 1px solid #E7E7E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: initial;
    margin-top: 20px;
    padding-bottom: 32px;
    text-align: center;

    @include min-width('desktop') {
      margin-top: 8px;
    }

    p {
      color: #6d6d6e;
      max-width: 400px;
    }
  }

  .bottom-row {
    color: $grey-50;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p:last-child {
      color: $grey-50;
    }
  }

  .footer {
    p {
      margin-top: 11px;
    }
  }
}
