// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.email-blocks {
  form {
    flex-wrap: wrap;
    margin-top: 30px;
  }

  label {
    color: var(--color-black-80);
    flex-basis: 100%;
    font-size: var(--body-font-size-xs);
    font-weight: var(--font-weight-normal);
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  input {
    border: var(--input-border-width) solid var(--color-black-20);
    font-size: 16px;
    height: var(--input-height);
    padding: var(--input-padding-y) 10px;
    width: 240px;

    &:focus {
      border-color: var(--color-black-50);
    }
  }

  &-search-button {
    background: 15px 12px no-repeat url('../../images/icon-search.svg')
      var(--color-black-05);
    border: var(--input-border-width) solid var(--color-black-20);
    border-left: 0;
    transition: var(--transition-duration) background-color;
    width: 45px;

    &:hover {
      background-color: var(--color-black-10);
      cursor: pointer;
      transition: var(--transition-duration) background-color;
    }

    &:active {
      background-color: var(--color-black-20);
      transition: var(--transition-duration) background-color;
    }
  }

  hr {
    margin: 40px 0 30px;
  }
}
