version: 2.1

executors:
  content-server-executor:
    resource_class: medium+
    docker:
      - image: mozilla/fxa-circleci
      - image: redis
      - image: memcached
      - image: pafortin/goaws
      - image: circleci/mysql:5.7.27
      - image: mozilla/fxa-email-service
        environment:
          NODE_ENV: dev
          FXA_EMAIL_ENV: dev
          FXA_EMAIL_LOG_LEVEL: debug
          RUST_BACKTRACE: 1
    environment:
      SKIP_PACKAGES: false

commands:
  base-install:
    parameters:
      package:
        type: string
        default: none
    steps:
      - checkout
      - run: ./.circleci/base-install.sh << parameters.package >>
  test-content-server-part:
    parameters:
      index:
        type: integer
        default: 0
      total:
        type: integer
        default: 6
    steps:
      - base-install:
          package: all
      - run:
          name: Running test section << parameters.index >> of << parameters.total >>
          environment:
            CIRCLE_NODE_INDEX: << parameters.index >>
            CIRCLE_NODE_TOTAL: << parameters.total >>
          command: ./.circleci/test-package.sh fxa-content-server
      - store_artifacts:
          path: ~/.pm2/logs
          destination: logs
      - store_artifacts:
          path: ~/screenshots
          destination: screenshots

jobs:
  test-package:
    docker:
      - image: circleci/node:12
      - image: redis
      - image: memcached
      - image: pafortin/goaws
      - image: circleci/mysql:5.7.27
    parameters:
      package:
        type: string
    environment:
      SKIP_PACKAGES: true
    steps:
      - base-install:
          package: << parameters.package >>
      - run: ./.circleci/test-package.sh << parameters.package >>
      - run:
          name: Reporting code coverage...
          command: bash <(curl -s https://codecov.io/bash) -X gcov

  test-many:
    docker:
      - image: circleci/node:12
      - image: circleci/mysql:5.7.27
      - image: jdlk7/firestore-emulator
      - image: memcached
      - image: redis
    environment:
      SKIP_PACKAGES: true
    steps:
      - base-install
      - run:
          name: Testing...
          command: |
            PACKAGES=(\
            '123done' \
            'browserid-verifier' \
            'fortress' \
            'fxa-admin-panel' \
            'fxa-admin-server' \
            'fxa-auth-db-mysql' \
            'fxa-react' \
            'fxa-customs-server' \
            'fxa-email-event-proxy' \
            'fxa-event-broker' \
            'fxa-geodb' \
            'fxa-graphql-api' \
            'fxa-js-client' \
            'fxa-metrics-processor' \
            'fxa-payments-server' \
            'fxa-profile-server' \
            'fxa-settings' \
            'fxa-shared' \
            'fxa-support-panel' \
            )
            for p in "${PACKAGES[@]}"; do
              ./.circleci/test-package.sh $p
            done
      - run:
          name: Reporting code coverage...
          command: bash <(curl -s https://codecov.io/bash) -X gcov

  test-content-server-0:
    executor: content-server-executor
    steps:
      - test-content-server-part:
          index: 0

  test-content-server-1:
    executor: content-server-executor
    steps:
      - test-content-server-part:
          index: 1

  test-content-server-2:
    executor: content-server-executor
    steps:
      - test-content-server-part:
          index: 2

  test-content-server-3:
    executor: content-server-executor
    steps:
      - test-content-server-part:
          index: 3

  test-content-server-4:
    executor: content-server-executor
    steps:
      - test-content-server-part:
          index: 4

  test-content-server-5:
    executor: content-server-executor
    steps:
      - test-content-server-part:
          index: 5

  test-email-service:
    resource_class: large
    docker:
      - image: circleci/rust:latest-node
      - image: mysql:5.7.27
        environment:
          - MYSQL_DATABASE: fxa
          - MYSQL_ALLOW_EMPTY_PASSWORD: yes
          - MYSQL_ROOT_PASSWORD: ''
      - image: redis
    environment:
      SKIP_PACKAGES: true
    steps:
      - base-install:
          package: fxa-email-service
      - run: cargo install cargo-audit
      - run: ./packages/fxa-email-service/scripts/test-ci.sh
      - store_artifacts:
          path: artifacts

  deploy-packages:
    resource_class: small
    docker:
      - image: circleci/node:12
    environment:
      SKIP_PACKAGES: true
      DOCKER_BUILDKIT: 1
    steps:
      - base-install
      - setup_remote_docker:
          version: 18.09.3
      - run:
          name: Build docker images
          command: ./.circleci/build-all.sh
          no_output_timeout: 1h
      - run:
          name: Push to docker hub
          command: ./.circleci/deploy-all.sh
      - store_artifacts:
          path: artifacts

  # this job is manually triggered as needed. see _dev/docker/circleci/README.md
  build-and-deploy-fxa-circleci:
    resource_class: small
    docker:
      - image: circleci/node:12
    environment:
      SKIP_PACKAGES: true
      DOCKER_BUILDKIT: 1
    steps:
      - setup_remote_docker:
          version: 18.09.3
      - checkout
      - run:
          name: Build & deploy fxa-circleci
          command: ./.circleci/build-and-deploy-fxa-circleci.sh
          no_output_timeout: 1h
      - store_artifacts:
          path: artifacts

workflows:
  test_pull_request:
    jobs:
      - test-many:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - test-package:
          name: test-auth-server
          package: fxa-auth-server
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - test-content-server-0:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - test-content-server-1:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - test-content-server-2:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - test-content-server-3:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - test-content-server-4:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - test-content-server-5:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/
      - test-email-service:
          # since email-service is expensive
          # to build and rarely changes
          # we only run it on branches
          # starting with "email-service-"
          filters:
            branches:
              only:
                - /^email-service-.*/
            tags:
              ignore: /.*/
  deploy_master:
    jobs:
      - deploy-packages:
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
  test_and_deploy_tag:
    jobs:
      - test-many:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - test-package:
          name: test-auth-server
          package: fxa-auth-server
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - test-content-server-0:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - test-content-server-1:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - test-content-server-2:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - test-content-server-3:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - test-content-server-4:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - test-content-server-5:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - deploy-packages:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
          requires:
            - test-many
            - test-auth-server
            - test-content-server-0
            - test-content-server-1
            - test-content-server-2
            - test-content-server-3
            - test-content-server-4
            - test-content-server-5
