language: node_js

node_js:
  - "6"
  - "8"

sudo: false

notifications:
  irc:
    channels:
      - 'irc.mozilla.org#fxa-bots'
    use_notice: false
    skip_join: false

script:
  - npm test
  - npm run lint
