@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.coupon-component {
  font-size: 15px;
  margin: 32px 0;
  width: 100%;
  background: $color-white;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);

  @include min-width('tablet') {
    max-width: 327px;
  }

  @include max-width('tablet') {
    margin: 24px 0 0 0;
    grid-row: 3/4;
  }

  @media (orientation: portrait) and (max-width: 429px) and (max-height: 927px) {
    margin: 24px 0 0 0;
    grid-row: 3/4;
  }

  @media (orientation: landscape) and (max-width: 927px) and (max-height: 429px) {
    margin: 24px 0 0 0;
    grid-row: 3/4;
  }

  form,
  .flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .input-row,
  .coupon-details {
    margin: 0 0 0 16px;
    padding: 0 16px 16px 0;
  }

  .button {
    max-height: 40px;
    width: 110px;
    margin: 0 16px 16px 0;
  }

  @media (min-width: 521px) {
    .button {
      max-height: 48px;
    }
  }

  @media (orientation: landscape) and (max-width: 640px) {
    .button {
      max-height: 40px;
    }
  }

  .coupon-error {
    margin: 0px 16px 16px 16px;
    padding-bottom: 0px;
    width: 57%;
    color: red;

    @include max-width('tablet') {
      padding-bottom: 16px;
    }

    @media (orientation: landscape) and (max-width: 927px) and (max-height: 429px) {
      padding-bottom: 16px;
    }
  }

  .coupon-header {
    margin: 0 16px;
    padding: 16px 0;

    h4 {
      margin: 0;
    }
  }

}
