@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.coupon-component {
  font-size: 15px;
  margin: 32px 0;

  @include min-width('tablet') {
    padding-top: 285px;
  }

  @include max-width('tablet') {
    margin: 0 16px;
    margin-top: 24px;
    border-radius: 0 0 8px 8px;
    position: relative;
    grid-row: 3/4;
  }

  .coupon-component-inner {
    @include min-width('tablet') {
      max-width: 327px;
      position: fixed;
    }
    width: 100%;
    background: $color-white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);

    form,
    .flex {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }

    .input-row,
    .coupon-details {
      margin: 0;
      padding: 0 16px 0 0;
      padding-bottom: 16px;
      width: 57%;

    }

    button {
      max-height: 40px;
      width: 110px;
    }

    @media (min-width: 521px), (orientation: landscape) and (min-width: 641px) {
      button {
        max-height: 48px;
      }
    }

    .coupon-error {
      margin: 16px;
      padding-bottom: 10px;
      width: 57%;
      color: red;
    }
  }

  .coupon-header {
    margin: 0 16px;
    padding: 16px 0;

    h4 {
      margin: 0;
    }
  }
}
