@import 'settings';
@import 'public/assets/fonts/fira/fira';
@import 'bower_components/foundation/scss/foundation';

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
.button,
th,
p,
legend,
label {
  font-family: 'Fira Sans';
}

.title-area {
  a {
    font-weight: 300;
  }
  img {
    width: 75px;
    margin-right: 10px;
  }
}

.table {
  width: 100%;
  &.table-clients {
    a {
      font-weight: bold;
      font-size: 20px;
      padding: 10px 0;
      display: block;
    }
  }
  td.table-actions {
    width: 25%;
    text-align: center;
  }
}

.login-panel {
  text-align: center;
  img {
    width: 270px;
    margin: 10px 0;
  }
  h3 {
    font-weight: lighter;
    font-size: 20px;
  }
  h4 {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

.alert-box.secondary-notification {
  border-color: #c7c7c7;
  background: #e7e7e7;
  color: $primary-color;
  text-align: center;
}

.centered {
  text-align: center;
}
