@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.payment-confirmation + .plan-details-component {
  @include max-width('tablet') {
    grid-row: 3/4;
    margin-top: 24px;
  }

  @include max-width('tablet') {
    margin: 16px 16px 32px;
    .plan-details-component-card {
      box-shadow: 0 -1px white, 0 1px white,
        -2px 2px 2px -2px rgba(12, 12, 13, 0.1),
        2px 2px 2px -2px rgba(12, 12, 13, 0.1);
      text-align: center;
      position: relative;
    }
  }
}

.product-payment + .plan-details-component {
  @include max-width('tablet') {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
    .plan-details-component-card {
      border-radius: 0 0 8px 8px;
      box-shadow: 0 -1px white, 0 1px white,
        -2px 2px 2px -2px rgba(12, 12, 13, 0.1),
        2px 2px 2px -2px rgba(12, 12, 13, 0.1);
      text-align: center;
      position: relative;
    }
  }
}

.plan-details-component {
  @include min-width('tablet') {
    display: flex;
    flex-direction: column;
    height: 0px;
    grid-row: auto;
    padding: 0;
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    height: 0px;
    grid-row: auto;
    padding: 0;
  }

  @include max-width('tablet') {
    border-radius: 0 0 8px 8px;
    margin: 0 16px 0 16px;
    grid-row: 2/3;

    .plan-details-component-card {
      border-radius: 0 0 8px 8px;
      box-shadow: 0 -1px white, 0 1px white,
        -2px 2px 2px -2px rgba(12, 12, 13, 0.1),
        2px 2px 2px -2px rgba(12, 12, 13, 0.1);
    }
  }

  @media (orientation: landscape) and (max-width: 927px) and (max-height: 429px) {
    border-radius: 0 0 8px 8px;
    margin: 0 16px 0 16px;
    grid-row: 2/3;

    .plan-details-component-card {
      border-radius: 0 0 8px 8px;
      box-shadow: 0 -1px white, 0 1px white,
        -2px 2px 2px -2px rgba(12, 12, 13, 0.1),
        2px 2px 2px -2px rgba(12, 12, 13, 0.1);
    }
  }

  @media (orientation: portrait) and (max-height: 927px) and (max-width: 429px) {
    border-radius: 0 0 8px 8px;
    margin: 0 16px 0 16px;
    grid-row: 2/3;

    .plan-details-component-card {
      border-radius: 0 0 8px 8px;
      box-shadow: 0 -1px white, 0 1px white,
        -2px 2px 2px -2px rgba(12, 12, 13, 0.1),
        2px 2px 2px -2px rgba(12, 12, 13, 0.1);
    }
  }

  /* can be removed once '@tailwind base' is enabled */
  .up-arrow::before {
    transform: rotate(180deg);
  }
}
