@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.plan-details-component {
  font-size: 15px;
  margin: 80px 24px;
  width: 342px;

  .plan-details-component-card {
    background: $color-white;
    border-radius: 8px;
    box-shadow: $card-box-high;
    padding: 20px 20px 0;
    width: 342px;
  }

  .plan-details-logo-wrap {
    align-items: center;
    background: #20123a; // this will need to be pulled from a source per product in future
    border-radius: 8px;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    width: 64px;
  }

  .plan-details-logo-wrap img {
    height: 32px;
    width: 32px;
  }

  .plan-details-header-wrap {
    display: flex;
  }

  .plan-details-heading-wrap {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: left;

    .plan-details-product {
      color: $grey-80;
      font-size: 15px;
      font-weight: 600;
      line-height: 19px;
      margin: 0;
      word-wrap: break-word;
    }

    .plan-details-description {
      color: $grey-80;
      margin-top: 4px;
    }
  }

  .plan-details-header {
    border-bottom: 1px solid $grey-30;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .plan-details-header p {
    margin: 0;
  }

  .plan-details-list {
    border-bottom: 1px solid $grey-30;
    color: rgba(12, 12, 13, 0.8);
    margin-top: 10px;
    text-align: left;

    h4 {
      margin: 16px 0;
    }

    ul {
      color: $grey-50;
      margin: 0;
      padding-left: 15px;
    }

    li {
      margin-bottom: 16px;

      &::marker {
        font-size: 12px;
      }
    }

    @include min-width('tablet') {
      border-bottom: 0;
      padding-bottom: 20px;
    }
  }

  .footer {
    text-align: center;
  }

  .btn {
    background: none;
    color: $blue-60;
    font-size: 15px;
    font-weight: normal;
    height: initial;
    line-height: 22px;
    margin: 9px 0;
    outline: none;
    padding: 7px 6px 7px 25px;
    position: relative;
    width: initial;

    &:focus {
      border: 1px solid #0a84ff;
      box-shadow: unset;
      padding: 6px 6px 6px 25px;
    }
  }

  .arrow::before {
    background: url('./images/chevron.svg');
    content: '';
    display: inline-block;
    height: 16px;
    left: 0px;
    position: absolute;
    top: 10px;
    width: 24px;
  }

  .up-arrow::before {
    transform: rotate(180deg);
  }

  .plan-details-total {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;

    p {
      margin: 0;
      padding: unset;
    }

    .label {
      color: #6D6D6E;
      font-weight: 600;
      margin-top: 5px;
    }

    .total-price {
      font-size: 22px;
    }
  }
}
