@mixin checkout-title() {
  border-top: 0;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -1px white, 0 1px white, -2px 2px 2px -2px rgba(12, 12, 13, 0.1),
    2px 2px 2px -2px rgba(12, 12, 13, 0.1);

  @include max-width("tablet") {
    position: relative;
  }
}

@mixin checkout-view() {
  grid-row: 2/3;
  background: $color-white;
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1);
  border-radius: 8px;
  color: rgba(12, 12, 13, 0.8);
  padding: 16px 16px 60px;

  @include min-width("tablet") {
    grid-row: 2/3;
    margin: 0 0 32px;
  }

  @include min-width("desktop") {
    min-width: 60%;
    padding: 0 48px 48px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  p {
    margin: 0;
    color: $grey-50;
  }

  .footer {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .button {
      align-items: center;
      background: #0060df;
      color: $color-white;
      display: flex;
      font-size: 15px;
      font-weight: 600;
      height: 48px;
      justify-content: center;
      margin: 32px 0;
      text-decoration: none;
      width: 100%;
    }

    .button:hover {
      background: #003eaa;
    }

    .button:active {
      background: #002275;
    }
  }
}
