/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* To ensure these imports are properly processed the tailwindcss-cli used in the
 * build-css script, needs to have the --postcss parameter provided so that it reads
 * the config from postcss.config.js */
/* Once `@tailwind base` can be enabled for Payments, change this import to tailwind.css */
@import '../../../fxa-react/styles/index.css';

/* '@tailwind base' should be enabled once Payments is completely converted to Tailwind.
 * We must also modify payments' tailwind config file and remove the .preflight edit */
/* @tailwind base; */

@tailwind components;
@tailwind utilities;

/* borders */
/* after '@tailwind base' has been enabled for payments remove border-0 border-solid */
.row-divider-grey-200 {
  @apply border-b border-0 border-solid border-grey-200;
}

/* footer copy */
.legal-blurb {
  @apply clear-both text-xs leading-5 text-center;
}

.legal-blurb a {
  @apply font-normal underline;
}

.legal-heading {
  @apply font-semibold text-grey-500;
}

.payment-error .legal-heading {
  @apply mt-5;
}

/* shared styles used in PlanDetails and PlanUpgradeDetails */
.accordion-btn {
  @apply bg-transparent border-transparent cursor-pointer text-blue-500 leading-5 my-2 outline-none py-2 pr-2 pl-6 relative w-auto h-auto focus:border focus:border-solid focus:border-blue-400 focus:py-2 focus:pr-4 focus:pl-10 focus:shadow-none;
}

.arrow {
  @apply before:bg-[url('../components/PlanDetails/images/chevron.svg')] before:content-[''] before:absolute before:h-4 before:w-6 before:top-2.5  before:left-0 focus:before:left-3.5;
}

.coupon-info {
  @apply flex items-center justify-center gap-2 pt-6 text-sm text-green-700;
}

.plan-details-component-card {
  @apply bg-white rounded-lg shadow-sm shadow-grey-300;
}

.plan-details-component-inner {
  @apply tablet:max-w-xs;
}

.plan-details-description {
  @apply text-grey-400 mt-1 mb-0;
}

.plan-details-header {
  @apply flex justify-between my-0 mx-4 py-4 px-0;
}

.plan-details-heading-wrap {
  @apply pl-4 text-left;
}

.plan-details-logo-wrap {
  @apply flex h-16 items-center justify-center rounded-lg shrink-0 w-16;
}

.plan-details-product {
  @apply text-grey-600 text-sm leading-5 my-0 mr-1 ml-0 break-words;
}

.plan-details-total {
  @apply py-6 w-full;
}

.plan-details-total-inner {
  @apply flex items-center justify-between gap-2 text-grey-600 text-sm;
}

.total-label {
  @apply font-semibold text-base;
}

.total-price {
  @apply font-semibold overflow-hidden text-ellipsis text-lg whitespace-nowrap;
}
