@import '../../../../fxa-content-server/app/styles/breakpoints';

.subscription-title {
  background-color: #fff;
  box-shadow: 0 -1px white, 0 1px white, -2px 2px 2px -2px rgba(12, 12, 13, 0.1), 2px 2px 2px -2px rgba(12, 12, 13, 0.1);  text-align: center;

  .title {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: rgba(12, 12, 13, 0.8);
    margin-bottom: 0;
    padding-bottom: 6px;
  }

  @include max-width('tablet') {
    margin: 0 16px auto;
    border-bottom: 0;
    border-top: 0;
    position: relative;
    z-index: 1;
    grid-row: 1/2;
  }

  @include min-width('tablet') {
    text-align: center;

    h2 {
      font-weight: normal;
      margin-top: 20px;
    }
  }

  .subtitle {
    color: #008787;
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: unset;
  }

  .subtitle::before {
    background-image: url('./check.svg');
    background-position: center 2px;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 24px;
    margin-right: 2px;
    width: 24px;
  }
}
