x-alert {
	position: fixed;
	top:0;
	display: none;
	width:90%;
	padding:5%;
	background: #fff;
	z-index: 99999;
}

 {

}

x-alert[active] {
	/* flex box container to center inner elements */
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;

	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flex;
	display:      -o-flex;
	display:         flex;

	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;

	-webkit-align-items: center;
	   -moz-align-items: center;
	    -ms-align-items: center;
	     -o-align-items: center;
	        align-items: center;

	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;

	-webkit-justify-content: center;
	   -moz-justify-content: center;
	    -ms-justify-content: center;
	     -o-justify-content: center;
	        justify-content: center;
	
	-webkit-box-orient: vertical;
	   -moz-box-orient: vertical;
	    -ms-box-orient: vertical;
	     -o-box-orient: vertical;
	        box-orient: vertical;
	
	-webkit-flex-direction: column;
	   -moz-flex-direction: column;
	    -ms-flex-direction: column;
	     -o-flex-direction: column;
	        flex-direction: column;
}

x-alert[location='bottom'] {
	top: auto;
	bottom: 10px;
}

x-alert[location='top'] {
	top: 10px;
	bottom: auto;
}

x-alert h1, x-alert h2, x-alert h3, x-alert h4, x-alert h5, x-alert h6 {
	margin-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #bbb;
}

.x-alert-primary, .x-alert-secondary {
	background: #d6d6d6;
	display: block;
	margin: 1.6em auto;
	width: 150px;
	padding:3%;
	border:none;
	border-bottom:1px solid #9d9d9d;
	clear:both;
	text-transform: capitalize;
  	border-radius: none;
  	-moz-border-radius:none;
  	color: black;
  	text-decoration: none;
  	text-align: center;
  	font-size: .9em;

}

.x-alert-overlay {
	display: none;
}

.x-alert-overlay[active] {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}
