// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.qr-code-border {
  border-color: rgba(0, 164, 154, 0.1);
  border-radius: 0.75em;
  border-width: 0.5em;
}
