// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.cta-neutral,
.cta-primary {
  @apply py-2 px-5 rounded w-full inline-block text-center border font-header box-border;
}

.cta-neutral {
  @apply bg-grey-10 border-grey-200;

  &:hover {
    @apply border-grey-200 bg-grey-100 text-grey-400;
  }

  &:active {
    @apply border-grey-400 bg-grey-100 text-grey-400;
  }

  &:focus {
    @apply bg-white;
  }
}

.cta-primary {
  @apply bg-blue-500 border-blue-600 text-white;

  &:hover {
    @apply bg-blue-600 border-blue-600;
  }

  &:active {
    @apply bg-blue-800 border-blue-800;
  }

  &:focus {
    @apply border-0;
  }
}

.cta-base {
  @apply text-base mt-6;
}

@screen mobileLandscape {
  .cta-base {
    @apply text-xs py-1 px-5 mt-0;
  }

  .cta-primary,
  .cta-neutral {
    @apply w-auto;
  }
}
