/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

// `@layer components` allows us to use classes like `mobileLandscape:drop-down-menu`
@layer components {
  .drop-down-menu {
    @apply w-64 bg-white absolute shadow-md rounded-lg;

    &::before {
      content: '';
      @apply caret-top absolute -top-3;

      [dir='ltr'] & {
        @apply left-55;
      }

      [dir='rtl'] & {
        @apply right-55;
      }
    }
  }
}
