/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.AvatarCropper .MuiSlider-root {
  height: 2px;
  width: 100%;
  box-sizing: content-box;
  padding: 13px 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  touch-action: none;
  color: #3f51b5;
  -webkit-tap-highlight-color: transparent;
}

.AvatarCropper .MuiSlider-track {
  display: block;
  position: absolute;
  background: #0060df24;
  height: 5px;
  border-radius: 4px;
  opacity: 1;
}

.AvatarCropper .MuiSlider-rail {
  display: block;
  position: absolute;
  background: #0060df24;
  height: 5px;
  border-radius: 4px;
  opacity: 1;
  width: 100%;
}

.AvatarCropper .MuiSlider-thumb {
  -webkit-appearance: none;
  border: 1px solid #0060df;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #0060df;
  cursor: pointer;
  margin-top: -10px;
  position: absolute;
  margin-left: -6px;
  box-sizing: border-box;
  outline: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.AvatarCropper .MuiSlider-thumb.Mui-focusVisible,
.MuiSlider-thumb:hover {
  box-shadow: none !important;
}

.AvatarCropper input {
  border: 0px none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 100%;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 100%;
  direction: ltr;
}
