/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import './animations.css';
@import './ctas.scss';
@import './unit-row.scss';
@import './tooltip.scss';
@import './drop-down-menu.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base font-body bg-grey-10 text-grey-600;
}

.link-blue {
  @apply underline text-blue-500;

  &:hover {
    @apply text-blue-600;
  }

  &:active {
    @apply text-blue-800;
  }
}

.transition-standard {
  @apply transition duration-150;

  &:hover {
    @apply transition duration-150;
  }

  &:active {
    @apply transition duration-150;
  }
}
