/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import './2fa.scss';
@import './animations';
@import './ctas.scss';
@import './unit-row.scss';
@import './drop-down-menu.scss';
@import './cropper.scss';
@import './slider.scss';
@import './switch.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  @apply text-base font-body bg-grey-10 text-grey-600;
}

.link-blue {
  @apply underline text-blue-500;

  &:active {
    @apply text-blue-800;
  }
}

.nav-anchor {
  position: absolute;
  top: -5em;
}

.transition-standard {
  @apply transition duration-150;

  &:active {
    @apply transition duration-150;
  }
}

@media (hover: hover) {
  .link-blue:hover {
    @apply text-blue-600;
  }

  .transition-standard:hover {
    @apply transition duration-150;
  }
}

@layer utilities {
  .break-word {
    word-break: break-word;
  }
}
