.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  @include respond-to('small') {
    border-radius: 4px;
  }

  .user-info {
    flex: 1;
    flex-basis: 60px;
    height: 111px;
    margin-top: 20px;
    text-align: center;
  }

  a {
    font-size: 13px;
  }
}

.avatar-wrapper {
  align-self: center;
  border-radius: 50%;
  border-width: 0;
  height: $avatar-size;
  line-height: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: $avatar-size;

  .avatar-camera & {
    margin-bottom: 20px;
  }

  &.card-view {
    align-self: center;

    @include respond-to('big') {
      height: 120px;
      width: 120px;

      img {
        display: block;
        height: 120px;
        width: 120px;
      }
    }

    @include respond-to('small') {
      height: 84px;
      width: 84px;

      img {
        display: block;
        height: 84px;
        width: 84px;
      }
    }
  }

  &.avatar-view {
    background-size: 120px auto;
    display: block;
    height: 120px;
    margin: 0 auto 16px auto;
    width: 120px;

    img,
    .change-avatar {
      display: block;
      height: 120px;
      width: 120px;
    }

    small {
      bottom: 0;
      position: absolute;
    }
  }

  &.avatar-settings-view {
    border: 2px solid transparent;
    display: block;
    flex-shrink: 0;
    margin: 0;

    &:not(.nohover):hover {
      box-shadow: 0 0 0 1px $color-blue;
    }

    &:not(.nohover):active {
      box-shadow: 0 0 0 1px $color-orange;
    }

    &.spinner-completed {
      border: 2px solid $avatar-border-color;
      box-shadow: $card-box-low;
    }

    .change-avatar:focus {
      box-shadow: none;
    }

    @include respond-to('big') {
      height: 64px;
      width: 64px;
    }

    @include respond-to('small') {
      height: 50px;
      width: 50px;
    }

    span {
      display: inline-block;
    }

    img,
    span,
    .change-avatar {
      @include respond-to('big') {
        height: 60px;
        width: 60px;
      }

      @include respond-to('small') {
        height: 46px;
        width: 46px;
      }
    }
  }

  img {
    display: block;
    height: $avatar-size;
    width: $avatar-size;

    &.hidden {
      display: none;
    }

    &.default {
      background-image: image-url('default-profile.svg');
      background-size: cover;
    }
  }
}

.with-default {
  background: image-url('default-profile.svg') center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#done {
  width: 100%;
}

.notice {
  color: $faint-text-color;
  font-size: $base-font;
  padding-top: 10px;
}

.no-getusermedia #camera {
  display: none;
}
