.avatar-spinner {
  @extend %fill-avatar;

  $arc-width: 3%; // Percent that the center overlay should be shrunk by, revealing the spinner band.
  $center-expand-delay: 200ms;
  $center-expand-duration: 200ms;
  $complete-duration: 200ms;
  $fade-in-delay: 0ms;
  $fade-in-duration: 200ms;
  $rotation-period: 2s; // Time for the spinner to make a single rotation
  $solid-part-width: 75%;

  // Fade in the spinner, to try to reduce flash, in addition to its
  // continual rotation.
  animation: $rotation-period linear infinite spin,
    $fade-in-duration linear 1 $fade-in-delay both fadein;

  // The spinner is comprised of a background section covering the left portion
  // of the element, and an inset box shadow emanating from the bottom left.
  background: {
    color: $content-background-color;
    image: linear-gradient($avatar-spinner-color, $avatar-spinner-color);
    position: left;
    repeat: no-repeat;
    size: $solid-part-width 100%;
  }
  box-shadow: inset $avatar-size/8 $avatar-size/-8 $avatar-size/16
    $avatar-spinner-color;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;

  // Hack: Some browsers (IE most notably) don't trigger transitionend events on
  // pseudoelements, so we need a transition on the "base" element, which will
  // emit the necessary transitionend event.
  transition: {
    duration: $complete-duration;
    property: opacity;
  }

  &.completed {
    // Keep the spinner spinning, but don't let it fade out again
    animation-play-state: running, paused;
    opacity: 0.999;
  }

  &::before {
    @extend %fill-avatar;

    // A second solid background, comprised of the left 75% of the element,
    // overlaid upon the top of the underlying first, used to advance the "head"
    // of the spinner when it completes.
    background: {
      image: linear-gradient($avatar-spinner-color, $avatar-spinner-color);
      position: left;
      repeat: no-repeat;
      size: $solid-part-width 100%;
    }
    content: '';
    position: relative;
    // When the spinner completes, this pseudoelement spins clockwise,
    // making the ring 100% solid
    transform: rotate(0.001deg);
    transition: {
      duration: $complete-duration;
      property: transform;
      timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); // easeInCirc
    }
  }

  &.completed::before {
    transform: rotate(90deg);
  }

  &::after {
    // Overlay a slightly-smaller circle of the background color over the
    // element, so it appears as a ring
    @extend %fill-avatar;
    background-color: $content-background-color;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1 - $arc-width / 100%);
    transition: {
      delay: $center-expand-delay;
      duration: $center-expand-duration;
      property: transform;
      timing-function: ease-in-out;
    }
  }

  &.completed::after {
    transform: scale(1.001);
  }
}

%fill-avatar {
  border-radius: 50%;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.with-spinner .profile-image {
  animation: $profile-image-fade-in-duration ease-in-out 1 both fadein;
}
