#main-content::before {
  background-image: image-url('firefox-logo.svg');
  background-position: center -1px;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  z-index: $fox-logo-zindex;

  $large-logo: 72px;
  @include respond-to('big') {
    background-size: auto $large-logo;
    height: $large-logo;
    margin-top: -$large-logo;
    top: .5 * $large-logo;
    width: $large-logo;

    html[dir='ltr'] & {
      margin-left: .5 * -$large-logo;
    }

    html[dir='rtl'] & {
      margin-right: .5 * -$large-logo;
    }
  }

  $small-logo: 56px;
  @include respond-to('small') {
    background-size: auto $small-logo;
    height: $small-logo;
    margin-left: .5 * -$small-logo;
    margin-top: -$small-logo;
    top: 10 + $small-logo;
    width: $small-logo;

    html[dir='ltr'] & {
      margin-left: .5 * -$small-logo;
    }

    html[dir='rtl'] & {
      margin-right: .5 * -$small-logo;
    }

    .screen-choose-what-to-sync & {
      display: none;
    }
  }

  .static & {
    opacity: 1;
  }

  // IE < 10 does not support CSS transforms
  .lt-ie10 & {
    opacity: 1;
  }

  .screen-choose-what-to-sync & {
    // in Blink and Webkit it is not enough to use `!important` opacity
    // also need to add animation:none to avoid overrides from `keyframes`
    animation: none;
    // the 'choose-what-to-sync' view is a special case view
    // where we want to hide the logo and not animate it
    // it uses `!important` to avoid the fade-in effect and inline styles.
    opacity: 0 !important;
  }

  .trailhead &{
    $firefox-standalone-logo-size-large: 82px;
    $firefox-standalone-logo-size-small: 56px;

    background-image: image-url('trailhead/firefox-logo.svg');
    background-position: center center;

    @include respond-to('big') {
      background-size: auto $firefox-standalone-logo-size-large;
      height: $firefox-standalone-logo-size-large;
      margin-top: -$firefox-standalone-logo-size-large;
      top: $firefox-standalone-logo-size-large/2;
      width: $firefox-standalone-logo-size-large;
      opacity: 1 !important; // !important overrides the !important in _branding.scss
    }

    @include respond-to('small') {
      background-size: auto $firefox-standalone-logo-size-small;
      height: $firefox-standalone-logo-size-small;
      margin-top: -$firefox-standalone-logo-size-small;
      top: 10 + $firefox-standalone-logo-size-small;
      width: $firefox-standalone-logo-size-small;
    }
  }
}

#about-mozilla {
  @include respond-to('big') {
    background: image-url('mozilla.svg') no-repeat center center;
    cursor: pointer;
    display: block;
    height: 48px;
    transition: opacity $short-transition;
    width: 128px;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline-color: $html-background-color;
    }
  }

  @include respond-to('small') {
    display: none;
  }

  // Links to external sites cannot be opened when signing in
  // to Sync on Firefox for iOS
  .fx-ios-sync & {
    display: none;
  }
}


.choose-what-to-sync {
  .success-email-created {
    margin-bottom: 26px;
  }

  .trailhead & {
    h2 {
      font-size: 17px;
      font-weight: 700;

      html[dir='ltr'] & {
        text-align: left;
      }
      html[dir='rtl'] & {
        text-align: right;
      }
    }

    #main-content {
      @include respond-to('small') {
        padding-top: 20px;
      }
    }
  }
}

.send-sms {
  .trailhead & {
    h2 {
      margin-bottom: 10px;
      font-size: 17px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .sms-row {
    position: relative;

    .sms-send {
      border-radius: 0 $inner-button-border-radius $inner-button-border-radius 0;
      height: $input-height - 2px;
      min-width: 55px;
      padding: 0 7px;
      position: absolute;
      top: 1px;
      width: auto;
      z-index: 3;

      html[dir='ltr'] & {
        border-left: 1px solid $input-border-color-default;
        right: 1px;
      }

      html[dir='rtl'] & {
        border-radius: $inner-button-border-radius 0 0 $inner-button-border-radius;
        border-right: 1px solid $input-border-color-default;
        left: 1px;
      }

      @include respond-to('small') {
        border-radius: 0 $inner-button-border-radius $inner-button-border-radius 0;
        height: 38px;
        line-height: 38px;
      }
    }
  }
}

.faint {
  color: $grey-50;
  transition-duration: $short-transition;

  a {
    color: $grey-50;
    text-decoration: underline;

    @include anchor-default-pseudo-classes($grey-60, $grey-60, $grey-70, $grey-80);
  }
}

.sms-disclaimer {
  margin: 16px 0;

  .trailhead & {
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 0;
    padding: 0 20px;
  }
}

.sms-sent {
  .trailhead & {
    header {
      margin: 15px auto 32px auto;
    }

    .faint {
      font-size: 12px;
    }

    #sms-sent-to {
      font-size: 16px;
    }
  }
}