#fox-logo {

  @include hidpi-background-image('firefox', 80px 85px);
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0;
  position: relative;
  z-index: $fox-logo-zindex;
  
  @include respond-to('big') {
    height: 85px;
    margin: 0 auto;
    top: 30px;
    width: 80px;
  }

  @include respond-to('small') {
    background-size: 48px 51px;
    height: 51px;
    margin: 10px auto 0 auto;
    top: 0;
    width: 100%;
  }

  @include respond-to('trustedUI') {
    display: none;
  }

  &.static {
    opacity: 1;
  }

  // IE < 10 does not support CSS transforms
  .lt-ie10 & {
    opacity: 1;
  }
}

#about-mozilla {

  @include respond-to('big') {
    @include hidpi-background-image('mozilla', 69px 19px);
    cursor: pointer;
    height: 19px;
    opacity: 0.5;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: opacity $short-transition;
    width: 69px;
    
    &:hover {
      opacity: 1;
    }

    &:focus {
      outline-color: $html-background-color;
    }
  }

  @include respond-to('small') {
    display: none;
  }
}
