#main-content::before {
  $firefox-standalone-logo-size-large: 82px;
  $firefox-standalone-logo-size-small: 56px;
  background-image: image-url('firefox-logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  z-index: $fox-logo-zindex;

  @include respond-to('big') {
    background-size: auto $firefox-standalone-logo-size-large;
    height: $firefox-standalone-logo-size-large;
    margin-top: -$firefox-standalone-logo-size-large;
    opacity: 1 !important; // !important overrides the !important in _branding.scss
    top: $firefox-standalone-logo-size-large/2;
  }

  @include respond-to('small') {
    background-size: auto $firefox-standalone-logo-size-small;
    height: $firefox-standalone-logo-size-small;
    margin-top: -$firefox-standalone-logo-size-small;
    top: 10 + $firefox-standalone-logo-size-small;
  }

  .static & {
    opacity: 1;
  }

  // IE < 10 does not support CSS transforms
  .lt-ie10 & {
    opacity: 1;
  }
}

#about-mozilla {
  @include respond-to('big') {
    background: image-url('mozilla.svg') no-repeat center center;
    cursor: pointer;
    display: block;
    height: 48px;
    margin: 24px 0;
    transition: opacity $short-transition;
    width: 128px;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline-color: $html-background-color;
    }
  }

  @include respond-to('small') {
    display: none;
  }

  // Links to external sites cannot be opened when signing in
  // to Sync on Firefox for iOS
  .fx-ios-sync & {
    display: none;
  }
}

.get-involved {
  margin: 25px 0;
  padding: 0 15px;

  h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5rem;

    html[dir='ltr'] & {
      text-align: left;
    }

    html[dir='rtl'] & {
      text-align: right;
    }
  }
}

.choose-what-to-sync {
  .success-email-created {
    margin-bottom: 26px;
  }

  form h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 15px;

    html[dir='ltr'] & {
      text-align: left;
    }

    html[dir='rtl'] & {
      text-align: right;
    }
  }
}

.faint {
  color: $grey-50;
  transition-duration: $short-transition;

  a {
    color: $grey-50;
    text-decoration: underline;

    @include anchor-default-pseudo-classes(
      $grey-60,
      $grey-60,
      $grey-70,
      $grey-80
    );
  }
}
