#fox-logo {

  @include hidpi-background-image('firefox', 80px 85px);
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0;
  position: relative;
  z-index: $fox-logo-zindex;

  @include respond-to('big') {
    height: 85px;
    margin: 0 auto;
    top: 30px;
    width: 80px;
  }

  @include respond-to('small') {
    background-size: auto 55px;
    height: 55px;
    margin: 10px auto 0 auto;
    top: 0;
    width: 100%;
  }

  @include respond-to('trustedUI') {
    display: none;
  }

  .static & {
    opacity: 1;
  }

  // IE < 10 does not support CSS transforms
  .lt-ie10 & {
    opacity: 1;
  }

  .chromeless & {
    display: none;
  }
}

#about-mozilla {

  @include respond-to('big') {
    @include hidpi-background-image('mozilla', 69px 19px);
    cursor: pointer;
    height: 19px;
    opacity: 0.5;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: opacity $short-transition;
    width: 69px;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline-color: $html-background-color;
    }
  }

  @include respond-to('small') {
    display: none;
  }

  // Links to external sites cannot be opened when signing in
  // to Sync on Firefox for iOS
  .chromeless &, .fx-ios-sync & {
    display: none;
  }
}

#choose-what-to-sync-graphic {
  @include hidpi-background-image('choose_what_to_sync_devices', 200px 91px, 'jpg');
  background-position: center top;
  background-repeat: no-repeat;
  height: 100px;
  margin: 10px auto 0 auto;
  width: 200px;

  @include respond-to('big') {
    background-size: 300px 138px;
    height: 155px;
    margin: 20px auto 0 auto;
    width: 300px;
  }
}
