.button-row {

  @include respond-to('reasonableUI') {
    margin: 20px 0;
  }

  @include respond-to('trustedUI') {
    margin: 10px 0;
  }

  .button {
    display: inline-block;
    text-decoration: none;
  }

  .button,
  button {
    @include font();
    background: $button-background-color;
    border: 1px solid $button-border-default-color;
    color: $message-text-color;
    cursor: pointer;
    transition-duration: $short-transition;
    transition-property: background-color;
    width: 100%;

    @include respond-to('big') {
      border-radius: $big-border-radius;
      font-size: $large-font;
      height: 65px;
      padding: 15px 0;
    }

    @include respond-to('small') {
      border-radius: $small-border-radius;
      font-size: $medium-font + $media-adjustment;
      height: 46px;
      padding: 8px 0;
    }

    @include respond-to('trustedUI') {
      font-size: $medium-font;
      height: 43px;
      padding: 8px 0;
    }

    &:active {
      background: $button-background-active-color;
      border-color: $button-border-active-color;
    }

    &:focus {
      border-color: $html-background-color;
      box-shadow: 0 0 0 2px $button-box-shadow-color;
    }
  }

  button:disabled,
  button.disabled {
    background: $button-background-default-color;
    border-color: $button-border-disabled-color;
    color: $button-disabled-color;
    cursor: auto;
    opacity: 0.5;
  }
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
