.cropper {
  .wrapper {
    background-color: $cropper-background-color;
    box-sizing: content-box;
    height: $avatar-size;
    margin: 0 -30px;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    width: 100%;

    @include respond-to('small') {
      margin: 0 -10px;
      padding: 0 10px;
    }

    img {
      position: absolute;
    }
  }

  .mask {
    background: image-url('crop-mask.svg');
    height: $avatar-size;
    left: calc((100% - #{$avatar-size}) / 2);
    position: relative;
    top: 0;
    width: $avatar-size;
    z-index: 1;

    &::before,
    &::after {
      background-color: rgba($cropper-background-color, 0.545);
      content: '';
      display: block;
      height: $avatar-size;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &::before {
      left: -100%;
    }

    &::after {
      right: -100%;
    }
  }

  .drag-overlay {
    cursor: move;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  canvas {
    display: none;
  }

  .zoom-in,
  .zoom-out {
    color: $faint-text-color;
    @include element-state-colors($grey-60, $grey-70, $grey-80);
  }

  .rotate {
    color: $link-color-default;
    @include element-state-colors(
      $link-color-hover,
      $link-color-focus,
      $link-color-active
    );
  }

  .zoom-in,
  .zoom-out,
  .rotate {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 25px;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 2em;
  }

  .slider {
    vertical-align: middle;
  }
}
