.cropper {

  .wrapper {
    background-color: $cropper-background-color;
    height: $avatar-size;
    margin: 0 -30px;
    overflow: hidden;
    position: relative;
    width: $avatar-size + 180px;

    img {
      position: absolute;
    }
  }

  .mask {
    background: image-url('crop-mask.svg');
    height: $avatar-size;
    left: (420 - $avatar-size) / 2;
    position: relative;
    top: 0;
    width: $avatar-size;
    z-index: 1;

    &:before,
    &:after {
      background-color: rgba(#000, 0.5);
      content: '';
      display: block;
      height: $avatar-size;
      position: absolute;
      top: 0;
      width: (420 - $avatar-size) / 2;
      z-index: 1;
    }

    &:before {
      left: -(420 - $avatar-size) / 2;
    }

    &:after {
      right: -(420 - $avatar-size) / 2;
    }
  }

  .drag-overlay {
    cursor: move;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  canvas {
    display: none;
  }

  .zoom-in,
  .zoom-out {
    color: $faint-text-color;
    cursor: pointer;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .rotate {
    background: transparent;
    border: 0;
    color: $link-color;
  }

  .zoom-in,
  .zoom-out,
  .rotate {
    font-size: 20px;
    vertical-align: middle;
  }

  .slider {
    vertical-align: middle;
  }
}
