.graphic {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  @include respond-to('small') {
    height: 104px;
  }
}

.graphic-checkbox {
  @include hidpi-background-image('graphic_checkbox', 150px 130px);

  @include respond-to('small') {
    background-size: 120px 104px;
  }
}

.graphic-mail {
  background-image: url('/images/graphic_mail.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-mail-bounced {
  background-image: url('/images/graphic_mail_bounced.svg');

  @include respond-to('small') {
    height: 100px;
  }

  @include respond-to('trustedUI') {
    margin: 0 auto 0 auto;
  }
}

.graphic-connect-another-device {
  background-image: url('/images/account-verified.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-connect-another-device-hearts {
  background-image: url('/images/account-verified-hearts.svg');
  height: 190px;
  margin: 20px auto -20px auto;

  @include respond-to('small') {
    height: 140px;
  }
}

.graphic-two-factor-auth {
  background-image: url('/images/graphic_two_factor_auth.svg');
  height: 138px;
  margin-top: 20px;

  @include respond-to('small') {
    height: 70px;
  }
}

.graphic-recovery-codes {
  background-image: url('/images/graphic_recovery_codes.svg');
  height: 138px;
  margin-top: 20px;

  @include respond-to('small') {
    height: 70px;
  }
}

.graphic-download-option,
.graphic-recovery-codes-download {
  background-image: url('/images/recovery_code_download.svg');
  height: 32px;
  width: 33%;
}

.graphic-copy-option,
.graphic-recovery-codes-copy {
  background-image: url('/images/recovery_code_copy.svg');
  height: 32px;
  width: 33%;
}

.graphic-print-option,
.graphic-recovery-codes-print {
  background-image: url('/images/recovery_code_print.svg');
  height: 32px;
  width: 33%;
}

.graphic-choose-what-to-sync {
  background-image: image-url('choose_what_to_sync_devices.svg');
}

.graphic-pair-failure {
  background-image: image-url('graphic_hearts_broken.svg');
}
