.graphic {
  background-repeat: no-repeat;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 150px;

  @include respond-to('small') {
    background-position: center center;
    height: 104px;
  }

  @include respond-to('trustedUI') {
    margin: 40px auto 0 auto;
  }
}

.graphic-checkbox {
  @include hidpi-background-image('graphic_checkbox', 150px 130px);

  @include respond-to('small') {
    background-size: 120px 104px;
  }
}

.graphic-mail {
  @include hidpi-background-image('graphic_mail', 150px 130px);
  margin-bottom: 25px;
  padding-bottom: 10px;

  @include respond-to('small') {
    background-size: 120px 104px;
  }
}

.graphic-connect-another-device {
  @include hidpi-background-image('account-verified', 310px 87px);
  height: 87px;
  margin: 35px auto;
  width: 310px;

  @include respond-to('small') {
    background-size: 240px 68px;
    height: 68px;
    width: 240px;
  }
}

.graphic-sms-sent {
  @include hidpi-background-image('sms-sent', 310px 87px);
  height: 87px;
  margin: 35px auto;
  width: 310px;
}
