.graphic {
  background-repeat: no-repeat;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 150px;

  @include respond-to('small') {
    background-position: center center;
    height: 104px;
  }

  @include respond-to('trustedUI') {
    margin: 40px auto 0 auto;
  }
}

.graphic-checkbox {
  @include hidpi-background-image('graphic_checkbox', 150px 130px);

  @include respond-to('small') {
    background-size: 120px 104px;
  }
}

.graphic-mail {
  background-image: url('/images/graphic_mail.svg');
  background-position: center center;
  height: 130px;
  width: auto;

  @include respond-to('small') {
    height: 100px;
  }

  @include respond-to('trustedUI') {
    margin: 0 auto 0 auto;
  }
}

.graphic-mail-bounced {
  background-image: url('/images/graphic_mail_bounced.svg');
  background-position: center center;
  height: 130px;
  width: auto;

  @include respond-to('small') {
    height: 100px;
  }

  @include respond-to('trustedUI') {
    margin: 0 auto 0 auto;
  }
}

.graphic-connect-another-device {
  background-image: url('/images/account-verified.svg');
  background-position: center center;
  height: 130px;
  margin-top: 35px;
  width: auto;

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-two-factor-auth {
  background-image: url('/images/graphic_two_factor_auth.svg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 138px;
  margin-top: 20px;
  width: auto;
}
