.graphic {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  @include respond-to('small') {
    height: 104px;
  }
}

.graphic-checkbox {
  background-image: image-url('account-verified.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-mail {
  background-image: image-url('graphic_mail.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-mail-bounced {
  background-image: image-url('graphic_mail_bounced.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-connect-another-device {
  background-image: image-url('account-verified.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-connect-another-device-hearts {
  background-image: image-url('account-verified-hearts.svg');
  height: 138px;
  margin: 0 auto 20px auto;
}

.graphic-laptop-mobile {
  background-image: image-url('graphic_laptop_mobile.svg');
  height: 138px;
  margin: 40px auto 40px auto;
}

.graphic-laptop-mobile-qr {
  background-image: image-url('graphic_laptop_mobile_qr.svg');
  height: 138px;
  margin: 40px auto 40px auto;
}

.graphic-cad-qr-code {
  background-image: image-url('graphic_cad_qr_code.svg');
  height: 175px;
  margin: 40px auto 40px auto;
}

.graphic-cad-qr-code-connected {
  background-image: image-url('account-verified-hearts.svg');
  margin: 40px auto 40px auto;
}

.graphic-two-factor-auth {
  background-image: image-url('graphic_two_factor_auth.svg');
  height: 138px;
  margin-top: 20px;

  @include respond-to('small') {
    height: 70px;
  }
}

.graphic-add-newsletters {
  background-image: image-url('graphic_mail.svg');
  height: 138px;
  margin-top: 20px;

  @include respond-to('small') {
    height: 70px;
  }
}

.graphic-recovery-codes {
  background-image: image-url('graphic_recovery_codes.svg');
  height: 138px;
  margin-top: 20px;

  @include respond-to('small') {
    height: 70px;
  }
}

.graphic-download-option,
.graphic-recovery-codes-download {
  background-image: url('/images/recovery_code_download.svg');
  height: 32px;
  width: 33%;
}

.graphic-copy-option,
.graphic-recovery-codes-copy {
  background-image: url('/images/recovery_code_copy.svg');
  height: 32px;
  width: 33%;
}

.graphic-print-option,
.graphic-recovery-codes-print {
  background-image: url('/images/recovery_code_print.svg');
  height: 32px;
  width: 33%;
}

.graphic-choose-what-to-sync {
  background-image: image-url('choose_what_to_sync_devices.svg');

  @include respond-to('big') {
    height: 125px;
  }
  @include respond-to('small') {
    height: 90px;
  }
}

.graphic-pair-failure {
  background-image: image-url('graphic_hearts_broken.svg');
}
