.graphic {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  @include respond-to('small') {
    height: 104px;
  }
}

.graphic-checkbox {
  @include trailhead-background('account-verified.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-mail {
  @include trailhead-background('graphic_mail.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-mail-bounced {
  @include trailhead-background('graphic_mail_bounced.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-connect-another-device {
  @include trailhead-background('account-verified.svg');

  @include respond-to('small') {
    height: 100px;
  }
}

.graphic-connect-another-device-hearts {
  @include trailhead-background('account-verified-hearts.svg');
  margin: 0 auto 20px auto;
  height: 118px;
}

.graphic-two-factor-auth {
  @include trailhead-background('graphic_two_factor_auth.svg');
  height: 138px;
  margin-top: 20px;

  @include respond-to('small') {
    height: 70px;
  }
}

.graphic-recovery-codes {
  @include trailhead-background('graphic_recovery_codes.svg');
  height: 138px;
  margin-top: 20px;

  @include respond-to('small') {
    height: 70px;
  }
}

.graphic-download-option,
.graphic-recovery-codes-download {
  background-image: url('/images/recovery_code_download.svg');
  height: 32px;
  width: 33%;
}

.graphic-copy-option,
.graphic-recovery-codes-copy {
  background-image: url('/images/recovery_code_copy.svg');
  height: 32px;
  width: 33%;
}

.graphic-print-option,
.graphic-recovery-codes-print {
  background-image: url('/images/recovery_code_print.svg');
  height: 32px;
  width: 33%;
}

.graphic-choose-what-to-sync {
  background-image: image-url('trailhead/choose_what_to_sync_devices.svg');

  @include respond-to('big') {
    height: 125px;
  }
  @include respond-to('small') {
    height: 90px;
  }
}

.graphic-pair-failure {
  @include trailhead-background('graphic_hearts_broken.svg');
}
