#legal-header {
  h2 {
    margin: 0 0 30px 0;
    padding: 0;
  }

  h3 {
    font-size: $small-font;
    padding: 5px 0 10px;
  }
}

#legal-footer {
  bottom: 0;
  position: relative;
  text-align: center;
  width: 100%;

  @include respond-to('reasonableUI') {
    margin: 10px 0;
  }

  @include respond-to('trustedUI') {
    margin: 0;
  }

  .terms {
    margin-right: 10px;
    text-align: right;
    width: 50%;
  }

  .privacy {
    margin-left: 10px;
    text-align: left;
    width: 50%;
  }

  a {
    color: $faint-text-color;
    font-size: $small-font;
    text-decoration: none;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }

    &:active {
      outline-color: $html-background-color;
    }
  }
}

#legal-copy {
  text-align: left;

  @include respond-to('trustedUI') {
    margin-bottom: 10px;

    h2 {
      font-size: $base-font;
    }
  }

  p {
    font-size: $base-font;
  }

  ol,
  ul {
    margin-left: 0;
    padding-left: 20px;
  }

  .show-visible-url & {
    // Links cannot be opened from the TOS/PP text when signing
    // in to Sync on Fx for iOS. When signing in elsewhere, links
    // replace the app. Yuck. Show the links href next to the link text.
    // The href is fetched from the data-visible-url attribute instead of
    // the href attribute because some links are the same as their
    // text. In those cases, there is no point showing both.
    //
    // hrefs are only visible from the app, when the TOS/PP agreements
    // are opened directly, the links display/act normally.
    a[href^=http] {
      // using text-decoration: underline underlines the ::after
      // section as well, with no way to remove it.
      // So, add a border to the entire element, then hide
      // the border in the ::after using a border that is the same
      // color as the background.
      border-bottom: 1px dotted $text-color;
      color: $text-color;
      cursor: default;
      pointer-events: none;
      text-decoration: none;
    }

    a[data-visible-url^=http]:after,
    a[data-visible-url^=http]::after {
      border-bottom: 1px solid $content-background-color;
      content: " [" attr(href) "] ";
    }
  }
}
