#legal-header {
  h2 {
    margin: 0 0 30px 0;
    padding: 0;
  }

  h3 {
    font-size: $small-font;
    padding: 5px 0 10px;
  }
}

#legal-footer {
  bottom: 0;
  position: relative;
  text-align: center;
  width: 100%;

  @include respond-to('reasonableUI') {
    margin: 10px 0;
  }

  @include respond-to('trustedUI') {
    margin: 0;
  }

  .terms {
    margin-right: 10px;
    text-align: right;
    width: 50%;
  }

  .privacy {
    margin-left: 10px;
    text-align: left;
    width: 50%;
  }

  a {
    color: $faint-text-color;
    font-size: $small-font;
    text-decoration: none;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }

    &:active {
      outline-color: $html-background-color;
    }
  }
}

#legal-copy {
  text-align: left;

  @include respond-to('trustedUI') {
    margin-bottom: 10px;
    
    h2 {
      font-size: $base-font;
    }
  }

  p {
    font-size: $base-font;
  }

  ol,
  ul {
    margin-left: 0;
    padding-left: 20px;
  }
}
