.marketing-area {
  margin-top: 20px;


  .links {
    // Links have `overflow: auto` by default, which causes a scrollbar to
    // appear around the images. Get rid of that.
    overflow: inherit;
  }

  + .links {
    // links that come after the marketing area need to have a
    // top margin to avoid being smushed up against them.
    margin: 20px 0 0 0;
  }

  .marketing-link {
    display: inline-block;
    height: 45px;
    width: 152px;
  }
}

.firefox-family-services {
  border-radius: 0 0 16px 16px;
  padding: 20px 40px;
  margin: 0 -40px -40px -40px;


  @include respond-to('big') {
    background-color: #f8f9fc;
  }

  > h2 {
    font-size: 18px;
    margin-top: 0;
  }

  > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;

    > .firefox-service {
      color: $grey-50;
      font-size: 11.5px;
      line-height: 1.7em;
      padding: 0 10px 20px 0;
      text-align: left;

      img {
        display: block;
        height: 40px;
        max-width: 180px;
        margin: 0 0 0 -10px;
      }

      &.service-lockwise img {
        margin-left: -5px;
      }
    }
  }
}

.links + .firefox-family-services {
  @include respond-to('big') {
    margin-top: 20px;
  }
}