.marketing {
  background-color: $html-background-color;
  border-radius: 0 0 $big-border-radius $big-border-radius;
  border-top: 1px solid $marketing-border-color;
  box-shadow: 0 1px 1px $content-background-color inset;
  font-size: $medium-font;
  position: relative;

  @include respond-to('big') {
    margin: 60px -40px -40px -40px;

    &.image-snippet {
      // 160 right padding to avoid overlap of the android logo
      // in long locales (German)
      padding: 28px 160px 28px 50px;
      text-align: left;
    }

    &.text-snippet {
      // pull in the margins from #main-content
      padding: 28px 20px 36px 20px;
      text-align: center;
    }

    .android-logo {
      right: 50px;
      width: 84px;
    }
  }

  @include respond-to('small') {
    margin: 20px -20px -20px -20px;

    &.image-snippet {
      font-size: $base-font;
      padding: 15px 50px 80px 50px;
      text-align: center;
    }

    &.text-snippet {
      font-size: $base-font;
      text-align: center;
    }

    .android-logo {
      background-position: center bottom;
      background-repeat: no-repeat;
      margin: 0 auto;
      right: 0;
      width: 100%;
    }
  }

  @include respond-to('trustedUI') {
    display: none;
  }

  .android-logo {
    @include hidpi-background-image('android_logo', 84px 74px);
    bottom: 0;
    display: block;
    height: 74px;
    position: absolute;
  }

  .marketing-copy {
    display: block;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.marketing-area {
  .chromeless.iframe & {
    @include respond-to('reasonableUI') {
      // This is a hack. The width of the firstrun iframe is 400px.
      // The max-width of the main-content area is 360px, leaving 20px
      // on either side. A 20px bottom-padding exists on the body.
      // This leaves a 20px white area around the marketing snippet.

      // For the firstrun flow only, pull the marketing box
      // out to the sides to get rid of the padding.
      margin: 0px -20px;
      position: relative;
      bottom: -20px;
    }
  }
}
