.marketing-area {
  &:not(:empty) {
    margin-top: 20px;
  }

  .links {
    // Links have `overflow: auto` by default, which causes a scrollbar to
    // appear around the images. Get rid of that.
    overflow: inherit;
  }

  + .links {
    // links that come after the marketing area need to have a
    // top margin to avoid being smushed up against them.
    margin: 20px 0 0 0;
  }

  .marketing-link {
    display: inline-block;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    width: 152px;
  }
}

.firefox-family-services {
  border-radius: 0 0 16px 16px;
  margin: 0 -40px -40px -40px;
  padding: 0 40px;

  @include respond-to('big') {
    background-color: #f8f9fc;
    padding: 20px 40px;
  }

  > h2 {
    font-size: 18px;
    margin-top: 0;

    @include respond-to('small') {
      font-size: 16px;

      html[dir='ltr'] & {
        text-align: left;
      }

      html[dir='rtl'] & {
        text-align: right;
      }
    }
  }

  > ul {
    list-style: none;
    padding: 0;

    @include respond-to('big') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    > .firefox-service {
      color: $grey-50;
      font-size: 11.5px;
      line-height: 1.7em;
      padding: 0 10px 10px 0;

      @include respond-to('big') {
        padding: 0 10px 20px 0;

        html[dir='rtl'] & {
          padding: 0 0 20px 10px;
        }
      }

      html[dir='ltr'] & {
        text-align: left;
      }

      html[dir='rtl'] & {
        padding: 0 0 10px 10px;
        text-align: right;
      }

      .logo {
        background-position: 0 top;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 40px;
        margin: 0;
        text-indent: -9999px;
        width: 180px;

        &.logo-firefox-browser {
          background-image: image-url('graphic-logo-firefox.svg');
        }

        &.logo-lockwise {
          background-image: image-url('graphic-logo-lockwise.svg');
          background-position-x: -5px;

          html[dir='rtl'] & {
            background-position-x: 5px;
          }
        }

        &.logo-monitor {
          background-image: image-url('graphic-logo-monitor.svg');
          background-position-x: -12px;

          html[dir='rtl'] & {
            background-position-x: 12px;
          }
        }

        &.logo-send {
          background-image: image-url('graphic-logo-send.svg');
          background-position-x: -8px;
          width: 153px;

          html[dir='rtl'] & {
            background-position-x: 8px;
          }
        }
      }
    }
  }
}

.sign-up {
  display: flex;

  > .firefox-family-services {
    background: none;
    margin: 90px 0 0 36px;
    padding: 0;
    width: 185px;

    @media screen and (max-width: 720px) {
      display: none;
    }

    html[dir='rtl'] & {
      margin: 90px 36px 0 0;
    }

    > ul {
      @include respond-to('big') {
        display: block;
      }
    }
  }
}

.links + .firefox-family-services {
  @include respond-to('big') {
    margin-top: 20px;
  }
}
