.marketing-area {
  &:not(:empty) {
    margin-top: 20px;
  }

  .links {
    // Links have `overflow: auto` by default, which causes a scrollbar to
    // appear around the images. Get rid of that.
    overflow: inherit;
  }

  + .links {
    // links that come after the marketing area need to have a
    // top margin to avoid being smushed up against them.
    margin: 20px 0 0 0;
  }

  .marketing-link {
    display: inline-block;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    width: 152px;
  }
}

.sign-up {
  display: flex;
}
