.blocker {
  .iframe & {
    background-color: $modal-background-color-iframe;
    padding: 0;
  }
}

.modal {
  border-radius: $big-border-radius;
  box-shadow: 0 1px 5px $modal-border-color;

  .iframe & {
    border-radius: 0;
    box-shadow: none;
  }


  @include respond-to('big') {
    padding: 30px;
    width: 420px;
  }

  @include respond-to('small') {
    padding: 10px;
    width: 100%;
  }

  .modal-panel {
    text-align: center;

    h1,
    h2 {
      font-weight: normal;
    }

    &.connect-another-device {
      font-size: 16px;

      h1 {
        font-size: 18px;
      }
    }
  }
}
