.blocker {
  .iframe & {
    background-color: $modal-background-color-iframe;
    padding: 0;
  }
}

.modal {
  border-radius: $big-border-radius;
  box-shadow: 0 1px 5px $modal-border-color;

  .iframe & {
    border-radius: 0;
    box-shadow: none;
  }


  @include respond-to('big') {
    padding: 30px;
    width: 420px;
  }

  @include respond-to('small') {
    padding: 10px;
    width: 100%;
  }

  .modal-panel {
    text-align: center;

    h1,
    h2 {
      font-weight: normal;
    }

    &.connect-another-device {
      font-size: 16px;

      h1 {
        font-size: 18px;
      }
    }

    .modal-success {
      background-color: $settings-success-background-color;
      border-color: $settings-success-border-color;
      border-style: solid;
      color: $success-text-color;
      font-size: $base-font;
      margin: 0 auto;
      text-align: center;
      top: 0;

      a {
        color: $success-text-color;
      }
    }
  }
}
