/**
 * There are some dependencies for passwords in the _input-row partial
 */

.password-row {
  position: relative;

  &.input-row .password {

    html[dir='ltr'] & {
      padding-right: 75px;
    }

    html[dir='rtl'] & {
      padding-left: 75px;
    }
  }

  .input-help {

    html[dir='ltr'] & {
      text-align: left;

      &.input-help-focused {
        text-align: center;

        &.input-help-balloon {
          left: 360px;
          text-align: left;
        }

        &.input-help-balloon::after,
        &.input-help-balloon::before {
          right: 100%;
        }

        &.input-help-balloon::after {
          border-right-color: $color-white;
        }

        &.input-help-balloon::before {
          border-right-color: $marketing-border-color;
        }
      }

    }

    html[dir='rtl'] & {
      text-align: right;

      &.input-help-focused {
        text-align: center;

        &.input-help-balloon {
          right: 360px;
          text-align: right;
        }

        &.input-help-balloon::after,
        &.input-help-balloon::before {
          left: 100%;
        }

        &.input-help-balloon::after {
          border-left-color: $color-white;
        }

        &.input-help-balloon::before {
          border-left-color: $marketing-border-color;
        }
      }

    }

    @include respond-to('balloonBig') {
      &.input-help-inline {
        display: none;
      }
    }

    @include respond-to('balloonSmall') {
      &.input-help-balloon {
        display: none;
      }
    }
  }

  .input-help-signup {
    text-align: center;
  }

  .show-password {
    opacity: 0;
    position: absolute;
    width: 1px;
  }

  /**
   * The addition of right, top, border-radius, and background-color are
   * all to fix a bug in firefox 29 where the right padding of the password
   * field is ignored and password text flows under the show/hide button. When
   * Firefox is fixed, top and right can be set to 0, height set to 44px,
   * border-radius and background-color removed.
   *
   * See https://bugzilla.mozilla.org/show_bug.cgi?id=965237
   */

  .show-password-label {
    background-color: $content-background-color;
    border: 1px solid $input-row-border-color;
    color: $input-placeholder-color;
    cursor: pointer;
    font-size: $base-font;
    min-width: 55px;
    padding: 0 7px;
    position: absolute;
    text-align: center;
    top: 0;
    // it is very easy to accidentally select the text when clicking
    -webkit-touch-callout: none;
    // user select not supported by autoprefixer
    // https://github.com/postcss/autoprefixer/issues/167
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 3;


    html[dir='ltr'] & {
      right: 0;
    }

    html[dir='rtl'] & {
      left: 0;
    }

    @include respond-to('big') {
      border-radius: 0 $big-border-radius $big-border-radius 0;
      height: 45px;
      line-height: 45px;

      html[dir='rtl'] & {
        border-radius: $big-border-radius 0 0 $big-border-radius;
      }
    }

    @include respond-to('small') {
      border-radius: 0 $small-border-radius $small-border-radius 0;
      height: 40px;
      line-height: 40px;
    }
  }

  .password:focus ~ .show-password-label {
    border-color: $input-row-focus-border-color;
  }

  .password.empty ~ .show-password,
  .password.empty ~ .show-password-label {
    display: none;
  }

  .password.invalid ~ .show-password-label {

    html[dir='ltr'] & {
      border-left: 1px solid $error-background-color !important;
    }

    html[dir='rtl'] & {
      border-right: 1px solid $error-background-color !important;
    }
  }

  .input-help-balloon {
    background: $color-white;
    border: 1px solid $marketing-border-color;
    border-radius: $small-border-radius;
    box-shadow: 0 2px 8px rgba($grey-90, .1);
    color: $faint-text-color !important; // override default tip styles
    padding: 15px;
    position: absolute;
    text-align: left;
    top: -6px;
    width: 250px;

    span {
      color: $grey-90;
      display: block;
    }

  }

  .input-help-balloon::after,
  .input-help-balloon::before {
    border: solid transparent;
    content: ' ';
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 23px;
    width: 0;
  }

  .input-help-balloon::after {
    border-color: rgba(190, 187, 213, 0);
    border-width: 8.2px;
    margin-top: -8.2px;
  }

  .input-help-balloon::before {
    border-color: rgba(146, 88, 245, 0);
    border-width: 10px;
    margin-top: -10px;
  }

}

/**
 * IE8 blows up when changing the type of the password field
 * to a text field. Hide the show/hide button and reset
 * the password field's padding.
 */
.reveal-pw {
  .password-row input[type='password'] {
    padding-right: $input-left-right-padding;
  }

  .show-password,
  .show-password-label {
    display: none;
  }
}

.show-password-label:hover,
.show-password-label:active,
.show-password-label:focus,
.show-password:hover + .show-password-label,
.show-password:active + .show-password-label,
.show-password:focus + .show-password-label {
  background: $html-background-color;
  color: $text-color;
  outline: none;
}

input[type='text'] {
  ~ .show-password-label {
    background: $button-background-disabled-color;
    color: $message-text-color;
  }

  // Hover over the show password label in its dark state
  ~ .show-password:focus + .show-password-label,
  ~ .show-password:active + .show-password-label,
  ~ .show-password:hover + .show-password-label,
  ~ .show-password-label:focus,
  ~ .show-password-label:active,
  ~ .show-password-label:hover {
    background: $button-background-hover-color;
    color: $message-text-color;
  }
}
