/**
 * There are some dependencies for passwords in the _input-row partial
 *
 * The mixin below is added to accomodate placement of the password helper
 * widget at differnet breakpoints
 */

@mixin password-helper($small, $big) {
  .password-row {
    .input-help-balloon::after,
    .input-help-balloon::before {
      @include respond-to($big) {
        left: -9px;
        top: 20px;
      }

      @include respond-to($small) {
        left: 23px;
        top: -8px;
      }
    }

    .input-help-balloon::before {
      @include respond-to($small) {
        border-width: 1px 0 0 1px;
      }

      @include respond-to($big) {
        border-width: 0 0 1px 1px;
      }
    }

    html[dir='ltr'] & {
      .input-help-balloon {
        @include respond-to($big) {
          right: 100%;
        }
      }

      .password-strength-balloon {
        @include respond-to($big) {
          left: calc(100% + 18px);
        }
      }
    }
  }

  html[dir='rtl'] & {
    .input-help-balloon::after,
    .input-help-balloon::before {
      @include respond-to($small) {
        right: 15px;
      }

      @include respond-to($big) {
        right: -8px;
        transform: rotate(225deg);
        transform-origin: center center;
      }
    }

    .password-strength-balloon {
      @include respond-to($big) {
        right: calc(100% + 18px);
      }
    }
  }

  @include respond-to($big) {
    .input-help-small-only {
      display: none;
    }
  }

  @include respond-to($small) {
    .input-help-big-only {
      display: none;
    }
  }

  #password-strength-balloon {
    font-weight: 300;
    @include respond-to($small) {
      left: -3px;
      margin-top: 0;
      padding: 13px 14px;
      top: 52px;
      width: calc(100% + 6px);
    }

    @include respond-to($big) {
      top: -22px;
      width: 272px;
    }
  }

  .big-only {
    @include respond-to($small) {
      display: none;
    }
  }
}

:not(#fxa-settings-container) {
  @include password-helper('balloonSmall', 'balloonBig');
}

#fxa-settings-container {
  @include password-helper('balloonSmallSettings', 'balloonBigSettings');
}

.password-row {
  position: relative;

  &.input-row .password {
    html[dir='ltr'] & {
      padding-right: 58px;
    }

    html[dir='rtl'] & {
      padding-left: 58px;
    }
  }

  .input-help {
    html[dir='ltr'] & {
      text-align: left;

      &.input-help-focused {
        text-align: center;

        &.input-help-balloon {
          display: none;
          text-align: left;

          @include respond-to('balloonSmall') {
            left: -3px;
            width: calc(100% + 6px);
          }
          @include respond-to('balloonBig') {
            left: 416px;
            top: -10px;
          }
        }
      }
    }

    html[dir='rtl'] & {
      text-align: right;

      &.input-help-focused {
        text-align: center;

        &.input-help-balloon {
          display: none;
          text-align: right;

          @include respond-to('balloonSmall') {
            right: -3px;
            width: 100%;
          }
          @include respond-to('balloonBig') {
            right: 416px;
            top: -10px;
          }
        }
      }
    }
  }

  .input-help-signup {
    background-image: image-url('icon-key-grey-50.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    text-align: center;

    br {
      margin-bottom: 20px;
    }

    html[dir='ltr'] & {
      background-position: 12px 16px;
      padding-left: 35px;
    }

    html[dir='rtl'] & {
      background-position: calc(100% - 12px) 16px;
      padding-right: 35px;
    }
  }

  .show-password {
    opacity: 0;
    position: absolute;
    width: 1px;
  }

  /**
   * The addition of right, top, border-radius, and background-color are
   * all to fix a bug in firefox 29 where the right padding of the password
   * field is ignored and password text flows under the show/hide button. When
   * Firefox is fixed, top and right can be set to 0, height set to 44px,
   * border-radius and background-color removed.
   *
   * See https://bugzilla.mozilla.org/show_bug.cgi?id=965237
   */

  .show-password-label {
    background-color: $input-background-color-default;
    border: 0;
    cursor: pointer;
    height: $input-height - 2px;
    position: absolute;
    top: 1px;
    width: 55px;
    z-index: 3;

    img {
      height: 100%;
      padding: 5px;
      pointer-events: none;
      width: 100%;

      @include respond-to('small') {
        padding: 0;
      }
    }

    @include respond-to('small') {
      height: $input-height-small - 2;
    }

    html[dir='ltr'] & {
      border-radius: 0 $input-border-radius $input-border-radius 0;
      right: 1px;
    }

    html[dir='rtl'] & {
      border-radius: $input-border-radius 0 0 $input-border-radius;
      left: 1px;
    }
  }

  .password:focus ~ .show-password-label {
    border-color: $input-border-color-focus;
  }

  .password.empty ~ .show-password,
  .password.empty ~ .show-password-label {
    display: none;
  }

  .input-help-balloon {
    background-color: $color-white;
    border: 1px solid $marketing-border-color;
    border-radius: $small-border-radius;
    box-shadow: 0 2px 8px rgba($grey-90, 0.1);
    color: $faint-text-color !important; // override default tip styles
    padding: 15px;
    position: absolute;
    text-align: left;
    width: 250px;
    z-index: 6; // one more than the tooltip

    span {
      color: $grey-90;
      display: block;
    }
  }

  .input-help-balloon::before {
    background-color: #fff;
    border: solid #d7d7db;
    content: '.';
    height: 16px;
    pointer-events: none;
    position: absolute;
    text-indent: -999px;
    transform: rotate(45deg);
    white-space: nowrap;
    width: 16px;
    // The z-index must be -1 or else the caret is displayed on top of the tooltip text
    z-index: -1;
  }

  .password-strength-balloon {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    opacity: 1;
    padding: 28px 14px;
    z-index: 5;

    // The characters in Arabic look way too small at 14px and are difficult to read. Bump them up by 1
    // See #6556
    html[lang^='ar'] & {
      font-size: 15px;
    }

    a {
      color: $grey-50;
      text-decoration: underline;
    }

    h3 {
      color: $grey-90;
      font-size: 14px;
      font-weight: 400;
      margin-inline-start: 26px;
      margin-top: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 0 7px 0;
      padding-inline-start: 26px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        // So that we can control the position of the bullet, use a unicode bullet.
        background-position: 50% 50%;
        background-repeat: no-repeat;
        content: '\002022';
        display: inline-block;
        margin-inline-end: 10px;
        margin-inline-start: -26px;
        text-indent: 5px;
        width: 16px;
      }

      &.met::before {
        background-image: url('/images/icon-check-blue-50.svg');
        text-indent: -9999px;
      }

      &.fail::before {
        background-image: url('/images/icon-warning-red-50.svg');
        text-indent: -9999px;
      }

      &.lock::before {
        background-image: url('/images/icon-lock-grey-50.svg');
        text-indent: -9999px;
      }
    }
  }
}

/**
 * IE8 blows up when changing the type of the password field
 * to a text field. Hide the show/hide button and reset
 * the password field's padding.
 */
.reveal-pw {
  .password-row input[type='password'] {
    padding-right: $input-left-right-padding;
  }

  .show-password,
  .show-password-label {
    display: none;
  }
}

.show-password-label:hover,
.show-password-label:active,
.show-password-label:focus {
  background-color: #d9d9d9;
}

input[type='text'] {
  // Hover over the show password label in its dark state
  ~ .show-password-label,
  ~ .show-password-label:focus,
  ~ .show-password-label:active,
  ~ .show-password-label:hover {
    background-color: #bdbdbe;
  }
}
