html {
  background-color: $html-background-color;
  height: 100%;
}

table,
th,
td {
  border: solid 1px #000;
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
}

#delete-events {
  @include respond-to('big') {
    width: 128px;
  }

  @include respond-to('small') {
    width: 96px;
  }
}
