.totp-panel {
  .totp-list {
    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }

    .totp-type {
      height: 40px;
      margin: 10px 0;
      position: relative;

      html[dir='ltr'] & {
        background-position: left 2px;
      }

      html[dir='rtl'] & {
        background-position: right 2px;
      }

      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include respond-to('big') {
          width: calc(95% - 95px);
        }

        @include respond-to('small') {
          width: 100%;
        }
      }

      .details {
        color: $color-grey;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(95% - 95px);

        & .disabled {
          color: $color-red;
        }

        & .enabled {
          color: $color-green;
        }
      }

      .settings-button-group {
        position: absolute;
        top: 0;

        html[dir='ltr'] & {
            right: 0;
        }

        html[dir='rtl'] & {
            left: 0;
        }

        .settings-button {
          height: 35px;
          margin-left: 10px;
          /*minimum width required for the button to look good without occupying too much space*/
          /*is also the default computed width on desktop screen*/
          min-width: 100px;
          text-align: center;
          width: 20%;
        }
      }
    }
  }

  .totp-details {
    .qr-image-container {
      height: 228px;
      margin: auto;
      padding-bottom: 10px;
      width: 228px;
    }

    .setup-description,
    .code-description {
      margin-bottom: 10px;
    }

    .show-code-link {
      margin-bottom: 10px;
    }

    .code {
      color: $color-green-darker;
      letter-spacing: .1rem;
      padding-bottom: 5px;
    }
  }

  .input-row {
    margin-top: 24px;
  }
}

#recovery-codes {
  .recovery-code-options {
    display: flex;
    margin-top: 25px;
  }

  .description {
    font-size: 14px;
    text-align: left;

    .note {
      color: $color-red;
    }
  }

  #recovery-code-container {
    margin-bottom: 20px;

    .recovery-code {
      color: $recovery-code-color;
      display: inline-block;
      font-family: monospace;
      font-size: 2em;
      text-transform: uppercase;
      width: 49%;
    }
  }

  .two-step-authentication-done {
    float: none;
    width: 100%;
  }

  .recovery-code-option {
    width: 33%;

    .name {
      font-size: 14px;
      text-align: center;
    }
  }

  .link-options {
    text-align: left;
  }
}

.replace-codes-link {
  background: transparent url('/images/recovery_code_replace.svg') center left no-repeat;
  padding-left: 20px;
}

.recovery-code-text-area {
  background: transparent;
  border: 0;
  box-shadow: none;
  height: 2em;
  left: 0;
  outline: none;
  padding: 0;
  style: fixed;
  top: 0;
  width: 2em;
}

.recovery-code-download-link {
  display: none;
}
