#fxa-recovery-key-confirm {
  margin-bottom: 40px;
}

#account-recovery-confirm-password,
.account-recovery-create-password,
.save-recovery-key {
  .note {
    font-weight: bold;
  }

  .options {
    .buttons {
      display: flex;
      justify-content: center;

      button {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 15px;
        width: 45%;

        .recovery-icon-option {
          height: 16px;
          padding-right: 25px;
        }

        img {
          &.download-image {
            background: image-url('recovery_key_download.svg') no-repeat;
          }

          &.print-image {
            background: image-url('recovery_key_print.svg') no-repeat;
          }
        }
      }

      button:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .recovery-key-container {
    background-color: $modal-recovery-key-background;
    border-color: $modal-recovery-key-border;
    border-style: dotted;
    border-width: 2px;
    margin-bottom: 25px;

    .recovery-key {
      color: $modal-recovery-key-color;
      font-family: monospace;
      font-size: 1em;
      padding: 25px 0 25px 0;

      @media screen and (max-width: 400px) {
        font-size: 0.9em;
      }
    }
  }

  .email {
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 25px;
    text-overflow: ellipsis;
  }

  .description {
    font-size: 14px;
    line-height: 1.5;
  }

  button.generate-key-link {
    margin-bottom: 16px;
  }
}
