// this needs to be overridden, 
// or done in a way that doesn't kill these everywhere
body.settings #fox-logo,
body.settings #about-mozilla,
body.settings .sign-in {
  display: none;
}

body.settings .loading {
  position: relative;
  top: 150px;
}

body.settings #main-content {
  background: none;
  border: 0;
  box-shadow: none;
}

body.settings #main-content.panel,
body.settings #main-content.card {
  visibility: hidden;
}

// settings header controls
#fxa-settings-header-wrapper {
  background: #fff;
  border-bottom: 1px solid $input-border-disabled-color;

  @include respond-to('big') {
    height: 64px;
  }

  @include respond-to('small') {
    height: 48px;
  }

  #fxa-manage-account {
    @include hidpi-background-image('firefox', 80px 85px);
    background-repeat: no-repeat;
    float: left;
    margin: 0;

    @include respond-to('big') {
      background-position: left 11px;
      background-size: 36px auto;
      height: 64px;
      line-height: 63px;
      padding-left: 48px;
    }

    @include respond-to('small') {
      background-position: left 8px;
      background-size: 32px auto;
      height: 48px;
      line-height: 50px;
      padding-left: 36px;
    }
  }

  .settings-button {
    display: block;
    float: right;
    height: 30px;

    @include respond-to('big') {
      margin-top: 15px;
      width: 100px;
    }

    @include respond-to('small') {
      margin-top: 9px;
      width: 29%;
    }
  }

  .settings-success-wrapper {
    z-index: 2;

    @include respond-to('big') {
      left: 50%;
      margin: 0 0 0 -250px;
      position: absolute;
      top: 64px;
      width: 500px;
    }

    @include respond-to('small') {
      left: 0;
      margin: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .settings-success {
    background-color: $settings-success-background-color;
    border-color: $settings-success-border-color;
    border-style: solid;
    color: $text-color;
    margin: 0 auto;
    text-align: center;
    top: 0;

    @include respond-to('big') {
      border-radius: 0 0 $small-border-radius $small-border-radius;
      border-width: 0 1px 1px;
    }

    @include respond-to('small') {
      border-width: 0 0 1px 0;
      width: 100%;
    }

    a {
      color: $text-color;
    }
  }
}


// settings buttons
.settings-button {
  @include font();
  border-radius: $small-border-radius;
  cursor: pointer;
  font-size: $base-font;
  transition-duration: $short-transition;
  transition-property: background-color;

  .button-row & {
    @extend .settings-button;
    margin: 0;
    padding: 0;

    @include respond-to('big') {
      height: 45px;
      width: 48%;
    }

    @include respond-to('small') {
      height: 40px;
      width: 48%;
    }

    &:last-child {
      float: right;

      &.unpaired {
        float: none;
      }
    }
  }

  &.settings-unit-toggle {
    display: block;
    height: 35px;

    @include respond-to('big') {
      width: 100px;
    }

    @include respond-to('small') {
      width: 29%;
    }
  }

  &.primary {
    background: $button-background-color;
    border: 0;
    color: $message-text-color;

    &:active,
    &:hover,
    &:focus {
      background: $button-background-hover-color;
    }

    &:disabled,
    &.disabled {
      background: $button-background-disabled-color;
    }
  }

  &.secondary {
    background: $html-background-color;
    border: 1px solid $secondary-button-border-color;
    color: $text-color;

    &:active,
    &:hover,
    &:focus {
      background: darken($html-background-color, 10);
    }
  }

  &.warning {
    background: $error-background-color;
    border: 0;
    color: $message-text-color;

    &:active,
    &:hover,
    &:focus {
      background: darken($error-background-color, 5);
    }

    &:disabled,
    &.disabled {
      background: $button-background-disabled-color;
    }
  }

  &.unpaired {
    width: 100%;
  }
}

// area above white box with avatar content
#fxa-settings-profile-header {
  border-bottom: 1px solid $marketing-border-color;
  padding-bottom: 18px;
  text-align: center;
  white-space: nowrap;

  @include respond-to('big') {
    margin-bottom: 20px;
  }

  @include respond-to('small') {
    margin-bottom: 10px;
  }

  .card-header {
    line-height: 30px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
  }

  .card-subheader {
    font-size: 14px;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 6px;
  }
}

.settings-child-view {
  &:first-child .settings-unit {
  
    @include respond-to('big') {
      padding: 0 0 20px;
    }

    @include respond-to('small') {
      padding: 0 0 10px;
    }
  }

  &:last-child .settings-unit {
    border-bottom: 0;

    @include respond-to('big') {
      padding: 20px 0 0;
    }

    @include respond-to('small') {
      padding: 10px 0 0;
    }
  }
}

.settings-unit {
  border-bottom: 1px solid $marketing-border-color;

  @include respond-to('big') {
    padding: 20px 0;
  }

  @include respond-to('small') {
    padding: 10px 0;
  }

  .error {
    padding: 5px 10px;
    top: 0;
  }
}

.settings-unit-stub {
  height: 35px;

  .settings-unit-summary {
    display: inline-block;
    float: left;
    margin-top: 2px;
    overflow: hidden;

    @include respond-to('big') {
      margin-right: 10px;
      width: 350px;
    }

    @include respond-to('small') {
      margin-right: 1%;
      width: 70%;
    }
  }

  .settings-unit-title {
    color: $text-color;
    font-weight: normal;
    line-height: 19px;
    margin: 0;

    @include respond-to('big') {
      font-size: $medium-font;
    }

    @include respond-to('small') {
      font-size: $base-font;
    }
  }

  .settings-unit-subtitle {
    color: $faint-text-color;
    font-size: $small-font;
    font-weight: normal;
    line-height: 16px;
    margin: 5px 0 0 0;
  }

  .settings-unit-title,
  .settings-unit-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    width: 360px;
  }

  .settings-unit-title:only-child {
    line-height: 35px;
  }
}

.settings-unit-details {
  display: none;
  margin-top: 12px;

  a {
    text-decoration: none;
  }

  p {
    color: $faint-text-color;
    margin: 6px 0 24px;
  }
}

.open .settings-unit-details {
  display: block;
}

.open .settings-unit-toggle {
  display: none;
}

.modal {
  border-radius: $big-border-radius;
  box-shadow: 0 1px 5px $modal-border-color;


  @include respond-to('big') {
    padding: 30px;
    width: 420px;
  }

  @include respond-to('small') {
    padding: 10px;
    width: 320px;
  }
}

.device-list {
  padding: 0;
}

.device {
  background-position: 0 4px;
  background-repeat: no-repeat;
  background-size: 30px 30px;

  height: 40px;
  list-style: none;
  margin: 10px 0;
  padding-left: 40px;
  position: relative;

  .settings-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 35px;
  }

  .device-name {
  }

  .last-connected {
    font-size: 12px;
    color: #909ca8;
  }
}

.device.desktop {
  background-image: url(/images/device-icon-pc.png);
}

.device.mobile {
  background-image: url(/images/device-icon-mobile.png);
}
