// this needs to be overridden,
// or done in a way that doesn't kill these everywhere
body.settings #fox-logo,
body.settings #static-footer,
body.settings .sign-in {
  display: none;
}

body.settings .loading {
  position: relative;
  top: 150px;
}

body.settings #main-content {
  background: none;
  border: 0;
  box-shadow: none;
}

body.settings #main-content.panel,
body.settings #main-content.card {
  visibility: hidden;
}

body.settings #stage .settings {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#fxa-settings {
  flex: 1;

  @include respond-to('big') {
    padding: 0 32px;
  }

  @include respond-to('small') {
    padding: 0;
  }
}

.cc-expired-alert {
  position: absolute;
  top: 0;
  width: 100%;
  background: #d70022;
  color: white;
  padding: 5px;
  text-align: center;

  a {
    text-decoration: underline;
    color: white;
  }
}

// settings header controls
#fxa-settings-header-wrapper {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond-to('big') {
    height: 96px;
  }

  @include respond-to('small') {
    flex-direction: row;
    height: 64px;
  }

  #fxa-settings-header {
    @include respond-to('small') {
      flex: 1 1;
      margin-bottom: 0;
      width: inherit;
    }
  }

  #fxa-manage-account {
    background-image: image-url('firefox-logo.svg');
    background-repeat: no-repeat;
    margin: 0;

    html[dir='ltr'] & {
      background-position: left center;
    }

    html[dir='rtl'] & {
      background-position: right center;
    }

    @include respond-to('big') {
      background-size: 36px auto;
      line-height: 63px;

      html[dir='ltr'] & {
        padding-left: 48px;
      }

      html[dir='rtl'] & {
        padding-right: 48px;
      }
    }

    @include respond-to('small') {
      background-size: 32px auto;
      height: 48px;
      line-height: 50px;

      & .fxa-account-title {
        display: none;
      }

      html[dir='ltr'] & {
        padding-left: 36px;
      }

      html[dir='rtl'] & {
        padding-right: 36px;
      }
    }
  }

  .settings-button {
    @include respond-to('big') {
      width: 128px;
    }

    @include respond-to('small') {
      width: 96px;
    }
  }

  .settings-success-wrapper {
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .settings-error,
  .settings-success {
    margin: 0 auto;
    top: 0;

    @include respond-to('small') {
      width: 100%;
    }
  }
}

// settings buttons
.settings-button {
  border-radius: $button-border-radius-settings;
  font-size: $button-font-size-settings;
  font-weight: $button-font-weight-settings;
  white-space: nowrap;

  @include respond-to('big') {
    height: $button-height-settings;
  }

  @include respond-to('small') {
    height: $button-height-settings-small;
  }

  .button-row & {
    @extend .settings-button;
    margin: 0;
    padding: 0;

    @include respond-to('big') {
      height: 48px;
      width: 48%;
    }

    @include respond-to('small') {
      height: 40px;
      width: 48%;
    }

    &:last-child {
      html[dir='ltr'] & {
        float: right;

        &.unpaired {
          float: none;
        }
      }

      html[dir='rtl'] & {
        float: left;

        &.unpaired {
          float: none;
        }
      }

      &:not(.clients-done) {
        html[dir] .clients & {
          @include respond-to('small') {
            float: none;
            margin: 10px 0;
          }
        }
      }
    }
  }

  .button-flex-row & {
    margin-left: 8px;
    margin-right: 8px;

    @include respond-to('big') {
      height: 48px;
    }

    @include respond-to('small') {
      height: 40px;
    }

    &.email-refresh .spinner {
      margin: 0 auto;
    }
  }

  &.settings-unit-toggle,
  &.settings-unit-loading {
    flex: 1 1 128px;
  }

  &.unpaired {
    width: 100%;
  }
}

.button-flex-row {
  margin-left: -8px;
  margin-right: -8px;
}

// area above white box with avatar content
#fxa-settings-profile-header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;

  @include respond-to('big') {
    padding: 0 32px;
  }

  @include respond-to('small') {
    padding: 0 16px;
  }
}

#fxa-settings-profile-header {
  margin: 0 16px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;

  .card-header,
  .card-subheader {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-header {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 1px;

    @include respond-to('small') {
      font-size: 14px;
    }
  }

  .card-subheader {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
  }
}

.settings-child-view:last-child:not(.modal) {
  padding-bottom: 1px;
}

.settings-unit {
  border-top: 1px solid $settings-section-border;
}

.settings-unit-stub {
  align-items: center;
  display: flex;
  min-height: 72px;

  @include respond-to('big') {
    padding: 16px 32px;
  }
  @include respond-to('small') {
    padding: 18px 16px;
  }

  .settings-unit-summary {
    margin: 0;
    width: 100%;

    @include respond-to('big') {
      html[dir='ltr'] & {
        margin-right: 10px;
      }

      html[dir='rtl'] & {
        margin-left: 10px;
      }
    }

    @include respond-to('small') {
      html[dir='ltr'] & {
        margin-right: 1%;
      }

      html[dir='rtl'] & {
        margin-left: 1%;
      }
    }
  }

  .settings-unit-title {
    color: $text-color;
    font-size: $base-font + 2;
    font-weight: 400;
    margin: 0;
  }

  .settings-unit-subtitle {
    color: $faint-text-color;
    font-size: $small-font;
    font-weight: normal;
    line-height: 16px;
    margin: 5px 0 0 0;
  }

  .settings-unit-title:only-child {
    line-height: 26px;
  }
}

.settings-unit-details {
  clear: both;
  display: none;

  @include respond-to('big') {
    padding: 0 32px;
  }
  @include respond-to('small') {
    padding: 0 16px;
  }

  p {
    clear: both;
    color: $faint-text-color;
    margin: 6px 0 24px;
    line-height: 1.5;
  }
}

.open .settings-unit-details {
  display: block;
}

.open .settings-unit-toggle,
.settings-button.settings-unit-loading {
  display: none;
}

.blocker {
  // Firefox 49 has an issue with z-index stacking
  // Update z-index of the jquery modal, see issue #4257
  z-index: 6;
}

section.modal-panel {
  .button-row:not(.save-options) {
    margin-bottom: 0;

    html[dir='ltr'] & {
      text-align: left;

      .input-row {
        text-align: left;
      }
    }

    html[dir='rtl'] & {
      text-align: right;
    }

    .input-row {
      text-align: right;
    }
  }
}

.delete-account {
  p {
    margin-bottom: 12px;
  }

  .subscription-link {
    @include message-box($warning-background-color, $warning-text-color);
    margin: 0 0 24px;
  }

  &-product-container {
    &.hide { // 0 products or error during fetch for subscriptions and/or clients
      display: none;
    }
  }

  &-product-list {
    line-height: 24px;
    margin: 0 0 24px;
    html[dir='ltr'] & {
      padding-left: 14px;
    }
    html[dir='rtl'] & {
      padding-right: 14px;
    }
  }

  &-checkbox-list {
    list-style: none;
    margin: 0 0 32px;

    html[dir='ltr'] & {
      padding-left: 0;
    }
    html[dir='rtl'] & {
      padding-right: 0;
    }

    &-item {
      display: grid;
      grid-template-columns: 28px auto;
      margin-bottom: 12px;
    }

    label {
      line-height: 1.5;
    }
  }

  ul {
    color: $faint-text-color;
  }

  .two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.client-list {
  padding: 0;
}

.client {
  // default client icon is desktop
  background-image: url('/images/icon-device-laptop.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;

  list-style: none;
  margin: 10px 0;
  min-height: 40px;
  position: relative;

  html[dir='ltr'] & {
    background-position: left 2px;
    padding-left: 40px;
  }

  html[dir='rtl'] & {
    background-position: right 2px;
    padding-right: 40px;
  }

  .client-name {
    line-height: 1.2;

    html[dir='ltr'] & {
      margin-right: 110px;
    }

    html[dir='rtl'] & {
      margin-left: 110px;
    }

    @include respond-to('small') {
      margin: 0;
    }
  }

  .settings-button {
    height: 36px;
    /*minimum width required for the button to look good without occupying too much space*/
    /*is also the default computed width on desktop screen*/
    min-width: 100px;
    position: absolute;
    top: 0;

    @include respond-to('big') {
      width: 20%;
    }

    html[dir='ltr'] & {
      right: 0;
    }

    html[dir='rtl'] & {
      left: 0;
    }

    @include respond-to('small') {
      position: relative;
    }
  }

  .device-current {
    color: $color-green;
    font-size: 12px;
  }

  .last-connected {
    color: $color-grey;
    font-size: 12px;

    html[dir='ltr'] & {
      margin-right: 110px;
    }

    html[dir='rtl'] & {
      margin-left: 110px;
    }

    @include respond-to('small') {
      margin: 0;
    }
  }

  &[data-os='Windows'] {
    background-image: url('/images/icon-device-laptop-windows.svg');
  }

  &[data-os='macOS'] {
    background-image: url('/images/icon-device-laptop-mac.svg');
  }

  &[data-os='Linux'] {
    background-image: url('/images/icon-device-laptop-linux.svg');
  }

  &.mobile {
    background-image: url('/images/icon-device-phone.svg');

    &[data-os='iOS'] {
      background-image: url('/images/icon-device-phone-iphone.svg');
    }

    &[data-os='Android'],
    // Preview is only offered on Android
    &[data-name^='Firefox Preview'] {
      background-image: url('/images/icon-device-phone-android.svg');
    }

    &[data-os='Windows'] {
      background-image: url('/images/icon-device-phone-windows.svg');
    }
  }

  &.tablet {
    background-image: url('/images/icon-device-tablet.svg');

    &[data-os='iOS'] {
      background-image: url('/images/icon-device-tablet-ipad.svg');
    }

    &[data-os='Android'] {
      background-image: url('/images/icon-device-tablet-android.svg');
    }
  }

  &.vr {
    background-image: url('/images/icon-device-vr.svg');
  }

  &.tv {
    background-image: url('/images/icon-device-tv.svg');
  }

  &[data-name='Add-ons'],
  &[data-name='Firefox Add-ons'] {
    background-image: url('/images/icon-service-addon.svg');
  }

  &[data-name='Lockbox'],
  &[data-name='Lockbox iOS'] {
    background-image: url('/images/icon-service-lockbox.svg');
  }

  // this selector must come after .mobile to take precedence
  &[data-name^='Firefox Lockwise'] {
    background-image: url('/images/icon-service-lockwise.svg');
  }

  &[data-name^='Firefox Monitor'] {
    background-image: url('/images/icon-service-monitor.svg');
  }

  &[data-name^='Firefox Private Network'] {
    background-image: url('/images/icon-service-private-network.svg');
  }

  &[data-name^='Firefox Reality'] {
    background-image: url('/images/icon-service-reality.svg');
  }

  &[data-name='Notes'] {
    background-image: url('/images/icon-service-firefox-notes.svg');
  }

  &[data-name='Pocket'] {
    background-image: url('/images/icon-service-pocket.svg');
  }

  &[data-name='Pontoon'] {
    background-image: url('/images/icon-service-pontoon.svg');
  }

  &[data-name='Screenshots'] {
    background-image: url('/images/icon-service-screenshots.svg');
  }
}

.client-oAuthApp {
  background-image: url('/images/icon-client-default.svg');

  &[data-name='Fenix'],
  &[data-name='Android Components Reference Browser'],
  &[data-name='Firefox Preview'] {
    background-image: url('/images/icon-device-phone-android.svg');
  }

  &[data-name^='Firefox Send'] {
    background-image: url('/images/icon-service-send.svg');
  }
}

.client-webSession {
  background-image: url('/images/icon-web-session.svg');
}

.client-device {
  &.client-current {
    background-position: left 5px;
  }
}

#client-disconnect {
  .radio-header {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    text-align: left;

    html[dir='rtl'] & {
      text-align: right;
    }
  }
}

.fxa-radio {
  html[dir='ltr'] & {
    text-align: left;
  }

  html[dir='rtl'] & {
    text-align: right;
  }

  label {
    display: block;
  }
}

.email-list {
  padding: 0;
  margin-bottom: 30px;

  .email-address {
    list-style: none;
    margin: 20px 0;
    position: relative;

    .email-address-row {
      display: flex;
      height: 40px;

      .settings-button-group {
        display: flex;

        .settings-button {
          display: inline-block;
          height: 40px;
          margin-left: 10px;
          /*minimum width required for the button to look good without occupying too much space*/
          /*is also the default computed width on desktop screen*/
          min-width: 120px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        @media screen and (max-width: 400px) {
          display: none;
        }
      }
    }

    .email-address-details {
      flex: 1;
      overflow: hidden;
    }

    html[dir='ltr'] & {
      background-position: left 2px;
    }

    html[dir='rtl'] & {
      background-position: right 2px;
    }

    .address {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .email-options {
    height: 40px;
    list-style: none;
    margin: 0 0 10px;
    position: relative;

    html[dir='ltr'] & {
      background-position: left 2px;
    }

    html[dir='rtl'] & {
      background-position: right 2px;
    }

    .settings-button-group {
      display: flex;

      .settings-button {
        height: 40px;
        /*minimum width required for the button to look good without occupying too much space*/
        /*is also the default computed width on desktop screen*/
        min-width: 100px;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.set-primary {
          margin-right: 10px;
        }
      }
    }

    @media screen and (min-width: 400px) {
      display: none;
    }
  }
}

.details {
  color: $color-grey;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.not-verified {
    color: $color-red;
  }

  &.verified {
    color: $color-green;
  }

  > .disabled {
    color: $color-red;
  }

  > .enabled {
    color: $color-green;
  }
}

.panel-settings-button-group {
  position: absolute;
  top: 0;

  html[dir='ltr'] & {
    right: 0;
  }

  html[dir='rtl'] & {
    left: 0;
  }

  .settings-button {
    height: 40px;
    /*minimum width required for the button to look good without occupying too much space*/
    /*is also the default computed width on desktop screen*/
    min-width: 100px;
    text-align: center;
    width: 20%;

    html[dir='ltr'] & {
      margin-left: 10px;
    }

    html[dir='rtl'] & {
      margin-right: 10px;
    }
  }
}

.open-email-preferences {
  background-image: image-url('icon-open-in.svg');
  background-repeat: no-repeat;

  html[dir='ltr'] & {
    background-position: center right;
    padding-right: 25px;
  }

  html[dir='rtl'] & {
    background-position: center left;
    padding-left: 25px;
  }
}

.breadcrumbs {
  margin-top: 0;
  padding-left: 32px;
  width: 100%;

  @include respond-to('small') {
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }

  li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;

    &::before {
      content: "\003E";
      padding: 0 10px;

      @include respond-to('small') {
        padding: 0 5px;
      }
    }

    &:first-child::before {
      content: "";
      padding: 0;
    }
  }
}
