// this needs to be overridden, 
// or done in a way that doesn't kill these everywhere
#fox-logo,
#about-mozilla {
  display: none;
}

// settings header controls
#fxa-settings-header-wrapper {
  background: #fff;
  border-bottom: 1px solid #b4bdc3;

  @include respond-to('big') {
    height: 56px;
    margin-bottom: 40px;
  }

  @include respond-to('small') {
    height: 48px;
    margin-bottom: 24px;
  }

  #fxa-manage-account {
    @include hidpi-background-image('firefox', 80px 85px);
    background-repeat: no-repeat;
    float: left;
    margin: 0;

    @include respond-to('big') {
      background-position: left 11px;
      background-size: 36px auto;
      height: 56px;
      line-height: 58px;
      padding-left: 48px;
    }

    @include respond-to('small') {
      background-position: left 8px;
      background-size: 32px auto;
      height: 48px;
      line-height: 50px;
      padding-left: 36px;
    }

  }

  .settings-button {
    display: block;
    float: right;
    height: 30px;

    @include respond-to('big') {
      width: 100px;
      margin-top: 13px;
    }

    @include respond-to('small') {
      margin-top: 9px;
      width: 29%;
    }
  }
}

// settings buttons
.settings-button {
  @include font();
  border-radius: $small-border-radius;
  cursor: pointer;
  font-size: $base-font;
  transition-duration: $short-transition;
  transition-property: background-color;

  .button-row & {
    @extend .settings-button;
    padding: 0;
    margin: 0;

    @include respond-to('big') {
      width: 48%;
      height: 45px;
    }

    @include respond-to('small') {
      width: 48%;
      height: 40px;
    }

    &:last-child {
      float: right;
    }
  }

  &.settings-unit-toggle {
    display: block;
    height: 30px;
    margin-top: 5px;

    @include respond-to('big') {
      width: 100px;
    }

    @include respond-to('small') {
      width: 29%;
    }
  }

  &.primary {
    background: $button-background-color;
    border: 0;
    color: $message-text-color;

    &:active,
    &:hover,
    &:focus {
      background: $button-background-hover-color;
    }
  }

  &.secondary {
    background: $html-background-color;
    border: 1px solid #c1c1c1;
    color: $text-color;

    &:active,
    &:hover,
    &:focus {
      background: darken($html-background-color, 5);
    }
  }

  &.warning {
    background: $error-background-color;
    border: 0;
    color: $message-text-color;

    &:active,
    &:hover,
    &:focus {
      background: darken($error-background-color, 5);
    }
  }
}

// area above white box with avatar content
#fxa-settings-profile-header {

  white-space: nowrap;

  @include respond-to('big') {
    height: 36px;
    padding: 0 20px;
    margin-bottom: 12px;
  }

  @include respond-to('small') {
    height: 30px;
    padding: 0 2%;
    margin-bottom: 6px;
  }

  .avatar-wrapper {
    display: inline-block;
  }

  .signed-in-email-message {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    
    @include respond-to('big') {
      font-size: $medium-font;
      line-height: 36px;
      margin: 0 0 0 12px;
      width: 420px;
    }

    @include respond-to('small') {
      font-size: $base-font;
      line-height: 30px;
      margin: 0 0 0 6px;
      width: 85%;
    }
  }
}

.settings-unit {
  padding: 20px 0;
  border-bottom: 1px solid $marketing-border-color;
  
  &:first-child {
    padding: 0 0 20px;
  }

  &:last-child {
    border-bottom: none;
    padding: 20px 0 0 0;
  }
}

.settings-unit-stub {
  height: 35px;

  .settings-unit-summary {
    display: inline-block;
    float: left;

    @include respond-to('big') {
      width: 350px;
      margin-right: 10px;
    }

    @include respond-to('small') {
      width: 70%;
      margin-right: 1%;
    }
  }

  .settings-unit-title {
    color: $text-color;
    margin: 0;
    font-weight: normal;
    line-height: $medium-font;
    
    @include respond-to('big') {
      font-size: $medium-font;
    }

    @include respond-to('small') {
      font-size: $base-font;
    }
  }



  .settings-unit-subtitle {
    color: $faint-text-color;
    margin: 0;
    font-size: $small-font;
    line-height: $small-font;
    font-weight: normal;
  }

  .settings-unit-title,
  .settings-unit-subtitle {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    width: 360px;
  }

  .settings-unit-title:only-child {
    line-height: 35px;
  }
}

.settings-unit-details {
  display: none;
  margin-top: 24px;

  p {
    color: $faint-text-color;
    margin-bottom: 24px;
  }
}
