.account-recovery-panel {
  .list {
    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }

    .type {
      display: flex;
      height: 40px;
      justify-content: space-between;
      margin: 10px 0;
      position: relative;

      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include respond-to('big') {
          width: calc(95% - 95px);
        }

        @include respond-to('small') {
          width: 100%;
        }
      }

      .details {
        & .disabled {
          color: $color-grey;
        }
      }
    }
  }

  .input-row {
    margin-top: 24px;
  }
}

#fxa-recovery-key-confirm {
  margin-bottom: 40px;
}

.recovery-key-icon {
  background-image: image-url('recovery_key_key.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  flex: 1;

  html[dir='ltr'] & {
    background-position: left 2px;
    padding-left: 35px;
  }

  html[dir='rtl'] & {
    background-position: right 2px;
    padding-right: 35px;
  }
}

#account-recovery-confirm-password,
#account-recovery-confirm-revoke,
.account-recovery-create-password,
#account-recovery-section,
#account-recovery-key,
.save-recovery-key {
  .note {
    font-weight: bold;
  }

  .options {
    .buttons {
      display: flex;
      justify-content: center;

      button {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 15px;
        width: 45%;

        .recovery-icon-option {
          height: 16px;
          padding-right: 25px;
        }

        img {
          &.download-image {
            background: image-url('recovery_key_download.svg') no-repeat;
          }

          &.print-image {
            background: image-url('recovery_key_print.svg') no-repeat;
          }
        }
      }

      button:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .recovery-key-container {
    background-color: $modal-recovery-key-background;
    border-color: $modal-recovery-key-border;
    border-style: dotted;
    border-width: 2px;
    margin-bottom: 25px;

    .recovery-key {
      color: $modal-recovery-key-color;
      font-family: monospace;
      font-size: 1em;
      padding: 25px 0 25px 0;

      @media screen and (max-width: 400px) {
        font-size: 0.9em;
      }
    }
  }

  .email {
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 25px;
    text-overflow: ellipsis;
  }

  .revoke-description {
    margin: 0 auto 75px 0;
  }

  .description {
    font-size: 14px;
    line-height: 1.5;
  }
}

button.button-link {
  background: transparent;
  color: $color-blue;
}

button.generate-key-link{
  margin-bottom: 16px;
}
