// this needs to be overridden,
// or done in a way that doesn't kill these everywhere
body.settings #fox-logo,
body.settings #about-mozilla,
body.settings .sign-in {
  display: none;
}

body.settings .loading {
  position: relative;
  top: 150px;
}

body.settings #main-content {
  background: none;
  border: 0;
  box-shadow: none;
}

body.settings #main-content.panel,
body.settings #main-content.card {
  visibility: hidden;
}

// settings header controls
#fxa-settings-header-wrapper {
  background: $color-white;
  border-bottom: 1px solid $color-grey-light;

  @include respond-to('big') {
    height: 64px;
  }

  @include respond-to('small') {
    height: 48px;
  }

  #fxa-manage-account {
    background-image: image-url('firefox-logo.svg');
    background-position-y: -5px;
    background-repeat: no-repeat;
    margin: 0;

    @include respond-to('small') {
      background-position-y: -4px;
    }

    html[dir='ltr'] & {
      float: left;
    }

    html[dir='rtl'] & {
      float: right;
    }

    @include respond-to('big') {
      background-size: 36px auto;
      height: 64px;
      line-height: 63px;

      html[dir='ltr'] & {
        background-position: left 11px;
        padding-left: 48px;
      }

      html[dir='rtl'] & {
        background-position: right 11px;
        padding-right: 48px;
      }
    }

    @include respond-to('small') {
      background-size: 32px auto;
      height: 48px;
      line-height: 50px;

      html[dir='ltr'] & {
        background-position: left 8px;
        padding-left: 36px;
      }

      html[dir='rtl'] & {
        background-position: right 8px;
        padding-right: 36px;
      }
    }
  }

  .settings-button {
    height: 30px;
    width: 29%;

    html[dir='ltr'] & {
      float: right;
    }

    html[dir='rtl'] & {
      float: left;
    }

    @include respond-to('big') {
      margin-top: 15px;
      width: 100px;
    }

    @include respond-to('small') {
      margin-top: 9px;
      min-width: 29%;
    }
  }

  .settings-success-wrapper {
    z-index: 2;

    @include respond-to('big') {
      left: 50%;
      margin: 0 0 0 -250px;
      position: absolute;
      top: 64px;
      width: 500px;
    }

    @include respond-to('small') {
      left: 0;
      margin: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .settings-success {
    margin: 0 auto;
    top: 0;

    @include respond-to('small') {
      width: 100%;
    }
  }
}


// settings buttons
.settings-button {
  border-radius: $button-border-radius-settings;
  font-size: $button-font-size-settings;
  font-weight: $button-font-weight-settings;
  height: $button-height-settings;

  .button-row & {
    @extend .settings-button;
    margin: 0;
    padding: 0;

    @include respond-to('big') {
      height: 45px;
      width: 48%;
    }

    @include respond-to('small') {
      height: 40px;
      width: 48%;
    }

    &:last-child {

      html[dir='ltr'] & {
        float: right;

        &.unpaired {
          float: none;
        }
      }

      html[dir='rtl'] & {
        float: left;

        &.unpaired {
          float: none;
        }
      }

      &:not(.clients-done) {
        html[dir] .clients & {
          @include respond-to('small') {
            float: none;
            margin: 10px 0;
          }
        }
      }
    }
  }

  &.settings-unit-toggle,
  &.settings-unit-loading {
    height: 35px;

    @include respond-to('big') {
      width: 100px;
    }

    @include respond-to('small') {
      width: 29%;
    }
  }

  &.unpaired {
    width: 100%;
  }
}

// area above white box with avatar content
#fxa-settings-profile-header {
  border-bottom: 1px solid $marketing-border-color;
  padding-bottom: 18px;
  text-align: center;
  white-space: nowrap;

  @include respond-to('big') {
    margin-bottom: 20px;
  }

  @include respond-to('small') {
    margin-bottom: 10px;
  }

  .card-header,
  .card-subheader {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
  }

  .card-header {
    line-height: 30px;
    margin-bottom: 0;
  }

  .card-subheader {
    font-size: 14px;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 6px;
  }
}

.settings-child-view {
  &:first-child .settings-unit {

    @include respond-to('big') {
      padding: 0 0 20px;
    }

    @include respond-to('small') {
      padding: 0 0 10px;
    }
  }

  &:last-child .settings-unit {
    border-bottom: 0;

    @include respond-to('big') {
      padding: 20px 0 0;
    }

    @include respond-to('small') {
      padding: 10px 0 0;
    }
  }
}

.settings-unit {
  border-bottom: 1px solid $marketing-border-color;

  @include respond-to('big') {
    padding: 20px 0;
  }

  @include respond-to('small') {
    padding: 10px 0;
  }
}

.settings-unit-stub {
  height: 35px;

  .settings-unit-summary {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 2px;
    overflow: hidden;

    html[dir='ltr'] & {
      float: left;
    }

    html[dir='rtl'] & {
      float: right;
    }

    @include respond-to('big') {
      width: 350px;

      html[dir='ltr'] & {
        margin-right: 10px;
      }

      html[dir='rtl'] & {
        margin-left: 10px;
      }
    }

    @include respond-to('small') {
      width: 70%;

      html[dir='ltr'] & {
        margin-right: 1%;
      }

      html[dir='rtl'] & {
        margin-left: 1%;
      }
    }
  }

  .settings-unit-title {
    color: $text-color;
    line-height: 19px;
    margin: 0;

    @include respond-to('big') {
      font-size: $medium-font;
    }

    @include respond-to('small') {
      font-size: $base-font;
    }
  }

  .settings-unit-subtitle {
    color: $faint-text-color;
    font-size: $small-font;
    font-weight: normal;
    line-height: 16px;
    margin: 5px 0 0 0;
  }

  .settings-unit-title,
  .settings-unit-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    width: 360px;
  }

  .settings-unit-title:only-child {
    line-height: 35px;
  }
}

.settings-unit-details {
  clear: both;
  display: none;

  p {
    clear: both;
    color: $faint-text-color;
    margin: 6px 0 24px;
  }
}

.open .settings-unit-details {
  display: block;
}

.open .settings-unit-toggle,
.settings-button.settings-unit-loading {
  display: none;
}

.blocker {
  // Firefox 49 has an issue with z-index stacking
  // Update z-index of the jquery modal, see issue #4257
  z-index: 6;
}

section.modal-panel {
  .button-row {
    margin-bottom: 0;

    html[dir='ltr'] & {
      text-align: left;
    }

    html[dir='rtl'] & {
      text-align: right;
    }
  }

  .input-row {
    text-align: left;
  }
}

.client-list {
  padding: 0;
}

.client {
  // default client icon is desktop
  background-image: url('/images/icon-device-laptop.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;

  list-style: none;
  margin: 10px 0;
  min-height: 40px;
  position: relative;

  html[dir='ltr'] & {
    background-position: left 2px;
    padding-left: 40px;
  }

  html[dir='rtl'] & {
    background-position: right 2px;
    padding-right: 40px;
  }

  .client-name {
    line-height: 1.2;
    margin-right: 110px;

    @include respond-to('small') {
      margin-right: 0;
    }
  }

  .settings-button {
    height: 35px;
    /*minimum width required for the button to look good without occupying too much space*/
    /*is also the default computed width on desktop screen*/
    min-width: 100px;
    position: absolute;
    top: 0;
    width: 20%;

    html[dir='ltr'] & {
      right: 0;
    }

    html[dir='rtl'] & {
      left: 0;
    }

    @include respond-to('small') {
      position: relative;
    }
  }

  .device-current {
    color: $color-green;
    font-size: 12px;
  }

  .last-connected {
    color: $color-grey;
    font-size: 12px;
    margin-right: 110px;

    @include respond-to('small') {
      margin-right: 0;
    }
  }

  &[data-os='Windows'] {
    background-image: url('/images/icon-device-laptop-windows.svg');
  }

  &[data-os='macOS'] {
    background-image: url('/images/icon-device-laptop-mac.svg');
  }

  &[data-os='Linux'] {
    background-image: url('/images/icon-device-laptop-linux.svg');
  }

}

.client.mobile {
  background-image: url('/images/icon-device-phone.svg');

  &[data-os='iOS'] {
    background-image: url('/images/icon-device-phone-iphone.svg');
  }

  &[data-os='Android'] {
    background-image: url('/images/icon-device-phone-android.svg');
  }

  &[data-os='Windows'] {
    background-image: url('/images/icon-device-phone-windows.svg');
  }
}

.client.tablet {
  background-image: url('/images/icon-device-tablet.svg');

  &[data-os='iOS'] {
    background-image: url('/images/icon-device-tablet-ipad.svg');
  }

  &[data-os='Android'] {
    background-image: url('/images/icon-device-tablet-android.svg');
  }
}

.client-device {
  &.client-current {
    background-position: left 5px;

  }
}

.client-oAuthApp {
  background-image: url('/images/icon-client-default.svg');

  &[data-name='Add-ons'],
  &[data-name='Firefox Add-ons'] {
    background-image: url('/images/icon-service-addon.svg');
  }

  &[data-name='Lockbox'],
  &[data-name='Lockbox iOS'] {
    background-image: url('/images/icon-service-lockbox.svg');
  }

  &[data-name^='Firefox Monitor'] {
    background-image: url('/images/icon-service-monitor.svg');
  }

  &[data-name='Notes'] {
    background-image: url('/images/icon-service-firefox-notes.svg');
  }

  &[data-name='Pocket'] {
    background-image: url('/images/icon-service-pocket.svg');
  }

  &[data-name='Pontoon'] {
    background-image: url('/images/icon-service-pontoon.svg');
  }

  &[data-name='Screenshots'] {
    background-image: url('/images/icon-service-screenshots.svg');
  }
}

.client-webSession {
  background-image: url('/images/icon-web-session.svg');
}

#client-disconnect {
  .intro {
    margin-bottom: 30px;
  }
}

.fxa-radio {

  html[dir='ltr'] & {
    text-align: left;
  }

  html[dir='rtl'] & {
    text-align: right;
  }

  label {
    display: block;
  }
}

.email-list {
  padding: 0;

  .email-address {
    height: 40px;
    list-style: none;
    margin: 10px 0;
    position: relative;

    html[dir='ltr'] & {
      background-position: left 2px;
    }

    html[dir='rtl'] & {
      background-position: right 2px;
    }

    .address {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media screen and (min-width: 400px) {
        width: calc(95% - 95px);
      }

      @media screen and (max-width: 400px) {
        width: 100%;
      }

      &.verified {
        @media screen and (min-width: 400px) {
          // There are two buttons when the email
          // is verified, the extra button width
          // needs to be taken into account.
          // See #6751
          width: calc(95% - 195px);
        }
      }
    }

    .settings-button-group {
      position: absolute;
      top: 0;

      html[dir='ltr'] & {
        right: 0;
      }

      html[dir='rtl'] & {
        left: 0;
      }

      .settings-button {
        height: 35px;
        margin-left: 10px;
        /*minimum width required for the button to look good without occupying too much space*/
        /*is also the default computed width on desktop screen*/
        min-width: 100px;
        text-align: center;
        width: 20%;
      }

      @media screen and (max-width: 400px) {
        display: none;
      }
    }
  }

  .email-options {
    height: 40px;
    list-style: none;
    margin: 10px 0;
    position: relative;

    html[dir='ltr'] & {
      background-position: left 2px;
    }

    html[dir='rtl'] & {
      background-position: right 2px;
    }

    .settings-button-group {
      position: absolute;
      top: 0;

      html[dir='ltr'] & {
        left: 0;
      }

      html[dir='rtl'] & {
        right: 0;
      }

      .settings-button {
        height: 35px;
        /*minimum width required for the button to look good without occupying too much space*/
        /*is also the default computed width on desktop screen*/
        min-width: 100px;
        text-align: center;
        width: 20%;

        &.set-primary {
          margin-right: 10px;
        }
      }
    }

    @media screen and (min-width: 400px) {
      display: none;
    }
  }
}

.details {
  color: $color-grey;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(95% - 95px);

  &.not-verified {
    color: $color-red;
  }

  &.verified {
    color: $color-green;
    // There are two buttons when the email
    // is verified, the extra button width
    // needs to be taken into account.
    // See #6751
    width: calc(95% - 195px);
  }

  > .disabled {
    color: $color-red;
  }

  > .enabled {
    color: $color-green;
  }
}

.panel-settings-button-group {
  position: absolute;
  top: 0;

  html[dir='ltr'] & {
    right: 0;
  }

  html[dir='rtl'] & {
    left: 0;
  }

  .settings-button {
    height: 35px;
    margin-left: 10px;
    /*minimum width required for the button to look good without occupying too much space*/
    /*is also the default computed width on desktop screen*/
    min-width: 100px;
    text-align: center;
    width: 20%;
  }
}
