#loading-spinner img {
  animation: 0.9s spin infinite linear;
  display: block;
  height: 36px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: calc(50% - 36px);
  white-space: nowrap;
  width: 36px;
}

#loading-avatar-spinner img {
  animation: 0.9s spin infinite linear;
  display: inline-block;
  height: $avatar-size;
  margin: 0 0 5px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: $avatar-size;
}

.spinner {
  @include hidpi-background-image('spinnerlight', 36px 36px);
  animation: 0.9s spin infinite linear;
  background-repeat: no-repeat;
  display: block;
  height: 36px;
  margin: 130px auto 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 36px;

  @include respond-to('small') {
    margin-top: 95px;
  }

  .button-row &,
  .input-row & {
    background-image: url('/images/spinnerwhite.svg');
    background-size: 33px 33px;
    height: 33px;
    margin: 0 auto;
    position: relative;
    width: 33px;

    @include respond-to('small') {
      top: -1px;
    }
  }

  &.spinner-settings-fetch {
    @include hidpi-background-image('spinnergrey', 25px 25px);
    height: 25px;
    margin: 0 auto;
    width: 25px;
  }
}
