.support {
  .settings-unit:first-child {
    display: block;

    .settings-unit-stub {
      .settings-unit-title {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
.support-form {
  margin: 25px 32px;

  @include respond-to('small') {
    margin: 25px 16px;
  }

  header {
    margin-bottom: 20px;

    h3 {
      font-size: 16px;
    }
  }

  .support-field {
    padding: 0 33px;

    @include respond-to('small') {
      padding: 0;
    }

    &:nth-child(3) {
      margin-bottom: 30px;
    }
  }

  textarea {
    @include input-element();
    display: inline-block;
    height: 101px;
    padding: $input-left-right-padding;

    html[dir='rtl'] & {
      direction: ltr;
      text-align: right;
    }

    @include respond-to('small') {
      height: 101px;
    }
  }

  .button-row {
    .settings-button {
      height: 40px;
    }
  }

  .form-label {
    margin-bottom: 5px;

    label {
      font-size: 13px;
      font-weight: 600;
    }
  }
}

.modal {
  h2 {
    font-size: 18px;
    font-weight: 600;
  }

  h2,
  .message {
    text-align: center;
  }

  .message {
    line-height: 185%;
    margin-bottom: 30px;
  }

  &.dialog-error,
  &.dialog-success {
    display: inline-block;
    padding: 25px 27px;
    width: 545px;

    @include respond-to('small') {
      width: 100%;
      max-width: 420px;
    }

    .close-modal {
      background: transparent;
      color: #0c0c0d;
      font-size: 16px;
      font-weight: 600;
      right:2px;
      text-indent: 0;
      top: 13px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
