:root {
  --main-color: #20123a;
--warmGradient:linear-gradient(71deg, #972ab8, #e22951 100%, #e22851 100%);
 --bluePurpleGradient:linear-gradient(220deg, var(--blue4) 0%, var(--violet5) 55%, var(--purple5) 100%);
 --inkLight:#2b1e44;
 --color:#20123a;
 --textLight:#686869;
 --padding:2rem;
 --maxWidth:1200px;
 --margin:1rem;
 --headline:2.5rem;
 --topHeadline:3.25rem;
 --skinnyHeadline:1.9rem;
 --subhead:1.1rem;
 --lineHeight:180%;
 --radius:0.5rem;
 --borderColor:#eee;
 --textLight:#5e5e72;
 --alertRed:#ff4f5e;
 --purple:#9059ff;
 --violet1:#c689ff;
 --violet2:#ab71ff;
 --violet3:#9059ff;
 --violet4:#7542e5;
 --violet5:#592acb;
 --purple1:#f565ff;
 --purple5:#722291;
 --purple6:#332869;
 --pink4:#e31587;
 --blue1:#0df;
 --blue2:#0090ed;
 --blue3:#0060df;
 --blue4:#0250bb;
 --blue5:#073072;
 --orange1:#ffa266;
 --green1:#54ffbd;
 --orange5:#ff7139;
 --orange6:#e25920;
 --bgLight:#f9f7fd;
 --buttonFontSize:0.9rem;
 --paragraphFontSize:1.1rem;
 --grey1:#f9f9fa;
 --grey2:#ededf0;
 --grey3:#cdcdd4;
 --grey6:#5e5e72;
 --grey8:#42425a;
 --grey9:#202340;
 --monitorGradient:linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2");
}


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Metropolis, sans-serif;
  min-height: 100vh;
}

button {
  font-family: Metropolis, sans-serif;
}

select {
  -moz-appearance: none;
  background: none;
  border-radius: 4px;
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  opacity: .5;
  padding: .5rem;
  transition: opacity 50ms;
  width: 100px;
  align-items: center;
  text-align: center;
  font-size: .85rem;
}

option {
  width: 100px;
}

select:focus {
  opacity: 1;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 white;
}

option:not(:checked) {
  color: black; /* prevent <option>s from becoming transparent as well */
}

#splash-page,
#auth-page {
  display: none;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#splash-page header {
  background: var(--main-color);
}

#splash-page .wordmark {
  background-image: url("/img/fortress-logotype.svg");
}

#splash-page main {
  background-color: var(--color);
  color: white;
}

#auth-page .wordmark {
  background-image: url("/img/fortress-logotype-dark.svg");
}

#auth-page main {
  background-color: white;
  color: var(--color);
}


header{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 2.75rem;
  position: fixed;
  width: 100%;
}

.logo-wrapper {
  align-items: center;
  display: flex;
  flex: 1 1;
  position: relative;
}

.logo {
  background-image: url("/img/fortress-logo.svg");
  background-size: 40px 40px;
  flex: 0 0 40px;
  height: 40px;
}

.wordmark {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 28px;
  margin-left: 1rem;
  width: 270px;
}

main {
  align-items: center;
  background-image: url("/img/background.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem 2.75rem;
  text-align: center;
}

main h1 {
  font-size: 3.25rem;
  line-height: 130%;
  margin: 0 auto;
}

main h2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 175%;
  margin: .5rem auto 1rem;
  max-width: 450px;
  padding: 0;
}

.subscribe,
.fxa-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  background-color: var(--blue3);
  border-color: var(--blue3);
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 4rem;
  justify-content: center;
  letter-spacing: .01em;
  margin: 1rem auto;
  min-width: 320px;
  text-decoration: none;
  transition: all .15s ease;
  width: 320px;
}

.fxa-button {
  display: none;
}

.subscribe:not(.fxa-button) {
  display: flex;
}

.small-text {
  color: var(--grey3);
  font-size: .9rem;
  font-weight: 300;
  line-height: 180%;
  margin: 1rem auto;
  max-width: 320px;
  text-align: center;
  z-index: 1;
}

button.clear {
  background: none;
  border-radius: 4px;
  border: 2px solid var(--color);
  color: var(--color);
  opacity: .8;
  padding: 1rem;
}

.clear:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all .15s ease;
}

.pro-banner {
  background: url('/img/pro-header-bg.gif');
  background-size: cover;
  flex: 1;
  font-weight: 700;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
}

.pro {
  display: none;
}

.is-subscribed .pro {
  display: flex;
}

.is-subscribed header {
  margin-top: 3rem;
}

.is-subscribed .no-pro {
  display: none;
}

.pro-pip {
  background: var(--green1);
  border-radius: 4px;
  color: var(--color);
  font-weight: 700;
  padding: .45rem;
  position: relative;
  top: -10px;
}

.sparkle {
  color: var(--violet5);
}
