* {
    margin: 0;
    padding: 0;
}

footer, section, header, aside, figure {
    display: block;
}

html {
    background: #f5f2e4;
    background-image: url(/img/background.png);
    height:100% ;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: #030;
    font-weight: 200;
}

body {
    font-size: 15px;
    font-family: helvetica neue, verdana, sans-serif;
    font-weight: 200;
}

section form {
    color: black;
    border-radius: 2px;
    padding: 8px 10px;
    position: relative;
    font-size:20px;
    margin-top: 50px;
}

#newitem {
    width: 548px;
    font-size: 20px;
    border: 1px dotted #333;
    margin-left: 6px;
    padding: 1px 4px;
    height: 25px;
}

#todolist {
    margin: 10px 10px;
}

#todolist li {
    font-size: 40px;
    border-radius: 2px;
    list-style: none;
    padding: 14px 0px 2px 45px;
    margin-bottom: 5px;
    position: relative;
    font-family: "Dr Sugiyama", cursive;
    line-height: .7em;
    color: #152e81;
}

#todolist li.done {
        color: #817f78;
}

#todolist li:hover {
    cursor: pointer;
}

#todolist li:hover:after,
#todolist li.done:after {
    content: '✔';
    color: #;
    position: absolute;
    left: 5px;
    top: 15px;
}

#todolist li.done:hover:after {
    content: 'x';
    font-weight: bold;
    color: #c00;
    position: absolute;
    left: 5px;
}

h1 span {
    font-size: 14px;
    color: #030;
}

header {
    position: relative;
    padding: 10px 5px;
    margin-bottom: 60px;
}

ul.loginarea li {
    display: none;
}

.loginarea .loading {
    display: block;
    margin-right: 60px;
}

button {
    background: none;
    border: none;
}

button:hover, #addtask {
    cursor: pointer;
}

header form {
    margin-left: 50px;
}

section form input[type="submit"] {
    position: absolute;
    color: white;
    right: 10px;
    top: 8px;
    height: 29px;
    padding: 3px 6px;
    border: 1px dotted black;
    text-transform: lowercase;
    background-color: #817f78;
}

#container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

#todo {
    width: 700px;
    margin: 0 auto;
}

header nav {
    position: absolute;
    right: 10px;
    top :15px;
}

header nav > * {
    margin-left: 1em;
    float: right;
}

#dataState {
    margin-top: 3px;
}

#dataState > div {
    display: none;
}

/* rotate the sync progress icon with CSS where supported */
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#dataState .inprogress
{
    animation-name:                     rotate;
    -moz-animation-name:                rotate;
    -webkit-animation-name:             rotate;
    animation-duration:                 2.5s;
    -moz-animation-duration:            2.5s;
    -webkit-animation-duration:         2.5s;
    animation-iteration-count:          infinite;
    -moz-animation-iteration-count:     infinite;
    -webkit-animation-iteration-count:  infinite;
    animation-timing-function:          linear;
    -moz-animation-timing-function:     linear;
    -webkit-animation-timing-function:  linear;
}

nav li {
    float:left;
    list-style:none;
    text-align: center;
}

nav a {
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    padding:0px 10px;
    display:block;
}

nav a:hover, #addtask:hover {
    opacity: .6;
}

#info {
    width: 400px;
    margin: 0 auto;
    padding: 30px;

}

#info header {
    background: none;
    box-shadow: none;
    margin: 0 0 10px 0;
}

#info h1 {
    color: #000;
    margin-top: 20px;
}

#info p {
    font-size: 14px;
    padding-bottom:10px;
}

footer {
    text-align: center;
    margin: 30px auto;
    font-size: 12px;
    width: 680px;
    border-top: 1px dotted black;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: #555;
    border-bottom: 1px dotted #555;
}

@media (max-width: 480px) {
    header nav {
        position: relative;
        top: auto;
        right: auto;
    }
    header nav > * {
        float: none;
    }
    .loginarea button { margin-top: 1em; min-height: 60px}

    section form input[type="submit"] {
        margin-left: 10px;
    }

}

@media (max-width: 750px) {

    #newitem {
        margin: 10px 10px 10px 0px;
        display: block;
        width: 90%;
    }

    section form input[type="submit"] {
        position: relative;
        font-size: 1.5em;
        height: auto;
    }

    #todo, footer { width: 90%; }
    #info { width: auto; }
}