* {
    margin: 0;
    padding: 0;
}

footer, section, header, aside, figure {
    display: block;
}

html {
    background-image: linear-gradient(to bottom, #e9eef1, #bfc8ca);
    height:100% ;
}

h1 {
    color: #030;
    font-weight: 200;
}

section form {
    color: black;
    padding: 8px 10px;
    position: relative;
    font-size:20px;
    margin-top: 50px;
}

#newitem {
    font-size: 20px;
    margin-left: 6px;
    padding: 1px 4px;
    height: 25px;
}

#todolist {
    margin: 10px 10px;
}

#todolist li {
    font-size: 25px;
    border-radius: 2px;
    list-style: none;
/*    padding: 14px 0px 2px 45px;*/
    margin-bottom: 5px;
    position: relative;
    line-height: 1.2em;
    color: #152e81;
}

#todolist li.done {
 	color: #817f78;
}

#todolist li:hover {
    cursor: pointer;
}

#todolist li:hover:after,
#todolist li.done:after {
    content: '√';
    color: #;
    position: absolute;
    left: -30px;
/*    top: 10px;*/
}

#todolist li.done:hover:after {
    content: 'x';
    color: #c00;
    position: absolute;
    left: -30px;
}

h1 span {
    font-size: 14px;
    color: #030;
}

header {
    position: relative;
    padding: 10px 5px;
    margin-bottom: 60px;
}

ul.loginarea li {
    display: none;
}

.loginarea .loading {
    display: inline-block;
    margin-right: 60px;
}

button {
    background: none;
    border: none;
}

button:hover, #addtask {
    cursor: pointer;
}

header form {
    margin-left: 50px;
}

section form input[type="submit"] {
    right: 10px;
    top: 8px;
    height: 29px;
    padding: 3px 6px;
    text-transform: lowercase;
}

#container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

#todo {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

header nav {
    position: absolute;
    right: 10px;
    top :15px;
}

header nav > * {
    margin-left: 1em;
    float: right;
}

#dataState {
    margin-top: 5px;
}

#dataState > div {
    display: none;
}

/* rotate the sync progress icon with CSS where supported */
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#dataState .inprogress
{
    animation-name:                     rotate;
    -moz-animation-name:                rotate;
    -webkit-animation-name:             rotate;
    animation-duration:                 2.5s;
    -moz-animation-duration:            2.5s;
    -webkit-animation-duration:         2.5s;
    animation-iteration-count:          infinite;
    -moz-animation-iteration-count:     infinite;
    -webkit-animation-iteration-count:  infinite;
    animation-timing-function:          linear;
    -moz-animation-timing-function:     linear;
    -webkit-animation-timing-function:  linear;
}

nav li {
    float:left;
    list-style:none;
    text-align: center;
}

nav a {
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    padding:0px 10px;
    vertical-align: bottom;
}

nav a:hover, #addtask:hover {
    opacity: .6;
}

#info {
    width: 400px;
    margin: 0 auto;
    padding: 30px;

}

#info header {
    background: none;
    box-shadow: none;
    margin: 0 0 10px 0;
}

#info h1 {
    color: #000;
    margin-top: 20px;
}

#info p {
    font-size: 14px;
    padding-bottom:10px;
}


#loginlinkouter	{height:100px; line-height:100px;}
#loginlinkinner	{clear:both; height:240px; position:relative;}

#loginlink {
	display: inline;
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0;
	margin:auto; 
	height:50px; 
	width:99%;
}

footer {
	position: fixed;  
	bottom: 0px;
    text-align: center;
    margin: 30px auto;
    font-size: 12px;
    width: 680px;
    border-top: 1px dotted black;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: #555;
    border-bottom: 1px dotted #555;
}

#signinhere {
	display: none;
	text-align: center;
}

section.todo form {
	display: none;
}
