#dialogs {
  .modal {
    padding: 25px 27px;
    text-align: center;
  }

  .modal .dismiss {
    background: transparent;
    border: 0;
    height: 11px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 19px;
    top: 18px;
    width: 11px;
  }
}
