#loading-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-overlay img {
  -webkit-animation: 0.9s spin infinite linear;
  animation: 0.9s spin infinite linear;
  display: block;
  height: 36px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 36px;
}