#loading-overlay {
  align-items: center;
  background: #fbfbfe;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#loading-overlay img {
  -webkit-animation: 0.9s spin infinite linear;
  animation: 0.9s spin infinite linear;
  display: block;
  height: 36px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 36px;
}
