// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.admin-logs {
    form {
      flex-wrap: wrap;
      margin-top: 30px;
    }
  
    label {
      color: var(--color-black-80);
      flex-basis: 100%;
      font-size: var(--body-font-size-xs);
      font-weight: var(--font-weight-normal);
      margin-bottom: 5px;
      text-transform: uppercase;
    }
}
  