// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.account {
  ul,
  ul li {
    list-style-type: none;
    padding-left: 0;
  }

  h2 {
    font-size: var(--header-font-size-sm);
    margin: 0 0 5px;
    font-weight: 550;
  }

  h3 {
    font-size: var(--header-font-size-sm);
    margin: 0 0 5px;
  }

  h4 {
    margin-bottom: 10px;
  }

  .highlight {
    background-color: #ffffba;
  }

  .verification {
    margin-left: 10px;
    font-size: 16px;
  }

  .email-bounce {
    border-image: linear-gradient(to bottom, var(--ff-brand-gradient)) 0 100%;
    border-left: 1px solid;
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .created-at {
    text-align: right;
  }

  .verified,
  .not-verified {
    color: var(--verified-color);
    font-weight: var(--font-weight-semi-bold);
  }

  .result {
    color: var(--color-primary);
    font-weight: var(--font-weight-regular);
  }

  .secondary-emails {
    margin-bottom: 20px;
  }

  .enabled,
  .not-enabled {
    color: var(--enabled-color);
    font-weight: var(--font-weight-semi-bold);
  }

  .gradient-info-display {
    border-image: linear-gradient(to bottom, var(--ff-brand-gradient)) 0 100%;
    border-left: 1px solid;
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .danger-zone-title {
    background: #da3845;
    color: white;
    border-radius: 3px;
    padding-left: 5px;
    padding-top: 3px;
    height: 35px;
    font-size: var(--header-font-size-sm);
    font-weight: 550;
  }

  .danger-zone-info {
    border-left: 1px solid;
    border-left-color: #da3845;
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .danger-zone-button {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    font-weight: 500;
    color: #da3845;
    border: 2px solid rgb(230, 230, 230);
    line-height: 25px;
    margin-top: 15px;
    margin-right: 15px;
    width: 150px;
    height: 50px;
  }

  .danger-zone-button:hover {
    border: 2px solid rgb(245, 245, 245);
    background-color: rgb(240, 240, 240);
    color: #da3845;
  }

  .account-history-info {
      padding-left: 20px;
      margin-bottom: 15px;
      border-image: linear-gradient(to bottom, var(--ff-brand-gradient)) 0 100%;
      border-left: 1px solid;
  }

  .account-history-table {
    padding-top: 5px;
  }

}
