@import '../../../../../fxa-content-server/app/styles/variables';
@import '../../../../../fxa-content-server/app/styles/breakpoints';
@import '../../../styles/variables';

.product-upgrade {

  .c-card {
    left: 45px;
  }

  .subscription-update-heading {
    display: none;

    @include min-width('tablet') {
      display: block;
      text-align: center;

      h2 {
        font-weight: normal;
        margin-top: 20px;
      }
    }
  }

  .upgrade-details {
    text-align: center;
    width: 560px;

    h2 {
      font-size: 18px;
    }

    .upgrade-plans {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
      margin: 15px 0;
      padding: 0;
      width: 100%;

      .upgrade-indicator {
        background-image: url('./arrow.svg');
        background-position: center center;
        background-repeat: no-repeat;
        height: 67px;
        padding: 21px;
        width: 84px;
      }
    }
  }

  .upgrade-plan-detail {
    text-align: center;
    width: 150px;

    img {
      display: block;
      height: 49px;
      margin: 9px auto;
      width: 49px;
    }

    .product-name {
      display: block;
    }

    .plan-price {
      display: block;
    }
  }

  form.upgrade {
    margin: 0;

    > p {
      text-align: left;
    }

    button {
      margin-top: 32px;
    }
  }
}

.plan-upgrade-details-component {

  .plan-details-header {
    border-bottom: 0;
  }

  p.plan-label {
    color: #6d6d6e;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin: 0 0 8px 0;

    &.new-plan-label {
      background-image: url('../../../images/down-arrow.png');
      background-position-x: center;
      background-position-y: 18px;
      background-repeat: no-repeat;
      padding-top: 30px;
    }
  }
}
