/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@layer components {
  .cta-neutral,
  .cta-caution,
  .cta-primary {
    @apply rounded w-full inline-block text-center border font-header box-border transition-standard;
  }

  .cta-base-p {
    @apply py-2 px-5;
  }

  .cta-neutral {
    @apply bg-grey-10 border-grey-200;
  }

  .cta-neutral:active {
    @apply border-grey-400 bg-grey-100 text-grey-400;
  }

  .cta-neutral:focus,
  .cta-neutral:focus-visible {
    @apply bg-white outline outline-2 outline-offset-2 outline-blue-500;
  }

  .cta-neutral:disabled {
    @apply bg-white text-grey-300 border-grey-200 cursor-not-allowed;
  }

  .cta-primary {
    @apply bg-blue-500 border-blue-600 text-white;
  }

  .cta-primary:active {
    @apply bg-blue-800 border-blue-800;
  }

  .cta-primary:focus,
  .cta-primary:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-blue-500;
  }

  .cta-primary:disabled {
    @apply bg-blue-500/40 border-transparent text-white/50 cursor-not-allowed;
  }

  /* Max-height is a likely temp "hack" for .spinner until it's converted to TW */
  /* font-color is also a hack until all buttons are TWified */
  .cta-xl {
    @apply flex-1 font-bold text-base p-4 rounded-md;
  }

  .cta-caution {
    @apply bg-red-500 border-red-600 text-white;
  }

  .cta-caution:active {
    @apply bg-red-800 border-red-800;
  }

  .cta-caution:focus,
  .cta-caution:focus-visible {
    @apply border-transparent outline outline-2 outline-offset-2 outline-blue-500;
  }

  .cta-caution:disabled {
    @apply bg-red-500/40 border-transparent text-white/50 cursor-not-allowed;
  }

  .cta-base {
    @apply text-base mt-6;
  }

  @media (hover: hover) {
    .cta-neutral:hover:not(:disabled):not(:active) {
      @apply border-grey-200 bg-grey-100 text-grey-400;
    }

    .cta-primary:hover:not(:disabled):not(:active) {
      @apply bg-blue-600 border-blue-600;
      /* TEMP HACK until all buttons are TWified in content-server */
      @apply text-white no-underline;
    }

    .cta-caution:hover:not(:disabled):not(:active) {
      @apply bg-red-600 border-red-600;
    }
  }

  @screen mobileLandscape {
    .cta-base {
      @apply text-xs py-1 px-5 mt-0;
    }

    .cta-caution,
    .cta-primary,
    .cta-neutral {
      @apply w-auto;
    }
  }
}
