// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.cta-neutral,
.cta-caution,
.cta-primary {
  @apply py-2 px-5 rounded w-full inline-block text-center border font-header box-border transition-standard;
}

.cta-neutral {
  @apply bg-grey-10 border-grey-200;

  &:active {
    @apply border-grey-400 bg-grey-100 text-grey-400;
  }

  &:focus {
    @apply bg-white;
  }

  &:disabled {
    @apply bg-white text-grey-300 border-grey-200 cursor-not-allowed;
  }
}

.cta-primary {
  @apply bg-blue-500 border-blue-600 text-white;

  &:active {
    @apply bg-blue-800 border-blue-800;
  }

  &:focus {
    @apply border-0;
  }

  &:disabled {
    @apply bg-blue-500 border-transparent bg-opacity-40 text-opacity-50 cursor-not-allowed;
  }
}

.cta-caution {
  @apply bg-red-500 border-red-600 text-white;

  &:active {
    @apply bg-red-800 border-red-800;
  }

  &:focus {
    @apply border-transparent outline-black-dotted;
  }

  &:disabled {
    @apply bg-red-500 border-transparent bg-opacity-40 text-opacity-50 cursor-not-allowed;
  }
}

.cta-base {
  @apply text-base mt-6;
}

@media (hover: hover) {
  .cta-neutral:hover:not(:disabled) {
    @apply border-grey-200 bg-grey-100 text-grey-400;
  }

  .cta-primary:hover:not(:disabled) {
    @apply bg-blue-600 border-blue-600;
  }

  .cta-caution:hover:not(:disabled) {
    @apply bg-red-600 border-red-600;
  }
}

@screen mobileLandscape {
  .cta-base {
    @apply text-xs py-1 px-5 mt-0;
  }

  .cta-caution,
  .cta-primary,
  .cta-neutral {
    @apply w-auto;
  }
}
