/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Remove this component class in favor of components with TW classes directly
 * applied after content-server no longer needs it */
/* Transparent border around card is for Windows HCM mode */

/* Does not specify text-align */
.card-base {
  @apply relative w-full border border-transparent mobileLandscape:w-120 mobileLandscape:bg-white rounded-xl px-8 pb-12 pt-9 mobileLandscape:shadow-card-grey-drop mb-6;
}

.card {
  @apply card-base text-center;

  /* HACK until content-server no longer needs .card, otherwise component classes take precedence */
  &.card-xl {
    @apply mobileLandscape:w-184;
  }

  &::before {
    @apply h-16 mobileLandscape:h-20 left-0 block absolute bg-center bg-no-repeat w-full bg-contain top-8 mobileLandscape:-top-10 content-[''];
  }

  &-header {
    @apply font-header text-xl font-bold;
  }

  &-subheader {
    @apply font-body font-normal text-sm block mt-1;
  }
}
