@import 'fxa-react/styles/index';
@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm font-body m-0;
}

/* shared styles used in Checkout and SubscriptionCreate*/
.pay-with-heading {
  @apply gap-5 grid grid-cols-[minmax(20px,_1fr)_auto_minmax(20px,_1fr)] items-center mb-6 text-grey-400;
  @apply before:content-[''] before:border-b before:border-0 before:border-solid before:border-grey-200;
  @apply after:content-[''] after:border-b after:border-0 after:border-solid after:border-grey-200;
}

.step-header {
  @apply mt-10 text-lg;
}

/* shared styles used in PlanDetails and PlanUpgradeDetails */
.accordion-btn {
  @apply bg-transparent border-transparent cursor-pointer text-blue-500 leading-5 my-2 py-2 pr-2 pl-6 relative focus:border focus:border-solid focus:border-blue-400 focus:py-2 focus:pr-4 focus:pl-10 focus:shadow-none;
}

.arrow {
  @apply before:bg-[url('../public/images/chevron.svg')] before:content-[''] before:absolute before:h-4 before:w-6 before:top-[0.6rem]  before:left-0 focus:before:left-[0.87rem];
}

.coupon-info {
  @apply pt-6 font-medium text-sm;
}

.green-icon-text {
  @apply flex items-center justify-center gap-2 text-green-900;
}

.row-divider-grey-200 {
  @apply border-b border-0 border-solid border-grey-200;
}

.component-card {
  @apply bg-white rounded-b-lg shadow-sm shadow-grey-300;
}

.component-card.rounded-plan {
  @apply rounded-lg tablet:mt-0;
}

.plan-details-description {
  @apply text-grey-400 mt-1 mb-0;
}

.plan-details-header {
  @apply flex gap-4 my-0 py-4;
}

.plan-details-icon {
  @apply w-16 h-16 rounded-lg;
}

.plan-details-logo-wrap {
  @apply flex h-16 items-center justify-center rounded-lg shrink-0 w-16;
}

.plan-details-product {
  @apply text-grey-600 text-sm leading-5 my-0 break-words;
}

.plan-details-item {
  @apply flex items-center justify-between gap-2 leading-5 text-grey-600 text-sm;
}

.total-label {
  @apply text-base;
}

.total-price {
  @apply overflow-hidden text-ellipsis text-lg whitespace-nowrap;
}

/* */
/* .input-row--checkbox {
  label {
    display: flex;
    align-items: center;
    gap: 1rem;

    input[type='checkbox'] {
      flex: 0 0 18px;
      transform: scale(1.5);

      &:checked {
        background-image: url('images/check.svg');
      }
    }

    .label-text {
      display: block;
      margin: 0 0 0 2px;
    }
  }
} */

.input-row--checkbox {
  @apply mt-6 mb-2;
}

.input-row--checkbox label {
  @apply flex gap-0 items-center;
}

.input-row--checkbox input[type='checkbox'] {
  @apply mr-3 mr-4;
}

.main-content {
  @apply mt-16 mx-7 min-h-[calc(100vh_-_13rem)];
  @apply tablet:grid tablet:grid-cols-[minmax(min-content,500px)_minmax(20rem,1fr)] tablet:grid-rows-[min-content] tablet:gap-x-8 tablet:mt-[80px] tablet:mb-auto;
  @apply desktop:grid-cols-[600px_1fr];
}

.payment-button {
  @apply cta-base-p flex-1 font-semibold rounded-md text-base;
}

.payment-panel {
  @apply mb-6 tablet:mt-6 tablet:min-w-[18rem] tablet:max-w-xs tablet:col-start-2 tablet:col-end-auto tablet:row-start-1 tablet:row-end-3;
}

/* coupon form styles */
.coupon-button {
  @apply font-header items-center border-0 rounded-md cursor-pointer inline-flex text-base font-bold justify-center w-full py-0 px-4 bg-blue-500 text-white h-12 max-h-10 tablet:max-h-12;
}

.coupon-applied {
  @apply font-header items-center border-0 rounded-md cursor-pointer inline-flex text-base font-bold justify-center w-full py-0 px-4 bg-grey-900/10 text-grey-900 h-12 max-h-10 tablet:max-h-12;
}

.coupon-button:active {
  @apply bg-blue-800 border-blue-800;
}

.coupon-button:focus,
.coupon-button:focus-visible {
  @apply outline outline-2 outline-offset-2 outline-blue-500;
}

.coupon-button:disabled {
  @apply bg-blue-500/40 border-transparent text-white/50 cursor-not-allowed;
}

@media (hover: hover) {
  .coupon-button:hover:not(:disabled):not(:active) {
    @apply bg-blue-600 border-blue-600 text-white no-underline;
  }

  .coupon-applied:hover:not(:disabled):not(:active) {
    @apply bg-grey-900/20;
  }
}

@screen mobileLandscape {
  .coupon-button {
    @apply w-auto;
  }
}

.coupon-input {
  @apply bg-white border border-grey-900/30 box-border rounded text-grey-900 text-base font-normal outline-0 relative w-full z-[2] mb-0 py-0 pr-[11px] pl-4 placeholder:text-grey-900/40 placeholder:font-normal placeholder:opacity-100 h-12 max-h-10 tablet:max-h-12;
}

.coupon-invalid {
  @apply bg-white border border-red-700 border-solid box-border rounded text-grey-900 text-base font-normal outline-0 relative w-full z-[2] mb-0 py-0 pr-[11px] pl-4 placeholder:text-grey-900/40 placeholder:font-normal placeholder:opacity-100 h-12 max-h-10 tablet:max-h-12;
}
