.terms {
  line-height: 18px;
  clear: both;
  text-align: center;
  font-size: 11px;

  a {
    text-decoration: underline;
    font-weight: 400;
  }
}

.legal-heading {
  color: #3D3D3D;
  font-weight: 600;
}

.payment-error .legal-heading {
  margin-top: 16px;
}
