@import '../../../../fxa-content-server/app/styles/variables';

.terms {
  line-height: 18px;
  clear: both;
  text-align: center;
  font-size: 11px;

  a {
    text-decoration: underline;
    font-weight: 400;
  }
}

.legal-heading {
  color: $grey-50;
  font-weight: 600;
}
