about:
  description: Nimbus Feature Manifest for Accounts Web testing
channels:
  - production
features:
  example-feature:
    description: An example feature
    variables:
      enabled:
        description: If the feature is enabled
        type: Boolean
        default: false
      something:
        description: Another variable
        type: Option<String>
        default: null
    defaults:
      - channel: production
        value: { "something": "gnihtemos" }
types:
  objects: {}
  enums: {}
