@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.subscription-management {
  .settings-button {
    font-weight: 600;
    padding: 0 16px;
  }

  .error-button {
    background: #ff4f5e;
    color: white;
  }

  > section {
    border-bottom: 1px solid #e0e0e6;
    padding: 0 32px;
  }

  > section:last-child {
    border-bottom: 0;
  }

  hr {
    border: 0;
    border-top: 1px solid #e0e0e6;
    height: 0;
    margin: 0 -16px;
  }

  hr + hr {
    border: 0;
  }

  .subscription,
  .payment-update {
    margin: 25px 32px;

    @include respond-to('simpleSmall') {
      margin: 25px 16px;
    }

    header {
      margin: 0 0 24px 0;
      padding: 0;

      h2 {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .cancel-subscription {
    p,
    .input-row--checkbox {
      color: $faint-text-color;
      line-height: 1.5;
    }

    h3 {
      font-size: 16px;
      font-weight: 400;
      margin: 13px 0;
    }
  }

  .iap-details {
    color: $faint-text-color;

    .iap-type {
      margin-bottom: 0.5em;
    }
  }

  .card-details,
  .subscription-cancelled-details,
  .price-details {
    color: $faint-text-color;
    display: flex;
    flex: 4;

    html[dir='ltr'] & {
      padding-right: 32px;
    }

    html[dir='rtl'] & {
      padding-left: 32px;
    }
  }

  .card-details {
    .expiry {
      align-items: center;
      display: flex;
    }
  }
  .price-details {
    flex-direction: column;

    .plan-pricing {
      font-weight: 600;
      margin-bottom: 0.5em;
    }
  }

  .with-settings-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .manage-button {
      color: white;
    }

    p {
      margin-top: 0;
      &:last-child {
        margin: auto 0;
      }
    }

    .action {
      align-self: flex-end;
      display: flex;
      flex: 0 1 128px;
      flex-direction: row;
      justify-content: flex-end;

      button {
        display: block;
        font-weight: 600;
        padding: 0 16px;
      }

      a {
        color: inherit;
        text-decoration: inherit;
      }

      .sr-only {
        display: none;
      }
    }
  }

  .payment-update {
    .upgrade-cta,
    .billing-description {
      color: $faint-text-color;
      line-height: 1.5;
    }

    .payment {
      margin: 12px 0;
    }
  }
}

#dialogs .billing-info-modal {
  width: 420px;
  font-size: 15px;

  @include respond-to('simpleSmall') {
    width: unset;
  }

  #error-icon {
    width: 32px;
  }

  h2 {
    font-size: 22px;
    margin: 8px auto;
  }

  p {
    font-size: 15px;
    margin-bottom: 28px;
  }
}

// Wipe out button/link styles so that we can reuse the behavior from the
// manage/change button inside of the alert bar

.alert-error {
  button {
    background: inherit;
    color: white;
    display: inline;
    font-size: 14px;
    height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    width: inherit;

    &:hover {
      background: none;
    }
  }

  a {
    background: inherit;
    color: white;
    display: inline;
    font-size: 13px;
    height: inherit;
    padding: 0;
    text-decoration: underline;

    &:hover {
      background: inherit;
    }
  }
}

.fpn-reactivate-subscription {
  height: auto;
  width: 48px;
}

@include respond-to('simpleSmall') {
  #fxa-settings-content .subscription-management,
  #main-content.payments-card {
    width: 100%;
  }

  .breadcrumbs {
    margin-bottom: 16px;
    padding: 8px 16px;
  }

  .subscription-management .payment-update .payment {
    padding: 0;
  }
}
