@import '../../../../fxa-content-server/app/styles/breakpoints';

.subscription-management {

  button.settings-button {
    font-weight: 600;
    padding: 0 16px;
  }

  > section {
    border-bottom: 1px solid #e0e0e6;
    padding: 0 32px;
  }

  > section:last-child {
    border-bottom: 0;
  }

  hr {
    border: 0;
    border-top: 1px solid #e0e0e6;
    height: 0;
    margin: 0 -16px;
  }

  .subscription {
    margin: 25px 32px;

    @include respond-to('simpleSmall') {
      margin: 25px 16px;
    }

    header {
      margin: 0 0 23px 0;
      padding: 0;

      h2 {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .cancel-subscription {
    border-top: 1px solid #e0e0e6;
    padding-top: 16px;

    p {
      color: #737373;
      line-height: 1.5;
    }

    h3 {
      font-size: 16px;
      font-weight: 400;
      margin: 13px 0;
      text-align: left;
    }

    label {
      display: flex;
      flex-direction: row;
    }

    input[type='checkbox'] {
      flex: 0 0 18px;
      position: relative;
      top: 2px;

      &:checked {
        background-image: url('../../images/check.svg');
      }
    }
  }

  .card-details {
    display: flex;

    .last-four,
    .expiry {
      align-items: center;
      display: flex;
      font-weight: 700;
    }

    > div {
      padding-right: 32px;
    }
  }

  .with-settings-button {
    display: flex;
    flex-direction: row;

    p {
      margin: 0 1em 1em 0;

      &:last-child {
        margin: 0;
      }
    }

    .action {
      align-self: flex-end;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;

      button {
        display: block;
        font-weight: 600;
        padding: 0 16px;
      }
    }

    .subscription-cancelled-details {
      flex: 4;
    }
  }

  .payment-update {
    padding-bottom: 18px;

    .upgrade-cta,
    .billing-description {
      color: #737373;
      line-height: 1.5;
    }

    .payment {
      margin: 12px 0;
    }
  }
}

.fpn-reactivate-subscription {
  height: auto;
  width: 48px;
}

@include respond-to('simpleSmall') {
  #fxa-settings-content .subscription-management,
  #main-content.payments-card {
    width: 100%;
  }

  #fxa-settings-header-wrapper {
    flex-direction: row;
  }

  #fxa-settings-header {
    flex: 1 1;
    margin-bottom: 0;
    width: inherit;
  }

  .breadcrumbs {
    margin: 0;
    padding: 0;
  }

  .subscription-management .payment-update .payment {
    padding: 0;
  }

  .subscription-management .card-details {
    flex-direction: column;
  }

  .input-row input,
  .input-row .StripeElement {
    padding-left: 5px !important;
  }
}
