.c-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.c-card::before {
  height: 27px;
  width: 40px;
}

.c-card::before,
.paypal-logo::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-details {
  flex-direction: column;
  justify-content: center;
}

.paypal-logo {
  font-size: 1px;
  color: rgba(0, 0, 0, 0);
  width: 90px;
  height: 24px;
  margin: 16px 0;
  position: relative;
}

.paypal-logo::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../images/paypal.svg');
}

.unknown::before {
  background-image: url('../../images/unbranded.svg');
}

.visa::before {
  background-image: url('../../images/visa.svg');
}

.mastercard::before {
  background-image: url('../../images/mastercard.svg');
}

.amex::before {
  background-image: url('../../images/amex.svg');
}

.discover::before {
  background-image: url('../../images/discover.svg');
}

.diners::before {
  background-image: url('../../images/diners.svg');
}

.unionpay::before {
  background-image: url('../../images/unionpay.svg');
}

.jcb::before {
  background-image: url('../../images/jcb.svg');
}

.stack-card-details > p.c-card {
  flex-direction: column;
  align-items: flex-start;
}

.stack-card-details > p.c-card,
.stack-card-details > .c-card::before {
  margin-bottom: 0.55em;
  margin-block-end: 0.55em;
}
