@import '../../../../fxa-content-server/app/styles/breakpoints';

// HACK: create-react-app forbids using images outside the root level of the
// project, so let's use local copies from fxa-content-server for now

#main-content::before {
  background-image: url('./images/firefox-logo.svg');
}

#main-content.payments-card::before {
  background-image: none;
}

#fxa-settings-header-wrapper {
  flex-direction: column;

  #fxa-manage-account {
    background-image: url('./images/firefox-logo.svg');
  }
}

#about-mozilla {
  background-image: url('./images/mozilla.svg');
}

.spinner {
  background-image: url('./images/spinnerlight.svg');

  .button-row &,
  .input-row & {
    background-image: url('./images/spinnerwhite.svg');
  }

  &.spinner-settings-fetch {
    background-image: url('./images/spinnergrey.png');
  }
}

.breadcrumbs {
  margin-top: 0;
  padding-left: 32px;
  width: 100%;

  @include respond-to('simpleSmall') {
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }

  li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    &::before {
      content: '\003E';
      padding: 0 10px;

      @include respond-to('simpleSmall') {
        padding: 0 5px;
      }
    }

    &:first-child::before {
      content: '';
      padding: 0;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include respond-to('simpleSmall') {
    justify-content: center;
  }

  #about-moz-footer {
    align-self: flex-start;
    padding-left: 32px;

    @include respond-to('simpleSmall') {
      display: none;
    }
  }

  #legal-footer {
    align-self: flex-end;
  }
}
