// HACK: create-react-app forbids using images outside the root level of the
// project, so let's use local copies from fxa-content-server for now

#main-content::before {
  background-image: url('./images/firefox-logo.svg');
}

#fxa-settings-header-wrapper {
  flex-direction: column;

  #fxa-manage-account {
    background-image: url('./images/firefox-logo.svg');
  }
}

#about-mozilla {
  background-image: url('./images/mozilla.svg');
}

.spinner {
  background-image: url('./images/spinnerlight.svg');

  .button-row &,
  .input-row & {
    background-image: url('./images/spinnerwhite.svg');
  }

  &.spinner-settings-fetch {
    background-image: url('./images/spinnergrey.png');
  }
}

.breadcrumbs {
  margin-left: 100px;
  margin-top: 0;
  width: 100%;

  li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    &::before {
      content: '\003E';
      padding: 0 10px;
    }

    &:first-child::before {
      content: '';
      padding: 0;
    }
  }
}
