@import '../../fxa-content-server/app/styles/main.scss';

// HACK: We render into <div id="root"> rather than <body>, so try to minimize
// its impact on layout & styles
#root {
  display: contents;
}

h3.billing-title {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin: 13px 0;
  text-align: left;

  span::after {
    background-image: url('./images/lock.svg');
    background-position: 0 2px;
    background-repeat: no-repeat;
    content: '\00a0';
    display: inline-block;
    height: 18px;
    margin: 0 8px;
    width: 14px;
  }
}

#main-content {
  hr {
    border: 0;
    border-top: 1px solid #e0e0e6;
    height: 0;
    margin: 0 -40px;
  }
}

#fxa-settings-content .subscription-management,
#main-content.payments-card {
  min-height: 200px;
  width: 640px;

  .input-row {
    // Stripe element class names
    // https://stripe.com/docs/stripe-js/reference#the-element-container

    .StripeElement {
      @include input-element();

      html[dir='ltr'] & {
        padding: 0 0 0 $input-left-right-padding;
      }

      html[dir='rtl'] & {
        direction: ltr;
        padding: 0 $input-left-right-padding 0 0;
        text-align: right;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .StripeElement--focus {
      border-color: $input-border-color-focus;
      box-shadow: 0 0 0 3px rgba($blue-50, 0.3);
    }

    .StripeElement--invalid {
      border-color: $error-background-color;

      &.StripeElement--focus {
        box-shadow: 0 0 0 3px rgba($error-background-color, 0.3);
      }
    }

    .label-text {
      color: #686869;
      display: block;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 7px;
      text-align: left;
    }

    .label-text.checkbox {
      color: #0c0c0d;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 1.5;
    }

    // HACK: stop the checkbox from changing width on focus
    input[type='checkbox']:focus,
    input[type='checkbox']:not(:checked):focus,
    input[type='checkbox']:checked:focus {
      border: 1px solid transparent;
    }
  }

  .input-row--checkbox {
    label {
      display: flex;
      flex-direction: row;

      input[type='checkbox'] {
        width: 32px;
      }

      .label-text {
        display: block;
        margin-left: 2px;
      }
    }
  }

  .input-row-group {
    align-items: flex-end;
    display: flex;
    flex-direction: row;

    .input-row {
      flex: 1 0;
      padding-right: 18px;
      width: inherit;

      &.input-row--xl {
        flex: 2 0;
      }
    }

    .input-row:last-of-type {
      padding-right: 0;
    }
  }
}
