// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.account {
  ul,
  ul li {
    list-style-type: none;
    padding-left: 0;
  }

  h3 {
    font-size: var(--header-font-size-sm);
    margin: 0 0 5px;
  }

  h4 {
    margin-bottom: 10px;
  }

  .email-bounce {
    border-image: linear-gradient(to bottom, var(--ff-brand-gradient)) 0 100%;
    border-left: 1px solid;
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .created-at {
    text-align: right;
  }

  .verified,
  .not-verified {
    color: var(--verified-color);
    font-weight: var(--font-weight-semi-bold);
  }

  .result {
    color: var(--color-primary);
    font-weight: var(--font-weight-regular);
  }
}
