// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

body {
  background-color: var(--color-black-05);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
}

p {
  font-size: var(--body-font-size);
  line-height: 1.5;
}

hr {
  border-color: var(--color-black-05);
}

h2,
h3,
h4 {
  color: var(--color-black-80);
}
