/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: #fff;
}

p a {
	color: #44c2ff
}

p a:active {
  color:#E66000;
}

p a:visited {
  color: #00539F;
}

p a:visited {

}

/*HELPERS*/
#wrapper {
  width:100%;
	margin: 0 auto;
	background: #fff;
	font-size:14px;
}

.full_width {
	width:90%;
	display: block;
	margin: .5em auto 1em auto;
}

.half_width {
	width:50%;
	display: block;
	margin: 0 auto 1em auto;
}

.aligncenter {
	display:block;
	margin: 0 auto;
	padding: 1em 0;
}

.banner, x-alert h3 {
	font-size: 1.5em; 
	font-weight: 100;
	margin: 0 auto;
}

.small_banner {
	font-size: 1.2em; 
	font-weight: 100;
	margin: 0 auto 2em auto;
}

.small_text {
	font-size: 13px;
	line-height: 15px;
}

.bluebox {
	background: #e2e8ed;
	padding: .5em 0;
}

#picl-account a {
	display: block;
	text-decoration: none;
	background: #7f8182;
	padding:3px 1em;
	color: #fff;
	font-weight: bold;
	position: relative;
	z-index: 999;
}

.gap {
	height:3em;
}

/* Input types */

input[type="text"], input[type="password"] {
	width:100%;
	margin: 1em 0;
	padding: 3% 2%;
	font-size: 16px;
	border: 1px solid #61636b;
	font-weight: lighter;
	display: block;
	clear:both;
}

input[type="submit"], button,  a.x-alert-secondary {
	background: #d6d6d6;
	display: block;
	margin: 1.6em auto;
	width: 60%;
	padding:3%;
	border:none;
	border-bottom:1px solid #9d9d9d;
	clear:both;
	text-transform: capitalize;
  border-radius: none;
  -moz-border-radius:none;
	
}

input[type="submit"]:enabled:active, button:enabled:active,  a.x-alert-secondary::enabled:active {
  background: #9d9d9d;
} 

input[type="checkbox"] {
	margin:.5em 0;
}

/* X Specifics */

#dialog x-tabs {
	margin: 0 0 2em 0;
	display: block;
}

#dialog x-tab {
	background: #ecf0f3;
	text-transform: uppercase;
	display:block !important;
	width: 50%;
	text-align: center;
	padding:16px 0;
	text-decoration: none !important;
	background: #ccd0d3;float:left;

}

#dialog x-tab[selected] {
	padding:16px 0 10px 0 !important;
	border-bottom: 6px solid #ff9400;
	background: #ecf0f3;
}

.xt span {
	display: block;
	margin: 0 auto;
}

.active.xt span {
	display: block;
	margin: 0 auto;
}

.xt_span {
	display: block;
}

.progress {
	width:280px;
	margin: 0 auto;
	padding: 40px 0;
}

.progress span {
	background: #ecf0f3;
	line-height: 30px;
	padding:25px 30px;
	border-radius: 40px;
	margin: 0 10px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;

}

.progress .active {
	background:  #ff9400;
}


input.oops {
	border: 1px solid #e75424;
	background: #fdeee9;
}
input.oops + span:after {
	color: #e75424;
	font-size:12px;
}

input.oops.invalid.email + span:after {
  content: 'Please use a valid email address.';
}

input.oops.invalid + span:after {
  content: 'Password must be at least 8 characters.';
}

input.oops.mismatch + span:after {
  content: 'These passwords don\'t match.';
}

input[type="text"].oops.missing + span:after {
  content: 'Missing email';
}

input[type="password"].oops.missing + span:after {
  content: 'Missing password';
}

input[type="password"].oops.missing_confirm + span:after {
  content: 'Repeat password';
}

p.error {
	background: #fdeee9;
}

h5 {
	font-size:14px;
	font-weight: bold;
	color: #999;
	border-bottom: 2px solid #999;
	margin-bottom: 0px;
}


.email {
	float:left;
}

.thumb {
	padding: 5px 25px 0 0;
	float:left;
}


.reset-success .devices li {
  margin-top: 50px;
}

.devices {
  list-style: none;
  padding-left: 0px;
}

.devices li {
  padding-left: 110px;
  min-height: 60px;
  padding-top: 5px;
}

.devices li.syncing:after {
  display: block;
  content: 'Syncing';
  margin-top: 8px;
  padding-left: 25px;
  background: url(/images/syncing.png) no-repeat 0 50%;
}
.devices li.notsyncing:after {
  display: block;
  content: 'Not Syncing';
  margin-top: 8px;
  padding-left: 25px;
  background: url(/images/notsyncing.png) no-repeat 0 50%;
}

.devices .desktop {
  background: url(/images/desktop.png) no-repeat;
}

.devices .mobile, .devices .tablet {
  background: url(/images/mobile.png) no-repeat;
}

#wrapper.busy {
  opacity:.3;
  
}

#wrapper.busy input[type="submit"] {
  background: #9d9d9d;
}

.spinner {
  height: 50px;
  position: fixed;
  width:100%;
  background: url(/images/ajax-loader.gif) no-repeat center center;
  z-index: 999999;
  display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

input.go[disabled] {
  opacity: 0.5;
}

