.avatar-wrapper {
  border-radius: 50%;
  border-width: 0;
  display: inline-block;
  height: $avatar-size;
  line-height: 0;
  margin: 0 0 5px;
  overflow: hidden;
  position: relative;
  width: $avatar-size;
  &.avatar-view {
    background-size: 120px;
    height: 120px;
    width: 120px;
    display: block;
    margin: 0 auto;
    img, a.change-avatar {
      height: 120px;
      width: 120px;
      display: block;
    }
    small {
      position: absolute;
      bottom: 0px;
    }
  }

  img {
    background-color: $content-background-color;
    display: block;
    height: $avatar-size;
    width: $avatar-size;

    &.hidden {
      display: none;
    }

    &.default {
      background-image: image-url('default-profile.svg');
      background-size: cover;
    }
  }

  video {
    border-radius: 50%;
    position: relative;
  }
}

.with-default {
  background: image-url('default-profile.svg') center;
  background-repeat: no-repeat;
}

p.change-avatar-text {
  font-size: $small-font;
  margin-top: 0px;
}

// IE fix: removes blue border
a.avatar-wrapper {
  color: transparent;
}

#settings-home {
  border-top: 1px solid $horizontal-rule-color;
  margin: 40px 0px -30px;
  padding: 25px;

  a {
    font-size: $base-font;
    text-decoration: none;
  }
}

.notice {
  color: $faint-text-color;
  font-size: $base-font;
}

.main-avatar {
  display: inline-block;
  position: relative;
  width: $avatar-size;

  .remove {
    position: absolute;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    right: -10px;
    top: -10px;
    height: 50px;
    width: 50px;
  }
}


/* Circle Avatar Styles */
.avatar-camera canvas {
  display: none;
}

.avatar-change {
  .gravatar-logo {
    background: image-url('gravatar.svg') no-repeat top center;
    background-size: contain;
    /* This reduces the size of the gravatar logo to match the other icons */
    font-size: 30px;

    /* Mimic the style of the fontello icons */
    &:before {
      content: " ";
      display: inline-block;
      font-variant: normal;
      line-height: 1em;
      margin-left: 0.2em;
      margin-right: 0.2em;
      text-align: center;
      text-decoration: inherit;
      text-transform: none;
      width: 1em;
    }
  }

  nav {
    padding: 20px;
    margin: 0px -40px -40px -40px;

    a {
      background-color: $content-background-color;
      border-radius: 50%;
      display: inline-block;
      height: 80px;
      line-height: 1.1;
      margin: 5px;
      min-width: 80px;
      padding: 11px;
      text-decoration: none;
    }

    span {
      font-size: 35px;

      &:after {
        content: '\A';
        white-space: pre;
      }
    }
  }
}

@import 'cropper';
