.avatar-wrapper {
  border-radius: 50%;
  border-width: 0;
  display: inline-block;
  height: $avatar-size;
  line-height: 0;
  margin: 0 0 5px;
  overflow: hidden;
  position: relative;
  width: $avatar-size;

  img {
    display: block;
    height: $avatar-size;
    width: $avatar-size;

    &.hidden {
      display: none;
    }

    &.default {
      background-image: image-url('default-profile.svg');
      background-size: cover;
    }
  }

  video {
    border-radius: 50%;
    position: relative;
  }
}

// IE fix: removes blue border
a.avatar-wrapper {
  color: transparent;
}

#fxa-settings-sub-header {
  font-size: $medium-font;
  font-weight: normal;
  padding-bottom: 5px;

  a {
    font-size: 88%;
    text-decoration: none;
  }
}

.notice {
  color: $faint-text-color;
  font-size: $base-font;
}

.main-avatar {
  position: relative;

  .remove {
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
  }
}


/* Circle Avatar Styles */
.avatar_camera canvas {
  display: none;
}

.avatar_change {
  .gravatar-logo {
    // background-image: image-url('gravatar.svg');
    background: image-url('gravatar.svg') no-repeat top center;
    background-size: contain;
    display: inline-block;
    height: 39px;
    width: 39px;
  }

  nav {
    background-color: $html-background-color;
    border-radius: $big-border-radius;
    margin: 60px -40px -40px -40px;
    padding: 20px;

    a {
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      height: 80px;
      line-height: 1.1;
      margin: 5px;
      padding: 11px;
      text-decoration: none;
      width: 80px;
    }

    span {
      font-size: 35px;

      &:after {
        content: '\A';
        white-space: pre;
      }
    }
  }
}

@import 'cropper';
