// Breakpoint management
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
$breakpoints: (
  trustedUI: '(max-width: 319px)',
  reasonableUI: '(min-width: 320px)',
  small: '(max-width: 520px), (orientation:landscape) and (min-width:481px) and (max-height: 480px)',
  big: '(min-width: 521px) and (min-height: 481px)'
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  } 
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
    + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
