// Breakpoint management
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
$breakpoints: (
  small:
    '(max-width: 520px), (max-height: 640px), (orientation: landscape) and (min-width: 641px) and (max-height: 640px)',
  big: '(min-width: 521px) and (min-height: 641px)',
  balloonSmall: '(max-width: 959px)',
  balloonBig: '(min-width: 960px)',
  balloonSmallSettings: '(max-width: 1180px)',
  balloonBigSettings: '(min-width: 1181px)',
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
    + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
