/* Keyframes */

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes movein {
  0%   {left: 0; top: -70px;}
  100%   {left: 0; top: -50px;}
}

@-moz-keyframes movein {
  0%   {left: 0; top: -70px;}
  100%   {left: 0; top: -50px;}
}

@keyframes movein {
  0%   {left: 0; top: -70px;}
  100%   {left: 0; top: -50px;}
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
