/* Keyframes */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes movein {
  0% {
    left: 0;
    top: -60px;
  }
  100% {
    left: 0;
    top: -40px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}