// Two main widths
// Apply styles to div injected by backbone, rather than to the stage itself.
#main-content {
  position: relative;
  text-align: center;

  &.card {
    @include respond-to('big') {
      width: 480px;
    }
  }

  &.panel {
    max-width: 750px;
    width: 96%;

    .panel-text-content {
      text-align: left;
    }
  }

  @include respond-to('big') {
    background: $content-background-color;
    border-radius: $big-border-radius;
    box-shadow: $card-box-high;
    margin: 0 auto;
    min-height: 400px;
    padding: 50px 40px 40px 40px;
  }

  @include respond-to('small') {
    margin: 0 auto;
    max-width: 640px;
    min-height: 300px !important;
    min-width: 300px;
    padding: 76px 20px 20px 20px;
    position: relative;
    width: 94%;
  }
}

#fxa-settings-content {
  margin: 0 auto;

  @include respond-to('big') {
    background: $content-background-color;
    border-radius: $big-border-radius;
    box-shadow: $card-box-high;
    max-width: 640px;
    padding: 32px 0 0;
    transition: box-shadow 250ms cubic-bezier(0.07, 0.95, 0, 1);
    width: 100vw;
  }

  @include respond-to('small') {
    background: none;
    border-bottom: 1px solid $settings-header-border-bottom;
    border-top: 1px solid $settings-header-border-bottom;
    box-shadow: none;
    padding: 30px 0 10px;
    width: 100vw;
  }

  &.animate-shadow {
    box-shadow: 0 4px 16px rgba($grey-90, 0.1);
    transition: box-shadow 250ms cubic-bezier(0.07, 0.95, 0, 1);
  }
}

#fxa-settings-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  white-space: nowrap;
  width: 100%;

  @include respond-to('big') {
    padding: 0 32px;
  }

  @include respond-to('small') {
    padding: 0 16px;
  }
}

#fxa-404-home {
  margin-top: 24px;
}

#static-footer {
  align-items: center;
  display: flex;
  padding: 0 32px;
  width: 100%;
}

#stage {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  opacity: 0;
  width: 100%;

  @include respond-to('small') {
    align-items: flex-start;
  }

  .static & {
    opacity: 1;
  }

  .lt-ie10 & {
    display: block;
  }
}
