// Two main widths
// Apply styles to div injected by backbone, rather than to the stage itself.
#main-content {

  background: $content-background-color;
  text-align: center;

  &.card {
    width: 420px;
  }

  &.panel {
    max-width: 750px;
    width: 96%;
  }

  @include respond-to('big') {
    border-radius: $big-border-radius;
    box-shadow: 0 1px 5px $input-row-border-color;
    margin: -15px auto 0 auto;
    min-height: 420px;
    padding: 50px 40px 40px 40px;
  }

  @include respond-to('small') {
    border: 1px solid $marketing-border-color;
    border-bottom: 2px solid $marketing-border-color;
    border-radius: $small-border-radius;
    margin: -28px auto 0 auto;
    max-width: 360px;
    min-height: 300px !important;
    min-width: 300px;
    padding: 35px 20px 20px 20px;
    position: relative;
    width: 94%;
  }

  @include respond-to('trustedUI') {
    background: none;
    border: none;
    margin: 10px auto 0 auto;
    min-width: 250px;
    padding: 0;
    top: 0;
    width: 250px;
  }

  .chromeless & {
    border: none;
    box-shadow: none;
    margin-top: 0;
  }
}

#fxa-settings-profile-header {
  margin: 0 auto;

  @include respond-to('big') {
    width: 500px;
  }

  @include respond-to('small') {
    width: 100%;
  }
}

#fxa-settings-content {

  background: $content-background-color;
  margin: 0 auto;

  @include respond-to('big') {
    border-radius: $big-border-radius;
    box-shadow: 0 1px 5px $input-row-border-color;
    padding: 20px;  
    width: 500px;
  }

  @include respond-to('small') {
    border-bottom: 1px solid #b4bdc3;
    border-top: 1px solid #b4bdc3;
    width: 100%;
    padding: 20px 3%;
  }
}

#fxa-settings-header {
  margin: 0 auto;
  white-space: nowrap;
  width: 100%;
  padding: 0 3%;

}

#stage {

  display: block;
  opacity: 0;

  .static & {
    opacity: 1;
  }

  .js & {
    display: none;
  }

  .lt-ie10 & {
    display: block;
  }
}
