/* Responsiveness */

@media only screen and (max-width: 480px),
only screen and (orientation:landscape) and (min-width:481px) and (max-height:480px) {
  #about-mozilla {
    display: none;
  }

  #fox-logo {
    background: image-url('firefox.png') no-repeat center top;
    background-size: 48px 51px;
    height: 51px;
    margin-top: 10px;
    top: 0;
    width: 100%;
  }

  header h1 {
    font-size: $medium-font + $media-adjustment;
    margin: 0 0 20px 0;
  }

  #main-content {
    border-radius: $small-border-radius;
    margin: -28px auto 0 auto;
    max-width: 360px;
    min-height: 300px !important;
    min-width: 300px;
    padding: 45px 20px 10px 20px;
    position: relative;
    width: 94%;
  }

  section p {
    font-size: $base-font;
  }

  .privacy-links,
  .links + .privacy-links {
    font-size: $small-font;
    margin: 10px auto;
    max-width: 340px;
  }

  .links .left,
  .links .right {
    display: block;
    float: none;
    margin: 5px 0;
    text-align: center;
  }

  .input-row input[type='text'],
  .input-row input[type='email'],
  .input-row input[type='password'],
  .input-row select {
    border-radius: $small-border-radius;
    font-size: $base-font + $media-adjustment;
    height: 40px;
  }

  .select-row {
    border-radius: $small-border-radius;
    height: 42px;
  }

  .select-row select {
    font-size: $base-font;
    padding: 10px 10% 11px $input-left-right-padding;
    width: 90%;
  }

  .password-row .show-password-label {
    border-radius: 0;
    height: 38px;
    line-height: 38px;
  }

  .input-row .input-help {
    font-size: $small-font;
    margin-top: 4px;
  }

  .button-row {
    margin: 20px 0;
  }

  .button-row button,
  .button-row a.button {
    border-radius: $small-border-radius;
    font-size: $medium-font + $media-adjustment;
    padding: 8px 0;
  }

  .graphic {
    background-position: center center;
    background-size: 120px 104px;
    height: 104px;
  }

  #legal-copy {
    height: 225px;
  }

  .cannot-create-account-content {
    margin-top: 30px;
  }

  .marketing {
    margin: 20px -20px -10px -20px;

    &.image-snippet {
      font-size: $base-font;
      padding: 15px 50px 80px 50px;
      text-align: center;
    }

    &.text-snippet {
      font-size: $base-font;
      text-align: center;
    }

    .android-logo {
      background: image-url('android_logo.png') no-repeat center bottom;
      background-size: 84px 74px;
      bottom: 0;
      display: block;
      height: 74px;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }

  @keyframes movein {
    0% {
      left: 0;
      top: -20px;
    }

    100% {
      left: 0;
      top: 0;
    }
  }
}

//You know...for the trusted UI
@media only screen and (max-width:319px) {

  html {
    background-color: $content-background-color;
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #fox-logo {
    display: none;
  }

  #main-content {
    background: none;
    box-shadow: none;
    margin: 10px auto 0 auto;
    min-width: 250px;
    padding: 0;
    top: 0;
    width: 250px;
  }

  section p.prefill {
    margin: 10px 0;
  }

  .avatar-wrapper.avatar-view {
    background-size:100px auto;
    height:100px;
    width:100px;
  }

  header h1 {
    font-size: $medium-font;
    margin: 0 0 10px 0;

    span.service {
      font-size: $base-font;
      margin-top: 4px;
    }
  }

  section p {
    font-size: $base-font;
  }

  .links {
    margin: 0;
  }

  .privacy-links,
  .links + .privacy-links {
    margin: 5px auto;
  }

  .graphic {
    margin: 40px auto 0 auto;
  }

  .success,
  .error {
    margin: 0 0 10px 0;
    top: 0;
  }

  .input-row {
    margin-bottom: 9px;

    .input-help-focused {
      opacity: 1;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'] {
      padding: 0 $input-left-right-padding * 0.5;
    }
  }

  .select-row {
    background-image: none;

    &.select-focus,
    &:hover,
    &:focus {
      background-image: none;
    }

    select {
      padding-left: $input-left-right-padding * 0.5;
    }
  }

  .privacy-links +
  .button-row {
    margin: 0;
  }

  .button-row {
    margin: 10px 0 0 0;
    button,
    a.button {
      font-size: $medium-font;
      padding: 8px 0;
    }
  }

  .marketing {
    display: none;
  }

  #legal-copy {
    height: 200px;
    margin-bottom: 10px;

    h2 {
      font-size: $base-font;
    }
  }

  #legal-footer {
    margin: 0;
  }

  .tooltip {
    font-size: $small-font;
  }
}

@media only screen and (max-height:$settings-ui-height) {
  #legal-footer {
    margin: 10px 0 0 0;
    position: relative;
  }
}

/* Retina */

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
  #fox-logo {
    background-image: image-url('firefox@2x.png');
  }

  .graphic-checkbox {
    background-image: image-url('graphic_checkbox@2x.png');
  }

  .graphic-mail {
    background-image: image-url('graphic_mail@2x.png');
  }

  .spinner {
    background-image: image-url('spinnerlight@2x.png');
  }

  button .spinner, .spinner-white {
    background-image: image-url('spinnerwhite@2x.png');
  }

  .input-row select {
    background-image: image-url('ddarrow_inactive@2x.png');
  }

  .input-row select:focus {
    background-image: image-url('ddarrow_active@2x.png');
  }

  #about-mozilla {
    background-image: image-url('mozilla@2x.png');
  }

  .marketing .android-logo {
    background-image: image-url('android_logo@2x.png');
  }
}
