/* Responsiveness */

@media only screen and (max-width: 500px) {
  html {
    background: #fff;
  }

  #about-mozilla {
    display: none;
  }

  #fox-logo {
    background: url(/images/firefox.png);
    background-size: 64px 68px;
    height: 68px;
    margin: 10px auto 0 auto;
    position: relative;
    top: 0;
    width: 64px;
    z-index: 999;
  }

  #stage {
    box-shadow: none;
    margin: 10px auto;
    min-height: 0;
    min-width: 300px;
    padding: 0 10px;
    width: 100%;
  }

  .privacy-links,
  .links + .privacy-links {
    font-size: 12px;
    margin: 10px auto;
    max-width: 340px;
  }

  .button-row {
    margin-top: 20px;
  }

  .button-row button,
  .button-row a.button {
    padding: 10px 0;
  }

  .marketing {
    bottom: 0;
    font-size: 16px;
    left: 0;
    margin: 0;
    padding: 15px 50px 90px 50px;
    position: fixed;
    text-align: center;
    width: 100%;
    .android-logo {
      background: url(/images/android_logo.png) no-repeat center bottom;
      background-size: 84px 74px;
      bottom: 0;
      display: block;
      height: 74px;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }

  @keyframes movein {
    0% {
      left: 0;
      top: -20px;
    }
    100% {
      left: 0;
      top: 0;
    }
  }
}

@media only screen and (max-height: 480px) and (max-width: 320px) {
  body, html {
    background: #fff;
  }
  #about-mozilla {
    display: none;
  }

  #fox-logo {
    height: 0;
    width: 0;
  }

  header h2 {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 10px 0 20px 0;
  }

  #stage {
    background-image: url(/images/firefox.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 30px auto;
    margin: 0 auto;
    min-height: 0;
    min-width: 270px;
    padding: 0 0 30px 0;
    width: 270px;
  }
}

@media only screen and (orientation:landscape) and (max-height:480px) {
  html {
    background: $stage-background-color;
  }

  #about-mozilla {
    display: none;
  }

  #stage {
    background: none;
    box-shadow: none;
    margin: 10px auto;
    min-height: 0;
    min-width: 300px;
    max-width:400px;
    padding: 0 10px 20px 10px;
    width: 100%;
  }

  #fox-logo {
    height: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 0;
  }

  header h2 {
    font-size: 20px;
    font-weight: 200;
    margin: 0 auto;
    padding: 10px 0 20px 0;
  }

  .privacy-links,
  .links + .privacy-links {
    font-size: 12px;
    margin: 10px auto;
    max-width: 340px;
  }

  .button-row {
    margin-top: 20px;
  }

  .button-row button,
  .button-row a.button {
    padding: 10px 0;
  }

  .reset_password_complete {
    header h1 {
      margin: 20px 0 0 0;
    }
    p {
      margin: 0;
    }
  }

  .marketing {
    background-color: none;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid $marketing-border-color;
    bottom: 0;
    left: 0;
    font-size: 18px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    .marketing-spacer {
      margin: 0 auto;
      width: 340px;
      padding: 20px 140px 20px 0;
      position: relative;
    }
    .android-logo {
      background: url(/images/android_logo.png);
      background-size: 84px 74px;
      bottom: 0;
      display: block;
      height: 74px;
      margin: 0;
      position: absolute;
      right: 0px;
      width: 84px;
    }
  }
}

//extra breakpoints to make sure marketing doesn't break main layout
@media only screen and (max-height: 319px) {

  #stage {
    background-image: url(/images/firefox.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 30px auto;
    padding: 0 10px 40px 10px;
  }
  .marketing { 
    display: none;
  }
}

@media only screen and (max-width: 319px) {
  .marketing { 
    display: none;
  }
}


/* Retina */

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (   -moz-min-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
  #fox-logo {
    background-image: url(/images/firefox@2x.png);
  }

  .graphic-checkbox {
    background-image: url(/images/graphic_checkbox@2x.png);
  }

  .graphic-mail {
    background-image: url(/images/graphic_mail@2x.png);
  }

  .spinner {
    background-image: url(/images/spinnerlight@2x.png);
  }

  .spinner-white {
    background-image: url(/images/spinnerwhite@2x.png);
  }

  .input-row select {
    background-image: url(/images/ddarrow_inactive@2x.png)
  }

  .input-row select:focus {
    background-image: url(/images/ddarrow_active@2x.png);
  }

  #about-mozilla {
    background-image: url(/images/mozilla@2x.png);
  }

  .marketing .android-logo {
    background-image: url(/images/android_logo@2x.png);
  }
}
