//Font Mixins
@mixin font() {
  font-family: $default-font;
}

@mixin header-font() {
  font-family: $header-font;
}

@mixin input-element() {
  // kills inset shadow on iOS browsers
  -webkit-appearance: none;
  // kills the form number control in Firefox
  // behavior of 'appearance' is different in FF vs iOS vs Chrome
  -moz-appearance: textfield;
  background-color: $input-background-color-default;
  border: 1px solid $input-border-color-default;
  border-radius: 2px;
  color: $input-text-color-default;
  font-size: $input-text-font-size-default;
  font-weight: $input-text-font-weight-default;
  height: $input-height;
  outline: none;
  position: relative;
  transition-duration: $short-transition;
  transition-property: border-color;
  width: 100%;
  z-index: 2;

  &:hover {
    border-color: $input-border-color-hover;
  }

  &:focus {
    border-color: $input-border-color-focus;
    box-shadow: 0 0 0 3px rgba($blue-50, 0.3);
  }

  &.invalid {
    border-color: $error-background-color;

    &:focus {
      box-shadow: 0 0 0 3px rgba($error-background-color, 0.3);
    }
  }

  &:disabled {
    color: $input-text-color-disabled;
    cursor: not-allowed;
  }
}

//Image management
@mixin hidpi-background-image($filename, $background-size: 'mixed', $extension: png) {
  background-image: image-url('#{$filename}.#{$extension}');
  @if ($background-size != 'mixed') {
    background-size: $background-size;
  }
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: image-url('#{$filename}@2x.#{$extension}');
  }
}

@mixin anchor-default-pseudo-classes() {
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }

  &:focus {
    box-shadow: 0 0 0 2px $blue-60, 0 0 0 6px rgba($blue-60, 0.3);
    color: $link-color-focus;
    outline: none;
  }

  &:active {
    box-shadow: none;
    color: $link-color-active;
    outline: none;
  }
}
