//Font Mixins
@mixin font() {
  font-family: $default-font;
}

@mixin header-font() {
  font-family: $header-font;
}

@mixin input-element() {
  // kills inset shadow on iOS browsers
  -webkit-appearance: none;
  // kills the form number control in Firefox
  // behavior of 'appearance' is different in FF vs iOS vs Chrome
  -moz-appearance: textfield;
  background-color: $mobile-html-background-color;
  border: 1px solid $input-row-border-color;
  box-shadow: inset 0 1px 1px $input-row-box-shadow-color;
  color: $input-text-color;
  outline: none;
  position: relative;
  transition-duration: $short-transition;
  transition-property: border-color;
  width: 100%;
  z-index: 2;

  @include respond-to('big') {
    border-radius: $big-border-radius;
    font-size: $medium-font;
    height: 45px;
  }

  @include respond-to('small') {
    border-radius: $small-border-radius;
    font-size: $base-font + $media-adjustment;
    height: 40px;
  }

  @include respond-to('trustedUI') {
    padding: 0 $input-left-right-padding * 0.5;
  }
}

//Image management
@mixin hidpi-background-image($filename, $background-size: 'mixed', $extension: png) {
  background-image: image-url('#{$filename}.#{$extension}');
  @if ($background-size != 'mixed') {
    background-size: $background-size;
  }
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: image-url('#{$filename}@2x.#{$extension}');
  }
}

@mixin anchor-default-pseudo-classes() {
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }

  &:focus {
    box-shadow: 0 0 0 2px $blue-60, 0 0 0 6px rgba($blue-60, 0.3);
    color: $link-color-focus;
    outline: none;
  }

  &:active {
    box-shadow: none;
    color: $link-color-active;
    outline: none;
  }
}
