//Font Mixins
@mixin font() {
  font-family: $default-font;
}

@mixin header-font() {
  font-family: $header-font;
}

@mixin input-element() {
  // kills inset shadow on iOS browsers
  -webkit-appearance: none;
  // kills the form number control in Firefox
  // behavior of 'appearance' is different in FF vs iOS vs Chrome
  -moz-appearance: textfield;
  background-color: $input-background-color-default;
  border: 1px solid $input-border-color-default;
  border-radius: $input-border-radius;
  color: $input-text-color-default;
  font-size: $input-text-font-size-default;
  font-weight: $input-text-font-weight-default;
  height: $input-height;
  outline: none;
  position: relative;
  transition-duration: $short-transition;
  transition-property: border-color;
  width: 100%;
  z-index: 2;

  &:hover {
    border-color: $input-border-color-hover;
  }

  &:focus {
    border-color: $input-border-color-focus;
    box-shadow: 0 0 0 3px rgba($blue-50, 0.3);
  }

  &.invalid {
    border-color: $error-background-color;

    &:focus {
      box-shadow: 0 0 0 3px rgba($error-background-color, 0.3);
    }
  }

  &:disabled {
    color: $input-text-color-disabled;
    cursor: not-allowed;
  }

  @include respond-to('small') {
    height: $input-height-small;
  }
}

//Image management
@mixin hidpi-background-image(
  $filename,
  $background-size: 'mixed',
  $extension: png
) {
  background-image: image-url('#{$filename}.#{$extension}');
  @if ($background-size != 'mixed') {
    background-size: $background-size;
  }
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
    background-image: image-url('#{$filename}@2x.#{$extension}');
  }
}

@mixin anchor-default-pseudo-classes(
  $color-hover: $link-color-hover,
  $color-box-shadow: $blue-60,
  $color-focus: $link-color-focus,
  $color-active: $link-color-active
) {
  &:focus {
    box-shadow: 0 0 0 2px $color-box-shadow,
      0 0 0 6px rgba($color-box-shadow, 0.3);
    color: $color-focus;
    outline: none;
  }

  &:hover {
    color: $color-hover;
    text-decoration: underline;
  }

  &:active {
    box-shadow: none;
    color: $color-active;
    outline: none;
  }

  &:focus:hover {
    // remove the underline on hover if already focused to
    // avoid a double underline. See #6204
    text-decoration: none;
  }

  &:focus:active {
    // while depressed, always show the underline.
    text-decoration: underline;
  }
}

@mixin element-state-colors($color-hover, $color-focus, $color-active) {
  &:hover {
    color: $color-hover;
  }

  &:focus {
    color: $color-focus;
  }

  &:active {
    color: $color-active;
  }
}

@mixin message-box($background-color, $text-color) {
  @include body10();

  background: $background-color;
  border-radius: 4px;
  color: $text-color;
  font-weight: 700;
  min-height: 32px;
  padding: 12px;
  position: relative;
  text-align: center;

  @include respond-to('small') {
    width: 100%;
  }

  a {
    color: $text-color;
    text-decoration: underline;
  }

  &.visible {
    display: block;
  }
}

@mixin body20() {
  font-size: $font-size-body-20;
  font-weight: $font-weight-body-20;
}

@mixin body10() {
  font-size: $font-size-body-10;
  font-weight: $font-weight-body-10;
}

@mixin caption10() {
  font-size: $font-size-caption-10;
  font-weight: $font-weight-caption-10;
}

@mixin title30() {
  font-size: $font-size-title-30;
  font-weight: $font-weight-title-30;
}

@mixin title20() {
  font-size: $font-size-title-20;
  font-weight: $font-weight-title-20;
}

@mixin title10() {
  font-size: $font-size-title-10;
  font-weight: $font-weight-title-10;
}

@mixin trailhead-background($base-uri) {
  background-image: image-url($base-uri);

  .trailhead & {
    background-image: image-url('trailhead/' + $base-uri);
  }
}
