@import '../../node_modules/photon-colors/colors.scss';

// Font Variables
$default-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$header-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$font-size-body-10: 13px;
$font-weight-body-10: 400;

$font-size-body-20: 15px;
$font-weight-body-20: 400;

$font-size-caption-10: 11px;
$font-weight-caption-10: 400;

$font-size-title-30: 22px;
$font-weight-title-30: 300;

$font-size-title-20: 17px;
$font-weight-title-20: 300;

$font-size-title-10: 13px;
$font-weight-title-10: 300;

//Default color variables
$color-blue: $blue-50;
$color-blue-dark: $blue-60;
$color-blue-darker: $blue-70;
$color-blue-darkest: $blue-80;
$color-black: $grey-90;

$color-blue-focus-ring: hsla(214, 100%, 87%, .75); // Blue 60

$color-green-lightest: #e2fddc;
$color-green: $green-50;
$color-green-dark: $green-60;
$color-green-darker: $green-70;
$color-green-darkest: $green-80;

$color-grey-lightest: $grey-10;
$color-grey-lighter: $grey-20;
$color-grey-light: $grey-30;
$color-grey-spinner: $grey-30;
$color-grey: $grey-40;
$color-grey-disabled: $grey-40;
$color-grey-dark: $grey-50;
$color-grey-faint-text: $grey-50;
$color-grey-text: $grey-90;

$color-orange: $orange-50;

$color-red: $red-60;

$color-white: #fff; // White


// Button variables
$button-border-radius-default: 4px;
$button-font-size-default: 15px;
$button-font-weight-default: 300;
$button-height-default: 48px;

$button-border-radius-settings: 2px;
$button-font-size-settings: 13px;
$button-font-weight-settings: 400;
$button-height-settings: 32px;

$button-background-color-default: rgba($grey-90, 0.1);
$button-background-color-default-hover: rgba($grey-90, 0.2);
$button-background-color-default-active: rgba($grey-90, 0.3);

$button-background-color-primary: $blue-60;
$button-background-color-primary-hover: $blue-70;
$button-background-color-primary-active: $blue-80;

$button-text-color-default: $grey-90;
$button-text-color-primary: #fff;

$chromeless-html-background-color: $color-white;
$content-background-color: $color-white;
$cropper-background-color: $color-black;
$faint-text-color: $color-grey-faint-text;
$horizontal-rule-color: darken($color-grey-light, 5);
$html-background-color: $grey-10;

$header-color: $grey-90;

// Input element variables
$input-height: 40px;
$input-border-radius: 2px;

$input-background-color-default: $color-white;

// 16px is the minimum input element font size needed
// to prevent iOS from zooming in on a page when
// clicking on an input element.
$input-text-font-size-default: 16px;
$input-text-font-weight-default: $font-weight-body-20;

$input-left-right-padding: 16px;
$input-placeholder-color: rgba($grey-90, 0.4);

$input-border-color-default: rgba($grey-90, 0.3);
$input-border-color-focus: $blue-50;
$input-border-color-hover: rgba($grey-90, 0.5);

$input-text-color-default: $color-grey-text;
$input-text-color-disabled: $color-grey-faint-text;



$link-color-default: $blue-60;
$link-color-hover: $blue-60;
$link-color-active: $blue-70;
$link-color-focus: $blue-60;

$link-color-extra: $grey-50;

$marketing-border-color: $color-grey-spinner;
$message-text-color: $color-white;
$mobile-html-background-color: $color-white;

$secondary-button-background-color: $color-grey-lightest;
$secondary-button-border-color: lighten($color-grey, 5);

$show-password-background-color: $color-white;
$show-password-focus-label-color: $color-white;
$show-password-label-color: $color-grey-faint-text;

// Message box variables
$success-background-color: $green-50;
$success-text-color: $green-90;

// the photon styleguide says info boxes should be grey instead of blue
$info-background-color: $grey-20;
$info-text-color: $grey-90;

$warning-background-color: $yellow-50;
$warning-text-color: $yellow-90;

$error-background-color: $red-60;
$error-text-color: $color-white;

$text-color: $color-grey-text;

//Modal colors
$modal-border-color: $color-black;
$modal-background-color-iframe: $color-white;

//Settings Specific Colors
$settings-header-border-bottom: $grey-40;

//Radio Button Colors
$radio-border-default-color: $grey-40;
$radio-border-dot-color: #0097d0;
$radio-box-shadow-color: #55b8eb;

//Radio Button Variables
$radio-height: 10px;
$radio-width: 10px;
$radio-padding: 4px;
$radio-margin: 5px;

//Reset Password Colors
$reset-pw-warning: #d70022;

//Font-Size Variables
$large-font: 24px;
$medium-font: 18px;
$base-font: 14px;
$small-font: 12px;
$media-adjustment: 2px;

//Border-Radius Variables
$small-border-radius: 2px;
$big-border-radius: 4px;

//Animation Variables
$short-transition: 150ms;
$medium-transition: $short-transition * 3;
$long-transition: $short-transition * 7;

//Settings UI Height Hack
$settings-ui-height: 630px;

//Avatar Variables
$avatar-size: 240px;
$avatar-spinner-color: $color-grey-spinner;
$profile-image-fade-in-duration: 150ms;

// The Firefox logo
$fox-logo-zindex: 1;

//IFrame close button
$close-button-color: $color-grey-spinner;
$close-button-zindex: $fox-logo-zindex + 1;

$recovery-code-color: #666;

$image-url-path: '/images/' !default;

@function image-url($url) {
  @return url('#{$image-url-path}#{$url}');
}
