//Font Family Variables
$default-font: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: "Fira Sans", Helvetica, Arial, sans-serif;

//Color Variables
$button-background-color: #0095dd;
$button-background-disabled-color: #8a9ba8;
$button-background-hover-color: #08c;
$error-background-color: #d63920;
$error-text-color: #d63920;
$html-background-color: #f2f2f2;
$input-border-color: #424f59;
$input-text-color: #424f59;
$input-placeholder-color: #8a9ba8;
$input-row-border-color: #8a9ba8;
$input-row-focus-border-color: #0095dd;
$input-row-hover-border-color: #424f59;
$input-row-box-shadow-color: #f2f2f2;
$input-left-right-padding: 20px;
$link-color: #0095dd;
$marketing-background-color: #f5f5f5;
$marketing-border-color: #c3cfd8;
$message-text-color: #fff;
$mobile-html-background-color: #fff;
$show-password-background-color: #9aabb8;
$show-password-label-color: #8a9ba8;
$stage-background-color: #fff;
$success-background-color: #5fad47;
$text-color: #424f59;

//Border-Radius Variables
$small-border-radius: 2px;
$big-border-radius: $small-border-radius * 2;

//Animation Variables
$short-transition: 150ms;
$medium-transition: $short-transition * 3;
$long-transition: $short-transition * 7;

@mixin font() {
  font-family: $default-font;
}
@mixin header-font() {
  font-family: $header-font;
}
