//Font Family Variables
$default-font: 'Fira Sans', Helvetica, Arial, sans-serif;
$header-font: 'Fira Sans', Helvetica, Arial, sans-serif;

//Default color variables
$color-black: #000;
$color-blue-dark: #0670cc;
$color-blue-darker: #005bab;
$color-blue-darkest: #004480;
$color-blue: #0996f8;

$color-blue-focus-ring: hsla(208, 100%, 69%, .75);

$color-green-dark: #40a624;
$color-green-darker: #399320;
$color-green-darkest: #2e761a;
$color-green-lightest: #e2fddc;
$color-green: #57bd35;

$color-grey-dark: #858585;
$color-grey-light: #d4d4d4;
$color-grey-lighter: #ebebeb;
$color-grey-lightest: #fbfbfb;
$color-grey: #b1b1b1;

$color-grey-disabled: #999;
$color-grey-faint-text: #8a9ba8;
$color-grey-spinner: #c3cfd8;
$color-grey-text: #424f59;

$color-orange: #ff9500;

$color-red: #d63920;

$color-white-dark: #f2f2f2;
$color-white: #fff;

//Button specific colors
$button-background-active-color: $color-blue-darker;
$button-background-color: $color-blue;
$button-background-default-color: $color-grey-lightest;
$button-background-disabled-color: $color-grey-disabled;
$button-background-hover-color: $color-blue-dark;
$button-border-active-color: $color-blue-darkest;
$button-border-default-color: $color-blue-dark;
$button-border-disabled-color: $color-grey;
$button-border-hover-color: $color-blue-darker;

$button-box-shadow-color: $color-blue-focus-ring;
$button-disabled-color: $color-grey-disabled;

$chromeless-html-background-color: $color-white;
$content-background-color: $color-white;
$cropper-background-color: $color-black;
$error-background-color: $color-red;
$warning-background-color: $color-orange;
$error-text-color: $color-red;
$faint-text-color: $color-grey-faint-text;
$horizontal-rule-color: darken($color-grey-light, 5);
$html-background-color: $color-white-dark;
$info-background-color: $color-blue;

//Input specific colors
$input-background-disabled-color: $color-white-dark;
$input-border-color: $color-grey-text;
$input-border-disabled-color: $color-grey-light;
$input-disabled-color: $color-grey-faint-text;
$input-left-right-padding: 20px;
$input-placeholder-color: $color-grey-faint-text;
$input-row-border-color: $color-grey-faint-text;
$input-row-box-shadow-color: $color-white-dark;
$input-row-focus-border-color: $color-blue;
$input-row-focus-box-shadow-color: $color-blue-focus-ring;
$input-row-hover-border-color: $color-grey-text;
$input-text-color: $color-grey-text;

$link-color: $button-background-color;
$marketing-border-color: $color-grey-spinner;
$message-text-color: $color-white;
$mobile-html-background-color: $color-white;

$secondary-button-background-color: $color-grey-lightest;
$secondary-button-border-color: lighten($color-grey, 5);

$show-password-background-color: #9aabb8;
$show-password-focus-label-color: $color-white;
$show-password-label-color: $color-grey-faint-text;

$success-background-color: #5fad47;
$text-color: $color-grey-text;

//Modal colors
$modal-border-color: $color-black;
$modal-background-color-iframe: $color-white;

//Settings Specific Colors
$settings-header-border-bottom: #b4bdc3;
$settings-success-background-color: #cdf8d0;
$settings-success-border-color: $color-green-dark;

//Radio Button Colors
$radio-border-default-color: #c1c1c1;
$radio-border-dot-color: #0097d0;
$radio-box-shadow-color: #55b8eb;

//Radio Button Variables
$radio-height: 10px;
$radio-width: 10px;
$radio-padding: 4px;
$radio-margin: 5px;

//Reset Password Colors
$reset-pw-text-background-color: #f25820;
$reset-pw-text-color: $color-white;

//Font-Size Variables
$large-font: 24px;
$medium-font: 18px;
$base-font: 14px;
$small-font: 12px;
$media-adjustment: 2px;

//Border-Radius Variables
$small-border-radius: 2px;
//order matters here, cannot be sorted
$big-border-radius: $small-border-radius * 2;
$border-radius-inner: 3px;
$border-radius-osx: 4px;
$border-radius-outer: 4px;

//Animation Variables
$short-transition: 150ms;
$medium-transition: $short-transition * 3;
$long-transition: $short-transition * 7;

//Settings UI Height Hack
$settings-ui-height: 630px;

//Avatar Variables
$avatar-size: 240px;
$avatar-spinner-color: $color-grey-spinner;
$profile-image-fade-in-duration: 150ms;

// The Firefox logo
$fox-logo-zindex: 1;

//IFrame close button
$close-button-color: $color-grey-spinner;
$close-button-zindex: $fox-logo-zindex + 1;

$image-url-path: '/images/' !default;

@function image-url($url) {
  @return url('#{$image-url-path}#{$url}');
}
