//Font Family Variables
$default-font: "Clear Sans", Helvetica, Arial, sans-serif;
$header-font: "Fira Sans", Helvetica, Arial, sans-serif;

//Color Variables
$button-background-color: #0095dd;
$button-background-disabled-color: #8a9ba8;
$button-background-hover-color: #08c;
$error-background-color: #d63920;
$info-background-color: #0095dd;
$error-text-color: #d63920;
$html-background-color: #f2f2f2;
$chromeless-html-background-color: #fff;
$input-border-color: #424f59;
$input-text-color: #424f59;
$input-placeholder-color: #8a9ba8;
$input-row-border-color: #8a9ba8;
$input-row-focus-border-color: #0095dd;
$input-row-hover-border-color: #424f59;
$input-row-box-shadow-color: #f2f2f2;
$input-left-right-padding: 20px;
$link-color: #0095dd;
$marketing-border-color: #c3cfd8;
$message-text-color: #fff;
$mobile-html-background-color: #fff;
$show-password-background-color: #9aabb8;
$show-password-label-color: #8a9ba8;
$content-background-color: #fff;
$success-background-color: #5fad47;
$text-color: #424f59;
$faint-text-color: #8a9ba8;
$cropper-background-color: #000;
$horizontal-rule-color: #e4e4e4;
$input-background-disabled-color: #f2f2f2;
$input-border-disabled-color: #dddddd;
$input-disabled-color: #64778c;
$secondary-button-border-color: #c1c1c1;


//Settings Specific Colors
$settings-header-border-bottom: #b4bdc3;
$settings-success-background-color: rgb(205, 248, 208);
$settings-success-border-color: rgb(0, 170, 0);


//Font-Size Variables
$large-font: 24px;
$medium-font: 18px;
$base-font: 14px;
$small-font: 12px;
$media-adjustment: 2px;

//Border-Radius Variables
$small-border-radius: 2px;
$big-border-radius: $small-border-radius * 2;

//Animation Variables
$short-transition: 150ms;
$medium-transition: $short-transition * 3;
$long-transition: $short-transition * 7;

//Settings UI Height Hack
$settings-ui-height: 630px;

//Avatar Variables
$avatar-size: 240px;

// The Firefox logo
$fox-logo-zindex: 999;

//IFrame close button
$close-button-color: #c5cdd4;
$close-button-zindex: $fox-logo-zindex + 1;

$image-url-path: "/images/" !default;
@function image-url($url) {
  @return url("#{$image-url-path}#{$url}");
}
