@import '../../../../fxa-content-server/app/styles/variables';
@import '../../../../fxa-content-server/app/styles/breakpoints';

.checkout-payment {
  @include max-width('tablet') {
    grid-row: 4/5;
    border-radius: 8px;
    margin: 24px 16px;
    min-height: 100%;
  }

  @media (orientation: landscape) and (max-width: 927px) and (max-height: 429px) {
    grid-row: 4/5;
    border-radius: 8px;
    margin: 24px 16px;
    min-height: 100%;
  }

  @media (orientation: portrait) and (max-width: 429px) and (max-height: 927px) {
    grid-row: 4/5;
    border-radius: 8px;
    margin: 24px 16px;
    min-height: 100%;
  }

  @include min-width('desktop') {
    padding: 16px 48px 48px;
  }
}

.pay-with-heading {
  &:before,
  &:after {
    content: '';
    border-top: 1px solid #e0e0e6;
  }

  @include max-width('tablet') {
    margin-top: 16px;
  }
}
