@import '../../../../fxa-content-server/app/styles/breakpoints';

form.payment {
  .legal-blurb {
    clear: both;
    color: #686869;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;

    p {
      margin-bottom: 4px;
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .input-row {
    input {
      font-size: 14px;

      // overrides firefox's default box shadow for invalid els
      // we get this from our class system
      &:invalid {
        box-shadow: none;
      }

      &:-moz-submit-invalid {
        box-shadow: none;
      }

      &:-moz-ui-invalid {
        box-shadow:none;
      }
    }

    input::placeholder {
      color: #767676 !important;
      font-size: 14px;
      font-weight: 400;
      height: 45px;
      line-height: 45px;
    }
  }
}

@include respond-to('simpleSmall') {
  .StripeElement .InputContainer .InputElement::placeholder,
  form.payment .input-row input::placeholder {
    line-height: 38px !important;
  }

  .sign-in {
    margin-top: 25px;
  }

  .product-payment {
    h3.billing-title {
      padding-top: 0;
    }

    .profile-banner h3.email {
      margin-top: 15px;
    }
  }

  #main-content.payments-card {
    width: 100%;

    .input-row input,
    .input-row .StripeElement {
      padding-left: 5px !important;
    }
  }
}
