@import '../../../../../fxa-content-server/app/styles/variables';
@import '../../../../../fxa-content-server/app/styles/breakpoints';
@import '../../../styles/variables';

.product-payment {
  background: $color-white;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  color: rgba(12, 12, 13, 0.8);
  min-height: 100%;
  padding: 16px 16px 60px;
  width: 100%;

  @include min-width('tablet') {
    border-radius: 0;
    border-top: 0;
    min-height: 100%;
  }

  @include min-width('desktop') {
    padding: 28px 48px 48px;
  }
  .pay-with-heading {
    color: rgb(115, 115, 115);
    margin: 0 0 24px 0;
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
    &:before,
    &:after {
      content: '';
      border-top: 1px solid #e0e0e6;
    }
  }


  .subscription-create-pay-with-other .paypal-button {
    width: 240px;
    height: 48px + 48;
    margin: auto;
    position: relative;
    z-index: 0;
  }


  .subscription-create-pay-with-card .accepted-cards {
    justify-content: center;
  }

  .billing-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .subscription-create-heading {
    display: none;

    @include min-width('tablet') {
      display: block;
      text-align: center;

      h2 {
        font-weight: normal;
        margin-top: 20px;
      }
    }
  }

  .subheading {
    color: #008787;
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-bottom: 32px;
  }

  &:not(.product-upgrade) .subheading::before {
      background-image: url('./check.svg');
      background-position: center 2px;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      height: 24px;
      margin-right: 2px;
      width: 24px;
  }
}
