@import '../../../../../fxa-content-server/app/styles/variables';
@import '../../../../../fxa-content-server/app/styles/breakpoints';
@import '../../../styles/variables';

.subscription-title + .product-payment {
  border-top: 0;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -1px white, 0 1px white, -2px 2px 2px -2px rgba(12, 12, 13, 0.1), 2px 2px 2px -2px rgba(12, 12, 13, 0.1);

  @include max-width('tablet') {
    box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.1);
    border-radius: 8px;
  }
}

.product-payment {
  grid-row: 2/3;
  background: $color-white;
  box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.1);
  border-radius: 8px;
  color: rgba(12, 12, 13, 0.8);
  padding: 16px 16px 60px;

  @include max-width('tablet') {
    grid-row: 3/4;
    margin: 24px 16px;
  }

  @include min-width('tablet') {
    min-height: 100%;
  }

  @include min-width('desktop') {
    padding: 16px 48px 48px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: initial;
    margin-top: 20px;
    padding-bottom: 32px;
    text-align: center;

    @include min-width('desktop') {
      margin-top: 32px;
    }

    p {
      color: #6d6d6e;
    }
  }

  .pay-with-heading {
    color: rgb(115, 115, 115);
    margin: 0 0 24px 0;
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
    &:before,
    &:after {
      content: '';
      border-top: 1px solid #e0e0e6;
    }

    @include max-width('tablet') {
      margin-top: 16px;
    }
  }


  .subscription-create-pay-with-other .paypal-button {
    width: 240px;
    height: 48px + 48;
    margin: auto;
  }


  .subscription-create-pay-with-card .accepted-cards {
    justify-content: center;
  }

  .billing-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
