@import '../../../../../fxa-content-server/app/styles/variables';
@import '../../../../../fxa-content-server/app/styles/breakpoints';

.product-payment {
  background: white;
  border: 1px solid #E7E7E7;
  max-width: 600px;
  margin: 30px 0px;
  min-width: 375px;
  padding: 28px 16px 60px;

  @include min-width('tablet') {
    padding: 28px 48px 48px;
  }

  @include min-width('desktop') {
    margin: 30px 24px;
  }

  hr {
    margin: 24px 0 !important; // need to override default styles in `#main-content hr`
  }

  .subscription-create-heading {
    text-align: center;
  }

  .subheading {
    color: $grey-40;
    font-size: 15px;
  }
}
