.mobile-subscription-create-heading {
  grid-row: 1/2;
  margin: 0 auto;
  text-align: center;

  h2 {
    color: rgba(12, 12, 13, 0.8);
    font-weight: normal;
  }

  p {
    color: rgba(12, 12, 13, 0.6);
    font-size: 15px;
    margin-bottom: 0;
  }
}
