@import '../../../../../fxa-content-server/app/styles/breakpoints';

.product-payment {
  .subscription-ready {
    display: grid;
    grid-template-rows: repeat(6, auto);

    .subscription-message {
      margin: -16px 0 5px;
      padding-bottom: 20px;
    }

    h2 {
      font-size: 24px;
      font-weight: 500;
      margin: 0 0 8px;
    }

    p {
      font-size: 16px;
      margin: 20px 100px;
    }

    a {
      font-size: 16px;
    }

    .exp-message {
      font-size: 16px;
    }

    .subscription-ready h2 {
      margin: 0 0 8px;
    }
  }
}

.survey-frame {

  iframe {
    border: 0;
    height: 520px;
    overflow: hidden;
    width: 550px;

    @include respond-to('simpleSmall') {
      height: 580px;
      width: 100%;
    }
  }
}
