.product-payment {
  .subscription-ready {
    h2 {
      color: #20123b;
      font-size: 24px;
      font-weight: 500;
    }

    .graphic-fpn {
      background-image: url('../../../images/fpn.svg');
      background-size: 96px auto;
    }

    p {
      color: #0c0c0d;
      font-size: 16px;
      margin: 20px 100px;
    }

    a {
      font-size: 16px;
    }
  }
}
